page-login {

    .error-box {
        color: red;
    }
     
    .error-border {
        color: red;
    }

    .img-container{
        display: flex;
        justify-content: center
    }
    img{
        max-height:33vh
    }
    p{
        text-align:center
    }

    /*.img-container{
        display: flex;
        justify-content: center
    }
    img{
        max-height:33vh
    }
    p{
        text-align:center
    }

    .error-box {
        color: red;
    }
     
    .error-border {
        color: red;
    }

      /*.scroll-content {
        //background-color: map-get($colors, secondary);
        display: flex;
        flex-direction: column;
      }/*/
 
      ion-row {
        align-items: center;
        text-align: center;
      }/*
 
      ion-item {
          border-radius: 30px !important;
          padding-left: 10px !important;
          margin-bottom: 10px;
          background-color: #f6f6f6;
          opacity: 0.7;
          font-size: 0.9em;
      }
 
      ion-list {
          margin: 0;
      }
 
      .login-logo {
        flex: 2;
      }
 
      .login-form {
          flex: 1;
      }*/
 
      .create-account {
        color:seagreen;
        text-decoration: underline;
        background: none;
      }
 
      /*.login-button {
          width: 100%;
          border-radius: 30px;
          //color: transparent;
          font-size: 0.9em;
          background-color:  map-get($colors, secondary);
          border: 1px solid map-get($colors, secondary);
      }*/

      .connect-later {
        color: map-get($colors, fuma_primary);
        text-decoration: underline;
        background: none;
      }
}
