<!--
  Generated template for the AjouterEssai page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="fuma_primary">

    <ion-buttons start>
     
      <button *ngIf="aProfile == true" ion-button icon-only color="royal" (click)="profile()">
        <ion-icon name="person"></ion-icon>
      </button>

      <button *ngIf="aProfile == false" ion-button icon-only color="royal" (click)="connexion()">
        <ion-icon name="unlock"></ion-icon>
      </button>
    </ion-buttons>
    
    <ion-title>ajouter-essai</ion-title>

     <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="option()"><ion-icon name="options"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
 
</ion-header>


<ion-content padding>

     
<form [formGroup]="essaiForm" (ngSubmit) = "ajouter()">

  
  <ion-item>
    <ion-label floating>Date d'ajout <span class="error-box">*</span></ion-label>
    <ion-datetime displayFormat="DD/MM/YYYY" formControlName="today" cancelText="Annuler" doneText="Valider"></ion-datetime>
  </ion-item>

  <ion-item>
      <ion-label floating>Choisir l'année</ion-label>
      <ion-select formControlName="annee_essai" [(ngModel)]="selectedAnnee" cancelText="Annuler" okText="Ok" (ionChange)="chargerTraitements(selectedAnnee)" >
        <ion-option value="" selected disabled>Selectionnez l'année</ion-option>
        <ion-option *ngFor="let annee of annees" [value]=annee>{{annee}}</ion-option>
      </ion-select>
    </ion-item>
  <div style="padding-left: 15px;" class="error-box" *ngIf="essaiForm.controls['annee_essai'].hasError('required') && essaiForm.controls['annee_essai'].touched">* l'année de l'essai' est obligatoir!</div>

  <ion-item>
    <ion-label floating>Code essai <span class="error-box">*</span></ion-label>
    <ion-input type="text" formControlName="code_essai" [(ngModel)]="code_essai" disabled></ion-input>
  </ion-item> 

  <ion-row *ngIf="!matricule_producteur">
    <ion-col>
      <ion-auto-complete [dataProvider]="ServiceAutoCompletion" [options]="{ placeholder : 'Matricule producteur' }" (itemSelected)="itemSelected($event)" ></ion-auto-complete>  
    </ion-col>
  </ion-row>

  <ion-item *ngIf="matricule_producteur">
    <ion-label floating>Matricule producteur <span class="error-box">*</span></ion-label>
    <ion-input type="text" formControlName="matricule_producteur" [(ngModel)]="matricule_producteur" disabled></ion-input>
  </ion-item> 

  <ion-item>
    <ion-label floating>Nom producteur <span class="error-box">*</span></ion-label>
    <ion-input type="text" formControlName="nom_producteur" [(ngModel)]="nom_producteur" disabled></ion-input>
  </ion-item>
  <div style="padding-left: 15px;" class="error-box" *ngIf="essaiForm.controls['nom_producteur'].hasError('required') && essaiForm.controls['nom_producteur'].touched">* le nom du producteur est obligatoir!</div>
   
  <ion-item>
    <ion-label floating>Sex producteur <span class="error-box">*</span></ion-label>
    <ion-input type="text" formControlName="sex_producteur" [(ngModel)]="sex_producteur" disabled></ion-input>
  </ion-item>
  <div style="padding-left: 15px;" class="error-box" *ngIf="essaiForm.controls['sex_producteur'].hasError('required') && essaiForm.controls['sex_producteur'].touched">* le sex du producteur est obligatoir!</div>
   
   <ion-item>
    <ion-label floating>Classe producteur <span class="error-box">*</span></ion-label>
    <ion-input type="text" formControlName="classe_producteur" [(ngModel)]="classe_producteur" disabled></ion-input>
  </ion-item>
  <div style="padding-left: 15px;" class="error-box" *ngIf="essaiForm.controls['classe_producteur'].hasError('required') && essaiForm.controls['classe_producteur'].touched">* la classe du producteur est obligatoir!</div>
   
   <ion-item>
    <ion-label floating>Site <span class="error-box">*</span></ion-label>
    <ion-input type="text" formControlName="site_producteur" [(ngModel)]="site_producteur" disabled></ion-input>
  </ion-item>
  <div style="padding-left: 15px;" class="error-box" *ngIf="essaiForm.controls['site_producteur'].hasError('required') && essaiForm.controls['site_producteur'].touched">* le site du producteur est obligatoir!</div>
   
   <ion-item>
    <ion-label floating>Village <span class="error-box">*</span></ion-label>
    <ion-input type="text" formControlName="village_producteur" [(ngModel)]="village_producteur" disabled></ion-input>
  </ion-item>
  <div style="padding-left: 15px;" class="error-box" *ngIf="essaiForm.controls['village_producteur'].hasError('required') && essaiForm.controls['village_producteur'].touched">* le village du producteur est obligatoir!</div>
   
   <ion-item> 
    <ion-label floating>Selectionnez le champs <span class="error-box">*</span></ion-label>
    <ion-select formControlName="id_champs" [(ngModel)]="selectedChamps" cancelText="Annuler" okText="Ok" (ionChange)="chargerInfoChamps(selectedChamps.data)" >
      <ion-option value="" selected disabled>Selectionnez le champs</ion-option>
      <ion-option *ngFor="let c of champs" [value]=c >{{c.data.nom}}</ion-option>
    </ion-select> 
  </ion-item>
  <div style="padding-left: 15px;" class="error-box" *ngIf="essaiForm.controls['id_champs'].hasError('required') && essaiForm.controls['id_champs'].touched">* le champs est obligatoir!</div>


  <ion-item>
    <ion-label floating>Type de sole <span class="error-box">*</span></ion-label>
    <ion-input type="text" formControlName="type_sole" [(ngModel)]="type_sole" disabled ></ion-input>
  </ion-item>
  <div style="padding-left: 15px;" class="error-box" *ngIf="essaiForm.controls['type_sole'].hasError('required') && essaiForm.controls['type_sole'].touched">* le type de sole du champs est obligatoir!</div>
  
  <ion-item>
    <ion-label floating>Superficie (ha) <span class="error-box">*</span></ion-label>
    <ion-input type="number" formControlName="superficie" [(ngModel)]="superficie" disabled ></ion-input>
  </ion-item>
  <div style="padding-left: 15px;" class="error-box" *ngIf="essaiForm.controls['superficie'].hasError('required') && essaiForm.controls['superficie'].touched">* la superficie du champs est obligatoir!</div>

  <ion-item>
    <ion-label floating>Longitude</ion-label>
    <ion-input type="text" formControlName="longitude" [(ngModel)]="longitude" disabled ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Latitude</ion-label>
    <ion-input type="text" formControlName="latitude" [(ngModel)]="latitude" disabled></ion-input>
  </ion-item>

  <ion-item> 
    <ion-label floating>Selectionnez l'entrée <span class="error-box">*</span></ion-label>
    <ion-select formControlName="nom_entree" [(ngModel)]="selectedTraitement" cancelText="Annuler" okText="Ok">
      <ion-option value="" selected disabled>Selectionnez l'entrée</ion-option>
      <ion-option *ngFor="let t of traitements" [value]=t >{{t.data.nom_entree}}</ion-option>
    </ion-select> 
  </ion-item>
  <div style="padding-left: 15px;" class="error-box" *ngIf="essaiForm.controls['nom_entree'].hasError('required') && essaiForm.controls['nom_entree'].touched">* le nom de l'entrée est obligatoir!</div>

   <ion-item>
    <ion-label floating>Superficie essai (m²) <span class="error-box">*</span></ion-label>
    <ion-input type="number" formControlName="superficie_essai"></ion-input>
  </ion-item>
  <div style="padding-left: 15px;" class="error-box" *ngIf="essaiForm.controls['superficie_essai'].hasError('required') && essaiForm.controls['superficie_essai'].touched">* la superficie de l'essai est obligatoir!</div>


  <ion-item>
    <ion-label floating>Date sémi</ion-label>
    <ion-datetime displayFormat="DD/MM/YYYY" formControlName="date_semis" cancelText="Annuler" doneText="Valider"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label floating>NPL</ion-label>
    <ion-input type="number" formControlName="NPL"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Gesion 1 ou 2</ion-label>
    <ion-input type="text" formControlName="gestion"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Date récolte</ion-label>
    <ion-datetime displayFormat="DD/MM/YYYY" formControlName="date_recolte" cancelText="Annuler" doneText="Valider"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label floating>NPR</ion-label>
    <ion-input type="number" formControlName="NPR"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>PDE (kg)</ion-label>
    <ion-input type="number" formControlName="PDE"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Objectif de l'essai</ion-label>
    <ion-textarea formControlName="objectif_essai" row="6"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label floating>Observation</ion-label>
    <ion-textarea formControlName="observation" row="6"></ion-textarea>
  </ion-item>

    <br>
    <button ion-button type="submit" color="my_secondary" [disabled]="!essaiForm.valid" block>Sauvegarder</button>
  </form>
  <button ion-button color="my_primary" block (click)="annuler()">Annuler</button>

</ion-content>
