page-ajouter-essai {
      .error-box {
        color: red;
    }
     
    .error-border {
        color: red;
    }

    ion-auto-complete {
        width: 96vw;
        //z-index: -100px;

    }
}
