<!--
  Generated template for the Membres page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="fuma_primary">

    <ion-buttons *ngIf="ajoutForm || detailMembre || modifierForm" left>
      <button ion-button icon-only color="royal" (click)="annuler()"><ion-icon name="arrow-back"></ion-icon></button>
    </ion-buttons>

    <ion-buttons *ngIf="!ajoutForm && !detailMembre && !modifierForm" start>

      <button ion-button *ngIf="rechercher" icon-only>
          <ion-spinner></ion-spinner>
      </button>

      <button ion-button icon-only>
        <ion-badge color="fuma-green" item-right>{{membres.length}}</ion-badge>
      </button>

      <button ion-button icon-only color="royal" *ngIf="aProfile" (click) = "sync()" >
        <ion-icon name="sync"></ion-icon>
      </button>

      <!--button ion-button icon-only color="royal" (click) = "copierDB()" >
         <ion-icon name="arrow-dropup-circle"></ion-icon>
      </button-->

      <button *ngIf="aProfile == true" ion-button icon-only color="royal" (click)="profile()">
        <ion-icon name="person"></ion-icon>
      </button>

      <button *ngIf="aProfile == false" ion-button icon-only color="royal" (click)="connexion()">
        <ion-icon name="unlock"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons *ngIf="ajoutForm || modifierForm" start start>
      <button ion-button icon-only color="royal" (click)="takePhoto()">
        <ion-icon name="camera"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title *ngIf="!ajoutForm && !detailMembre && !modifierForm" >membres</ion-title>
    <ion-title *ngIf="ajoutForm && !modifierForm" >ajouter-membres</ion-title>
    <ion-title *ngIf="detailMembre" >detail-membres</ion-title>
    <ion-title *ngIf="modifierForm" >modifier-membres</ion-title>
    <ion-buttons *ngIf="!ajoutForm && !detailMembre && !modifierForm" end>
      <button ion-button icon-only color="royal" (click)="option()"><ion-icon name="options"></ion-icon></button>
    </ion-buttons>

    <ion-buttons *ngIf="ajoutForm || modifierForm" end>
      <!--button ion-button icon-only color="royal" (click)="option()"><ion-icon name="options"></ion-icon></button-->
      <button ion-button icon-only color="royal" (click)="chooseImage()">
        <ion-icon name="image"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-refresher *ngIf="!ajoutForm && !detailMembre && !modifierForm" (ionRefresh)="getInitMemebre($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Tirer pour actualiser"
      refreshingSpinner="circles"
      refreshingText="Actualisation...">
    </ion-refresher-content>
  </ion-refresher>


  <!--div *ngIf="!ajoutForm && !detailMembre && !modifierForm" -->
  <div [hidden]="ajoutForm || detailMembre || modifierForm" >

  <ion-list>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating>Choisir la source</ion-label>
          <ion-select [(ngModel)]="selectedSource" (ionChange)="choixSource()" cancelText="Annuler" okText="Ok" >
            <ion-option value="" selected disabled>Selectionnez la source</ion-option>
            <ion-option value="application">Application</ion-option>
            <ion-option value="kobo">Kobo</ion-option>
            <!--ion-option value="tous">Tous</ion-option-->
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label floating>Choisir la limite</ion-label>
          <ion-select [(ngModel)]="selectedLimit" (ionChange)="choixLimit()" cancelText="Annuler" okText="Ok" >
            <ion-option value="" selected disabled>Selectionnez la limite</ion-option>
            <ion-option *ngFor="let limit of limits" [value]=limit>{{limit}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-item>
      <ion-label floating>Style affichage</ion-label>
      <ion-select [(ngModel)]="selectedStyle" cancelText="Annuler" okText="Ok" >
        <ion-option value="" selected disabled>Selectionnez le style de la liste</ion-option>
        <ion-option value="liste" >Liste</ion-option>
        <ion-option value="tableau" >Tableau</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>Type de recherche</ion-label>
      <ion-select [(ngModel)]="typeRecherche" (ionChange)="typeRechercheChange()" cancelText="Annuler" okText="Ok" >
        <!--ion-option value="" selected disabled>Selectionnez le type de recherche</ion-option-->
        <ion-option value="matricule" >Par matricule membre</ion-option>
        <ion-option value="nom" >Par nom membre</ion-option>
        <ion-option value="site" >Par site</ion-option>
        <ion-option value="village" >Par village</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-searchbar *ngIf="typeRecherche == 'nom'" placeholder="Rechercher par nom..." [showCancelButton]="shouldShowCancel" (ionInput)="getItems($event)"></ion-searchbar>
      <ion-searchbar *ngIf="typeRecherche == 'matricule'" [(ngModel)]="recherche" placeholder="Rechercher par matricule..." [showCancelButton]="shouldShowCancel" (ionInput)="getItems($event)"></ion-searchbar>
      <ion-searchbar *ngIf="typeRecherche == 'site'" placeholder="Rechercher par site..." [showCancelButton]="shouldShowCancel" (ionInput)="getItems($event)"></ion-searchbar>
      <ion-searchbar *ngIf="typeRecherche == 'village'" placeholder="Rechercher par village..." [showCancelButton]="shouldShowCancel" (ionInput)="getItems($event)"></ion-searchbar>
    </ion-item>
  </ion-list>

  <br>
  <ion-list class="info-card" *ngIf="membres.length > 0 && selectedStyle === 'liste'">
    <ion-list-header>
        <h2  class="fond-gris"><strong>Liste des membres <span *ngIf="num_aggrement_op">
    de l'OP: {{nom_op}} - N.A: {{num_aggrement_op}}
  </span> </strong></h2>
      </ion-list-header>
      <ion-item-sliding *ngFor="let membre of membres">
    <ion-item >
  <!--ion-list [virtualScroll]="membres">
    <ion-item *virtualItem="let membre"-->
      <!--ion-row>
        <ion-col->
          <ion-thumbnail item-left-->
          <ion-avatar item-left>
            <img [src]="membre.photo" imageViewer />
          </ion-avatar>
          <span  (click)="detail(membre, true)" >
           <h6><strong>Matricule:</strong> {{membre.doc.data.matricule_Membre}}</h6>
           <h6><strong>Nom:</strong> {{membre.doc.data.nom_Membre}} <span *ngIf="membre.doc.data.surnom_Membre">({{membre.doc.data.surnom_Membre}})</span> </h6>
        <!--/ion-col>
        <ion-col class="aligneDate"-->
          <!--p><strong>Date:</strong> {{membre.doc.data.today | date: 'dd-MM-yyyy'}}</p-->
          </span>
        <!--/ion-col>
      </ion-row-->
    </ion-item>
    <ion-item-options *ngIf="(user && user.roles && global.estManager(user.roles)) || estManger" side="right">
        <button ion-button icon-only color="my_primary" (click)="partager(membre.doc)">
          <ion-icon name="share"></ion-icon>
        </button>
      </ion-item-options>
  </ion-item-sliding>
  </ion-list>

  <ion-list *ngIf="!membres.length > 0">
    <ion-item>
      <div class="message">La liste est vide!</div>
    </ion-item>    
  </ion-list>

  <ion-card class="info-card" *ngIf="membres.length > 0 && selectedStyle === 'tableau'">
    <ion-card-header>
      <h2 class="fond-gris"><strong>Liste des membres <span *ngIf="num_aggrement_op">de l'OP: {{nom_op}} - <strong>N.A:</strong> {{num_aggrement_op}}</span></strong></h2>
    </ion-card-header> 
    <ion-scroll scrollX="true" scrollY="true" id="membre_tableau" style="height: 80vh"> 

    <table class="table table-striped table-bordered">
      <thead>
        <tr>
        <th style="min-width: 105px" >
          <strong>Matricule</strong>
        </th>
        <th style="min-width: 130px" >
          <strong>Nom</strong>
        </th>
        <th>
          <strong>Surnom</strong>
        </th>
        <th  >
          <strong>Sex</strong>
        </th>
        <th >
          <strong>Nom OP</strong> 
        </th>
        <th  >
          <strong>Code OP</strong>
        </th>
        <th  >
          <strong>Code union</strong>
        </th>
        <th>
          <strong>Pays</strong>
        </th>
        <th >
          <strong>Région</strong>
        </th>
        <th style="min-width: 100px" >
          <strong>Departement</strong>
        </th>
        <th  >
          <strong>Commune/Site</strong>
        </th>
        <th  >
          <strong>Village</strong>
        </th>
        </tr>
      </thead>
      <!--hr style="width: 375%"-->
      <tbody>
        <tr *ngFor="let membre of membres" (click)="detail(membre, true)">
          <td  >
            {{membre.doc.data.matricule_Membre}}
          </td>
          <td  >
            {{membre.doc.data.nom_Membre}}
          </td>
          <td  >
            {{membre.doc.data.surnom_Membre}}
          </td>
          <td  >
            <span *ngIf="membre.doc.data.genre == 'male'">Homme</span><span *ngIf="membre.doc.data.genre == 'female'">Femme</span>
          </td>
          <td  >
            {{membre.doc.data.op_nom}}
          </td>
          <td  >
            {{membre.doc.data.op_code}}
          </td>

          <td  >
            {{membre.doc.data.code_union}}
          </td>
          
          <td  >
            {{membre.doc.data.pays_nom}}
          </td>
          <td  >
            {{membre.doc.data.region_nom}}
          </td>
          <td  >
            {{membre.doc.data.departement_nom}}
          </td>
          <td  >
            {{membre.doc.data.commune_nom}}
          </td>
          <td  >
            {{membre.doc.data.village_nom}}
          </td>         
        </tr>
      </tbody>
    </table>
  </ion-scroll>
</ion-card>

  
  <div *ngIf="membres.length > 0">
      <br><br><br><br>
    </div>
  </div>

  <ion-card [hidden]="!detailMembre" >
    <ion-row>
      <ion-col class='meta-key' *ngIf="membre" >
        <img [src]="membre.photo" style="max-height: 55vh" imageViewer />
      </ion-col>
      <ion-col class='meta-value'>
        <h2 *ngIf="membre.doc" >{{membre.doc.data.nom_Membre}}</h2>
        <img #barcode id="barcode">
      </ion-col>
    </ion-row>
  </ion-card>

  <div *ngIf="detailMembre">

    <ion-card class="info-card" (dblclick)="editer(membre, membre.photo, membre.photoDocId, membre.photoDocRev, true)">
      <ion-card-header>
        <strong>Informations</strong>
      </ion-card-header>
      <ion-card-content>          
        <ion-grid>
          <ion-row><ion-col class='meta-key'><strong>Matricule:</strong></ion-col> <ion-col class='meta-value'>{{membre.doc.data.matricule_Membre}} </ion-col>   </ion-row>
          <ion-row><ion-col class='meta-key'><strong>Nom:</strong></ion-col> <ion-col class='meta-value'>{{membre.doc.data.nom_Membre}} </ion-col>   </ion-row>
          <ion-row><ion-col class='meta-key'><strong>Surnom:</strong></ion-col> <ion-col class='meta-value'>{{membre.doc.data.surnom_Membre}} </ion-col>   </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Matricule:</strong> </ion-col> <ion-col class='meta-value'> {{membre.doc.data.matricule_Membre}} </ion-col> </ion-row>
          <ion-row>
            <ion-col class='meta-key'>
              <strong>Sex:</strong>
            </ion-col>
            <ion-col class='meta-value'>
              <span *ngIf="membre.doc.data.genre == 'male'">Homme</span><span *ngIf="membre.doc.data.genre == 'female'">Femme</span>
            </ion-col>
          </ion-row>

          <ion-row> <ion-col class='meta-key'><strong>Date de naissance:</strong> </ion-col> <ion-col class='meta-value'> {{membre.doc.data.date_naissance | date: 'dd-MM-yyyy'}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Age:</strong> </ion-col> <ion-col class='meta-value'> {{age1}} </ion-col> </ion-row>
          
          <!--ion-row *ngIf="membre.doc.data.classe != 'AUTRE' && !membre.doc.data.classe_nom">
            <ion-col class='meta-key'>
              <strong>Classe:</strong>
              </ion-col>
              <ion-col class='meta-value'>
                {{membre.doc.data.classe}}
              </ion-col>
          </ion-row>
          <ion-row *ngIf="membre.doc.data.classe != 'AUTRE' && membre.doc.data.classe_nom">
            <ion-col class='meta-key'>
              <strong>Classe:</strong>
            </ion-col>
            <ion-col class='meta-value'>
                {{membre.doc.data.classe_nom}}
            </ion-col>
          </ion-row>
          <ion-row *ngIf="membre.doc.data.classe == 'AUTRE'">
            <ion-col class='meta-key'>
              <strong>Classe:</strong>
            </ion-col>
            <ion-col class='meta-value'>
                {{membre.doc.data.classe_autre}}
            </ion-col>
          </ion-row-->

            <ion-row *ngIf="membre.doc.data.op != 'AUTRE' && !membre.doc.data.op_nom">
            <ion-col class='meta-key'>
              <strong>OP:</strong>
            </ion-col>
            <ion-col class='meta-value'>
                {{membre.doc.data.op}}
            </ion-col>
            </ion-row>
          <ion-row *ngIf="membre.doc.data.op != 'AUTRE' && membre.doc.data.op_nom">
            <ion-col class='meta-key'>
                <strong>OP:</strong>
            </ion-col>
            <ion-col class='meta-value'>
                {{membre.doc.data.op_nom}}
            </ion-col>
          </ion-row>
          <ion-row *ngIf="membre.doc.data.op == 'AUTRE'">
            <ion-col class='meta-key'>
              <strong>OP:</strong>
            </ion-col>
            <ion-col class='meta-value'>
                {{membre.doc.data.op_autre}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class='meta-key'>
              <strong>Code OP:</strong>
            </ion-col> 
              <ion-col class='meta-value'>
              {{membre.doc.data.op_code}}
              </ion-col>
          </ion-row>
            <ion-row>
            <ion-col class='meta-key'>
              <strong>Code union:</strong>
            </ion-col> 
              <ion-col class='meta-value'>
              {{membre.doc.data.code_union}}
              </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class='meta-key'>
              <strong>Date enregistrement:</strong>
            </ion-col> 
              <ion-col class='meta-value'>
              {{membre.doc.data.today | date: 'dd-MM-yyyy'}}
              </ion-col>
          </ion-row>
          <ion-row *ngIf="membre.doc.data.pays != 'AUTRE' && !membre.doc.data.pays_nom">
            <ion-col class='meta-key'>
              <strong>Pays:</strong> 
            </ion-col>
            <ion-col class='meta-value'>
              {{membre.doc.data.pays}} 
            </ion-col>
          </ion-row>
          <ion-row *ngIf="membre.doc.data.pays != 'AUTRE' && membre.doc.data.pays_nom">
            <ion-col class='meta-key'>
              <strong>Pays:</strong>
            </ion-col>
            <ion-col class='meta-value'>
                {{membre.doc.data.pays_nom}}
            </ion-col>
          </ion-row>
          <ion-row *ngIf="membre.doc.data.pays == 'AUTRE'">
            <ion-col class='meta-key'>
              <strong>Pays:</strong>
            </ion-col>
            <ion-col class='meta-value'>
                {{membre.doc.data.pays_autre}} 
            </ion-col>
          </ion-row>
          <ion-row *ngIf="membre.doc.data.region != 'AUTRE' && !membre.doc.data.region_nom">
            <ion-col class='meta-key'>
              <strong>Région:</strong>
            </ion-col>
            <ion-col class='meta-value'>
                {{membre.doc.data.region}}
            </ion-col>
          </ion-row>
          <ion-row *ngIf="membre.doc.data.region != 'AUTRE' && membre.doc.data.region_nom">
            <ion-col class='meta-key'>
              <strong>Région:</strong>
            </ion-col>
            <ion-col class='meta-value'> 
              {{membre.doc.data.region_nom}}
            </ion-col>
          </ion-row>
          <ion-row *ngIf="membre.doc.data.region == 'AUTRE'">
            <ion-col class='meta-key'>
              <strong>Région:</strong> 
            </ion-col>
            <ion-col class='meta-value'>
              {{membre.doc.data.region_autre}}
            </ion-col>
          </ion-row>
          <ion-row *ngIf="membre.doc.data.departement != 'AUTRE' && !membre.doc.data.departement_nom">
            <ion-col class='meta-key'>
              <strong>Departement:</strong>
            </ion-col>
            <ion-col class='meta-value'>
                {{membre.doc.data.departement}}
            </ion-col>
          </ion-row>
          <ion-row *ngIf="membre.doc.data.departement != 'AUTRE' && membre.doc.data.departement_nom">
            <ion-col class='meta-key'>
              <strong>Departement:</strong>
            </ion-col>
            <ion-col class='meta-value'>
                {{membre.doc.data.departement_nom}} 
            </ion-col>
          </ion-row>
          <ion-row *ngIf="membre.doc.data.departement == 'AUTRE'">
            <ion-col class='meta-key'>
              <strong>Departement:</strong>
            </ion-col>
            <ion-col class='meta-value'>
                {{membre.doc.data.departement_autre}} 
            </ion-col>
          </ion-row>
          <ion-row *ngIf="membre.doc.data.commune != 'AUTRE' && !membre.doc.data.commune_nom">
            <ion-col class='meta-key'>
              <strong>Commune/Site:</strong> 
            </ion-col>
            <ion-col class='meta-value'>
              {{membre.doc.data.commune}}
            </ion-col>
          </ion-row>
          <ion-row *ngIf="membre.doc.data.commune != 'AUTRE' && membre.doc.data.commune_nom">
            <ion-col class='meta-key'>
              <strong>Commune/Site:</strong>
            </ion-col>
            <ion-col class='meta-value'>
                {{membre.doc.data.commune_nom}}
            </ion-col>
          </ion-row>
          <ion-row *ngIf="membre.doc.data.commune == 'AUTRE'">
            <ion-col class='meta-key'>
            <strong>Commune/Site:</strong>
            </ion-col>
            <ion-col class='meta-value'>
                {{membre.doc.data.commune_autre}}
            </ion-col>
          </ion-row>
          <ion-row *ngIf="membre.doc.data.village != 'AUTRE' && !membre.doc.data.village_nom">
            <ion-col class='meta-key'>
              <strong>Village:</strong>
            </ion-col>
            <ion-col class='meta-value'>
                {{membre.doc.data.village}}
            </ion-col>
          </ion-row>
          <ion-row *ngIf="membre.doc.data.village != 'AUTRE' && membre.doc.data.village_nom">
            <ion-col class='meta-key'>
              <strong>Village:</strong>
            </ion-col>
            <ion-col class='meta-value'>
                {{membre.doc.data.village_nom}}
            </ion-col>
          </ion-row>
          <ion-row *ngIf="membre.doc.data.village == 'AUTRE'">
            <ion-col class='meta-key'>
              <strong>Village:</strong>
            </ion-col>
            <ion-col class='meta-value'>
                {{membre.doc.data.village_autre}}
            </ion-col>
          </ion-row>
        </ion-grid>
      
      </ion-card-content>
    </ion-card>


    <ion-card class="info-card" *ngIf="(user && user.roles && global.estManager(user.roles)) || estManager" (dblclick)="editer(membre, membre.photo, membre.photoDocId, membre.photoDocRev, true)"> 
      <ion-card-header>
        <strong>Plus d'informations</strong>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row><ion-col class='meta-key'><strong>Id:</strong></ion-col> <ion-col class='meta-value'>{{membre.doc._id}} </ion-col>   </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>No révision:</strong></ion-col> <ion-col class='meta-value'> {{membre.doc._rev }} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Date création:</strong></ion-col> <ion-col class='meta-value'> {{membre.doc.data.created_at | date: 'dd-MM-yyyy'}} à {{membre.doc.data.created_at | date: 'HH:mm:ss:ms'}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Créateur:</strong></ion-col> <ion-col class='meta-value'> {{membre.doc.data.created_by}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>ID appareil:</strong></ion-col> <ion-col class='meta-value'> {{membre.doc.data.deviceid}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Imei:</strong></ion-col> <ion-col class='meta-value'> {{membre.doc.data.imei}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Numéro téléphone:</strong></ion-col> <ion-col class='meta-value'> {{membre.doc.data.phonenumber}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Date dernière mise à jour:</strong></ion-col> <ion-col class='meta-value'> {{membre.doc.data.updatet_at | date: 'dd-MM-yyyy'}}  à {{membre.doc.data.updatet_at | date: 'HH:mm:ss:ms'}}</ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Dernière mise à jour par:</strong></ion-col> <ion-col class='meta-value'> {{membre.doc.data.updated_by}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>ID appareil:</strong></ion-col> <ion-col class='meta-value'> {{membre.doc.data.update_deviceid}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Imei:</strong></ion-col> <ion-col class='meta-value'> {{membre.doc.data.update_imei}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Numéro téléphone:</strong></ion-col> <ion-col class='meta-value'> {{membre.doc.data.update_phonenumber}} </ion-col> </ion-row>
          <ion-row *ngIf="membre.doc.data.deleted"> <ion-col class='meta-key'><strong>Date suppression:</strong></ion-col> <ion-col class='meta-value'> {{membre.doc.data.deleted_at | date: 'dd-MM-yyyy'}}  à {{membre.doc.data.deleted_at | date: 'HH:mm:ss:ms'}}</ion-col> </ion-row>
          <ion-row *ngIf="membre.doc.data.deleted"> <ion-col class='meta-key'><strong>Supprimé par:</strong></ion-col> <ion-col class='meta-value'> {{membre.doc.data.deleted_by}} </ion-col> </ion-row>
        </ion-grid>
      </ion-card-content> 
    </ion-card>
  </div>

  <div *ngIf="ajoutForm || modifierForm">

    <ion-card text-center>
      <img [src]="photo" *ngIf="photo" id="imageid">
    </ion-card>
    
    
  <form [formGroup]="membreForm" (ngSubmit) = "actionForm()" >

    <ion-item>
      <ion-label floating>Date d'enregistrement<span class="error-box">*</span></ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" formControlName="today" [(ngModel)]="today" cancelText="Annuler" doneText="Valider" disabled></ion-datetime>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating>Pays <span class="error-box">*</span></ion-label>
          <ion-input type="text" formControlName="pays" [(ngModel)]="pays" [hidden]="pays_nom"></ion-input>
          <ion-input *ngIf="pays_nom" type="text" formControlName="pays_nom" [(ngModel)]="pays_nom" disabled></ion-input>
          <!--ion-input *ngIf="pays_autre != 'NA'" type="text" formControlName="pays_autre" [(ngModel)]="pays_autre" disabled></ion-input-->

        </ion-item>
      </ion-col>

      <ion-col>
        <ion-item>
          <ion-label floating>Région<span class="error-box">*</span></ion-label>
          <ion-input type="text" formControlName="region" [(ngModel)]="region" [hidden]="region_nom"></ion-input>
          <ion-input *ngIf="region_nom" type="text" formControlName="region_nom" [(ngModel)]="region_nom" disabled></ion-input>
          <!--ion-input *ngIf="region_autre != 'NA'" type="text" formControlName="region_autre" [(ngModel)]="region_autre" disabled></ion-input-->
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating>Departement <span class="error-box">*</span></ion-label>
          <ion-input type="text" formControlName="departement" [(ngModel)]="departement" [hidden]="departement_nom"></ion-input>
          <ion-input *ngIf="departement_nom" type="text" formControlName="departement_nom" [(ngModel)]="departement_nom" disabled></ion-input>
          <!--ion-input *ngIf="departement_autre != 'NA'" type="text" formControlName="departement_autre" [(ngModel)]="departement_autre" disabled></ion-input-->
        </ion-item>
      </ion-col>

      <ion-col>
        <ion-item>
          <ion-label floating>Commune<span class="error-box">*</span></ion-label>
          <ion-input type="text" formControlName="commune" [(ngModel)]="commune" [hidden]="commune_nom" ></ion-input>
          <ion-input *ngIf="commune_nom" type="text" formControlName="commune_nom" [(ngModel)]="commune_nom" disabled></ion-input>
          <!--ion-input *ngIf="commune_autre != 'NA'" type="text" formControlName="commune_autre" [(ngModel)]="commune_autre" disabled></ion-input-->
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-item *ngIf="modifierForm">
      <ion-label floating>Selectionnez le village <span class="error-box">*</span></ion-label>
      <ion-select formControlName="village" [(ngModel)]="selectedVillageID" cancelText="Annuler" okText="Ok" (ionChange)="chargerAutreNomVillageID(selectedVillageID)" >
        <ion-option value="" selected disabled>Selectionnez le village</ion-option>
        <ion-option *ngFor="let villag of villages" [value]=villag.id >{{villag.nom}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="ajoutForm">
      <ion-label floating>Selectionnez le village <span class="error-box">*</span></ion-label>
      <ion-select formControlName="village" [(ngModel)]="indexSelectedVillage" cancelText="Annuler" okText="Ok" (ionChange)="chargerAutreNomVillage(indexSelectedVillage)" >
        <ion-option value="" selected disabled>Selectionnez le village</ion-option>
        <ion-option *ngFor="let villag of villages; let i = index" [value]=i >{{villag.nom}}</ion-option>
      </ion-select>
    </ion-item>
    <div style="padding-left: 15px;" class="error-box" *ngIf="membreForm.controls['village'].hasError('required') && membreForm.controls['village'].touched">* le village est obligatoir!</div>
    
    <!--ion-item *ngIf="selectedVillage" [hidden]="selectedVillage.id != 'AUTRE'">
      <ion-label floating>Nom village <span class="error-box">*</span></ion-label>
      <ion-input formControlName="village_autre" type="text"  [(ngModel)]="nom_autre_village" ></ion-input>
    </ion-item>
    <div style="padding-left: 15px;" class="error-box" *ngIf="membreForm.controls['village_autre'].hasError('required') && membreForm.controls['village_autre'].touched">* Le nom du village est obligatoire</div-->

  <ion-item *ngIf="modifierForm"> 
    <ion-label floating>Selectionnez l'OP <span class="error-box">*</span></ion-label>
    <ion-select formControlName="op" [(ngModel)]="selectedOPID" cancelText="Annuler" okText="Ok" (ionChange)="chargerAutreNomOPID(selectedOPID)" >
      <ion-option value="" selected disabled>Selectionnez l'OP</ion-option>
      <span *ngFor="let o of ops">
        <ion-option *ngIf="o.doc.data.num_aggrement" [value]=o.doc.data.num_aggrement >{{o.doc.data.code_OP}} - {{o.doc.data.nom_OP}}</ion-option>
      </span>
    </ion-select>
  </ion-item>

    <ion-item *ngIf="!num_aggrement_op && ajoutForm"> 
      <ion-label floating>Selectionnez l'OP <span class="error-box">*</span></ion-label>
      <ion-select formControlName="op" [(ngModel)]="selectedOP" cancelText="Annuler" okText="Ok" (ionChange)="chargerAutreNomOP(selectedOP.data.num_aggrement, selectedOP.data.code_OP)" >
        <ion-option value="" selected disabled>Selectionnez l'OP</ion-option>
        <span *ngFor="let o of ops">
          <ion-option *ngIf="o.doc.data.num_aggrement" [value]=o.doc >{{o.doc.data.code_OP}} - {{o.doc.data.nom_OP}}</ion-option>
        </span>
      </ion-select>  
    </ion-item> 
    <!--div style="padding-left: 15px;" class="error-box" *ngIf="membreForm.controls['op'].hasError('required') && membreForm.controls['op'].touched">* l'OP est obligatoir!</div-->
    
    <ion-item *ngIf="num_aggrement_op && ajoutForm">
      <ion-label floating>Num. aggrement OP <span class="error-box">*</span></ion-label>
      <ion-input formControlName="op" type="text"  [(ngModel)]="num_aggrement_op" disabled></ion-input>
    </ion-item>
    <div style="padding-left: 15px;" class="error-box" *ngIf="membreForm.controls['op'].hasError('required') && membreForm.controls['op'].touched">* L'OP est obligatoire</div>
    
    <ion-item *ngIf="num_aggrement_op && ajoutForm">
      <ion-label floating>Nom OP <span class="error-box">*</span></ion-label>
      <ion-input formControlName="op_nom" type="text"  [(ngModel)]="nom_op" disabled></ion-input>
    </ion-item>
    <div style="padding-left: 15px;" class="error-box" *ngIf="membreForm.controls['op_nom'].hasError('required') && membreForm.controls['op_nom'].touched">* Le nom de l'OP est obligatoire</div>
    

    <!--ion-item *ngIf="selectedOP" [hidden]="selectedOP.data.num_aggrement != 'AUTRE'">
      <ion-label floating>Nom OP <span class="error-box">*</span></ion-label>
      <ion-input formControlName="op_autre" type="text"  [(ngModel)]="nom_autre_op" ></ion-input>
    </ion-item>
    <div style="padding-left: 15px;" class="error-box" *ngIf="membreForm.controls['op_autre'].hasError('required') && membreForm.controls['op_autre'].touched">* Le nom de l'OP est obligatoire</div-->

    <ion-item>
      <ion-label floating>Matricule membre<span class="error-box">*</span></ion-label>
      <ion-input type="text" formControlName="matricule_Membre" [(ngModel)]="matricule" disabled></ion-input>
    </ion-item>
    <div style="padding-left: 15px;" class="error-box" *ngIf="membreForm.controls['matricule_Membre'].hasError('required') && membreForm.controls['matricule_Membre'].touched">* le numéro d'aggrément est obligatoir!</div>

    <ion-item>
      <ion-label floating>Nom membre <span class="error-box">*</span></ion-label>
      <!--ion-input type="text" formControlName="nom_Membre" [(ngModel)]="nom" (keyup)="getMatricule()" ></ion-input-->
      <ion-input type="text" formControlName="nom_Membre" [(ngModel)]="nom_Membre" ></ion-input>
    </ion-item>
    <div style="padding-left: 15px;" class="error-box" *ngIf="membreForm.controls['nom_Membre'].hasError('required') && membreForm.controls['nom_Membre'].touched">* le nom du membre est obligatoir!</div>
    
    <ion-item>
      <ion-label floating>Surnom membre</ion-label>
      <!--ion-input type="text" formControlName="nom_Membre" [(ngModel)]="nom" (keyup)="getMatricule()" ></ion-input-->
      <ion-input type="text" formControlName="surnom_Membre" [(ngModel)]="surnom_Membre" ></ion-input>
    </ion-item>

    <ion-item> 
      <ion-label floating>Selectionnez le sex <span class="error-box">*</span></ion-label>
      <ion-select formControlName="genre" [(ngModel)]="genre"  cancelText="Annuler" okText="Ok">
        <ion-option value="" selected disabled>Selectionnez le sex</ion-option>
        <ion-option value="male">Homme</ion-option>
        <ion-option value="female">Femme</ion-option>
      </ion-select>
    </ion-item>
    <div style="padding-left: 15px;" class="error-box" *ngIf="membreForm.controls['genre'].hasError('required') && membreForm.controls['genre'].touched">* le sex est obligatoir!</div>
    
    <ion-item>
      <ion-label floating>Date de naissance</ion-label>
      <ion-datetime  (ionChange)="setAge();" [max]="max_date" (ionCancel)="autreActionDate();" displayFormat="DD/MM/YYYY" formControlName="date_naissance" [(ngModel)]="date_naissance" cancelText="Annuler" okText="Valider"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label floating>Age approximative</ion-label>
      <ion-input type="number" formControlName="age" [(ngModel)]="age" (keyup)="setDate(age)"></ion-input>
    </ion-item>
    <!--ion-item> 
      <ion-label floating>Selectionnez la classe</ion-label>
      <ion-select formControlName="classe" [(ngModel)]="selectedClasse" cancelText="Annuler" okText="Ok" (ionChange)="chargerAutreNomClasse(selectedClasse.data.id)" >
        <ion-option value="" selected disabled>Selectionnez la classe</ion-option>
        <ion-option *ngFor="let c of classes" [value]=c >{{c.data.nom}}</ion-option>
      </ion-select>
    </ion-item> 
    <div style="padding-left: 15px;" class="error-box" *ngIf="membreForm.controls['classe'].hasError('required') && membreForm.controls['classe'].touched">* la classe est obligatoir!</div>
    
    <ion-item *ngIf="selectedClasse" [hidden]="selectedClasse.data.id != 'AUTRE'">
      <ion-label floating>Nom classe</ion-label>
      <ion-input formControlName="classe_autre" type="text"  [(ngModel)]="nom_autre_classe" ></ion-input>
    </ion-item>
    <div style="padding-left: 15px;" class="error-box" *ngIf="membreForm.controls['classe_autre'].hasError('required') && membreForm.controls['classe_autre'].touched">* Le nom de la classe est obligatoire</div-->


      <br>
      <button ion-button type="submit" color="my_secondary" [disabled]="!membreForm.valid" block>Sauvegarder</button>
    </form>
    <button ion-button color="my_primary" block (click)="annuler()">Annuler</button>

  </div>

  <ion-fab *ngIf="!ajoutForm && !modifierForm && !detailMembre && selectedStyle != 'tableau' && ((user && user.roles && global.estAnimataire(user.roles)) || estAnimataire)" bottom right>
    <button ion-fab mini (click)="ajouter()" color="my_primary"><ion-icon name="person-add"></ion-icon></button>
    <!--button ion-fab mini (click)="replicate()" color="my_primary"><strong>RP</strong></button-->
  </ion-fab>

  <ion-fab bottom right *ngIf="!ajoutForm && !modifierForm && !detailMembre && selectedStyle == 'tableau' && ((user && user.roles && global.estAnimataire(user.roles)) || estAnimataire)">
    <button ion-fab color="fuma-green"><ion-icon name="arrow-dropup"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab mini *ngIf="membres.length > 0" (click)="onPrint()" color="my_primary"><ion-icon name="print"></ion-icon></button>
      <button ion-fab mini *ngIf="membres.length > 0" (click)="exportExcel()" color="my_primary"><ion-icon name="logo-windows"></ion-icon></button>
      <button ion-fab mini (click)="ajouter()" color="my_primary"><ion-icon name="add"></ion-icon></button>
      
    </ion-fab-list>
  </ion-fab>

  <ion-fab bottom right *ngIf="detailMembre && ((user && user.roles && global.estAnimataire(user.roles)) || estAnimataire)" >
    <button ion-fab color="fuma-green"><ion-icon name="arrow-dropup"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab mini *ngIf="(user && user.roles && global.estManager(user.roles)) || estManager" (click)="supprimer(membre.doc)" color="delete" ><ion-icon name="trash"></ion-icon></button>
      <button ion-fab (click)="mesEssai(membre.doc.data.matricule_Membre, membre.doc.data.nom_Membre, membre.doc)" color="my_primary"><strong>ES</strong></button>
      <button ion-fab (click)="mesChamps(membre.doc.data.matricule_Membre, membre.doc.data.nom_Membre, membre.doc)" color="my_primary"><strong>CH</strong></button>
      <button ion-fab (click)="mesTypologies(membre.doc.data)" color="my_primary"><strong>TY</strong></button>
      <!--button ion-fab (click)="copierPhotoDB(membre)" color="my_primary"><strong>TRp</strong></button-->
      
      <button ion-fab mini (click)="editer(membre, membre.photo, membre.photoDocId, membre.photoDocRev)" color="my_primary" ><ion-icon name="create"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
