page-profile-view {
    img{
         max-height: 80vh;
         object-fit: contain;
    }
    ion-row{
        align-items:center;
    }
    h2{
        text-align: center;
    }
    .info-card{
        background:rgba(255,255,255,0.5); 
        margin:12px 0 0 0;
        width:100%;
        // height:100%;
        h2{
            font-weight:700
            }
    
    }
    .delete-button{
        margin-top:12px
    }
    .id-card{
        background-color: white;
        width:320px;
        height:200px;
        overflow-x: auto;
        img{
            // max-height:120px;
            // width:120px;
            object-fit: cover;
        }
        ion-col{
            padding:0;
        }
        #barcode{
            height:60px
        }
        ion-grid{
            padding:0;
        }
        .photo-holder{
            width:110px;
            height:200px;
            display: inline-block;
            align-items: center;
            justify-content: center;
            padding: 5px;

        }
        .id-info{
            width:190px;
            height:200px;
            display: inline-block;
            align-content: center;
            justify-content: center;
            padding: 5px;
        }
        h2{
            display: block;
            text-align: left;
        }
    }
}
