<!--
  Generated template for the DetailUnion page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="fuma_primary">

    <ion-buttons start>
     
      <button *ngIf="aProfile == true" ion-button icon-only color="royal" (click)="profile()">
        <ion-icon name="person"></ion-icon>
      </button>

      <button *ngIf="aProfile == false" ion-button icon-only color="royal" (click)="connexion()">
        <ion-icon name="unlock"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>detail-union</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="option()"><ion-icon name="options"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
   <!--h4 style="text-align: center; color: seagreen">
    Détail union: {{union._id}}
  </h4-->
  <ion-card class="info-card"> 
    <ion-card-header>
      <strong>Information union: {{union.data.num_aggrement}}</strong>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
            <ion-row> <ion-col class='meta-key'><strong>Numéro aggrément:</strong></ion-col> <ion-col class='meta-value'> {{union.data.num_aggrement}}</ion-col> </ion-row>
            <ion-row> <ion-col class='meta-key'><strong>Code:</strong></ion-col> <ion-col class='meta-value'> {{union.data.code_union}}</ion-col> </ion-row>
            <ion-row> <ion-col class='meta-key'><strong>Nom:</strong></ion-col> <ion-col class='meta-value'> {{union.data.nom_union}} </ion-col> </ion-row>
            <ion-row> <ion-col class='meta-key'><strong>Nombre d'OP:</strong></ion-col> <ion-col class='meta-value'> {{union.data.num_OP}}</ion-col> </ion-row>
            <ion-row> <ion-col class='meta-key'><strong>Nombre de membres:</strong></ion-col> <ion-col class='meta-value'> {{union.data.num_membre}}</ion-col> </ion-row>
            <ion-row> <ion-col class='meta-key'><strong>Nombre hommes:</strong></ion-col> <ion-col class='meta-value'> {{union.data.num_hommes}}</ion-col> </ion-row>
            <ion-row> <ion-col class='meta-key'><strong>Nombre femmes:</strong></ion-col> <ion-col class='meta-value'> {{union.data.num_femmes}}</ion-col> </ion-row>
            <ion-row> <ion-col class='meta-key'><strong>Date enregistrement:</strong></ion-col> <ion-col class='meta-value'> {{union.data.today | date: 'dd-MM-yyyy'}}</ion-col> </ion-row>
            <ion-row *ngIf="union.data.pays != 'AUTRE' && !union.data.pays_nom"> <ion-col class='meta-key'><strong>Pays:</strong></ion-col> <ion-col class='meta-value'> {{union.data.pays}} </ion-col> </ion-row>
            <ion-row *ngIf="union.data.pays != 'AUTRE' && union.data.pays_nom"> <ion-col class='meta-key'><strong>Pays:</strong></ion-col> <ion-col class='meta-value'> {{union.data.pays_nom}} </ion-col> </ion-row>
            <ion-row *ngIf="union.data.pays == 'AUTRE'"> <ion-col class='meta-key'><strong>Pays:</strong></ion-col> <ion-col class='meta-value'> {{union.data.pays_autre}} </ion-col> </ion-row>
            <ion-row *ngIf="union.data.region != 'AUTRE' && !union.data.region_nom"> <ion-col class='meta-key'><strong>Région:</strong></ion-col> <ion-col class='meta-value'> {{union.data.region}} </ion-col> </ion-row>
            <ion-row *ngIf="union.data.region != 'AUTRE' && union.data.region_nom"> <ion-col class='meta-key'><strong>Région:</strong></ion-col> <ion-col class='meta-value'> {{union.data.region_nom}} </ion-col> </ion-row>
            <ion-row *ngIf="union.data.region == 'AUTRE'"> <ion-col class='meta-key'><strong>Région:</strong></ion-col> <ion-col class='meta-value'> {{union.data.region_autre}} </ion-col> </ion-row>
            <ion-row *ngIf="union.data.departement != 'AUTRE' && !union.data.departement_nom"> <ion-col class='meta-key'><strong>Departement:</strong></ion-col> <ion-col class='meta-value'> {{union.data.departement}} </ion-col> </ion-row>
            <ion-row *ngIf="union.data.departement != 'AUTRE' && union.data.departement_nom"> <ion-col class='meta-key'><strong>Departement:</strong></ion-col> <ion-col class='meta-value'> {{union.data.departement_nom}} </ion-col> </ion-row>
            <ion-row *ngIf="union.data.departement == 'AUTRE'"> <ion-col class='meta-key'><strong>Departement:</strong></ion-col> <ion-col class='meta-value'> {{union.data.departement_autre}} </ion-col> </ion-row>
            <ion-row *ngIf="union.data.commune != 'AUTRE' && !union.data.commune_nom"> <ion-col class='meta-key'><strong>Commune:</strong></ion-col> <ion-col class='meta-value'> {{union.data.commune}}</ion-col> </ion-row>
            <ion-row *ngIf="union.data.commune != 'AUTRE' && union.data.commune_nom"> <ion-col class='meta-key'><strong>Commune:</strong></ion-col> <ion-col class='meta-value'> {{union.data.commune_nom}}</ion-col> </ion-row>
            <ion-row *ngIf="union.data.commune == 'AUTRE'"> <ion-col class='meta-key'><strong>Commune:</strong></ion-col> <ion-col class='meta-value'> {{union.data.commune_autre}}</ion-col> </ion-row>
            <ion-row *ngIf="union.data.village != 'AUTRE' && !union.data.village_nom"> <ion-col class='meta-key'><strong>Village:</strong></ion-col> <ion-col class='meta-value'> {{union.data.village}}</ion-col> </ion-row>
            <ion-row *ngIf="union.data.village != 'AUTRE' && union.data.village_nom"> <ion-col class='meta-key'><strong>Village:</strong></ion-col> <ion-col class='meta-value'> {{union.data.village_nom}}</ion-col> </ion-row>
            <ion-row *ngIf="union.data.village == 'AUTRE'"> <ion-col class='meta-key'><strong>Village:</strong></ion-col> <ion-col class='meta-value'> {{union.data.village_autre}}</ion-col> </ion-row>
            <!--ion-row> <ion-col class='meta-key'><strong>deviceid:</strong></ion-col> <ion-col class='meta-value'> {{union.data.deviceid}}</ion-col> </ion-row>
            <ion-row> <ion-col class='meta-key'><strong>imei:</strong></ion-col> <ion-col class='meta-value'> {{union.data.imei}}</ion-col> </ion-row>
            <ion-row> <ion-col class='meta-key'><strong>phonenumber:</strong></ion-col> <ion-col class='meta-value'> {{union.data.phonenumber}}</ion-col> </ion-row>
            <ion-row> <ion-col class='meta-key'><strong>start:</strong></ion-col> <ion-col class='meta-value'> {{union.data.start | date: 'dd-MM-yyyy'}} à {{union.data.start | date: 'HH:mm:ss'}}</ion-col> </ion-row>
            <ion-row> <ion-col class='meta-key'><strong>end:</strong></ion-col> <ion-col class='meta-value'> {{union.data.end | date: 'dd-MM-yyyy'}} à {{union.data.end | date: 'HH:mm:ss'}}</ion-col> </ion-row-->
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-fab bottom right >
    <button ion-fab color="fuma-green"><ion-icon name="arrow-dropup"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab mini (click)="supprimer(union)" color="delete" ><ion-icon name="trash"></ion-icon></button>
      <button ion-fab (click)="opUnion(union.data.num_aggrement, union.data.nom_union)"><strong>OP</strong></button>
      <button ion-fab mini (click)="editer(union)" color="my_primary" ><ion-icon name="create"></ion-icon></button>
    </ion-fab-list>
  </ion-fab> 
  
  <!--ion-fab bottom right>
    <button ion-fab mini (click)="editer(union)" color="my_primary" ><ion-icon name="create"></ion-icon></button>
  </ion-fab>

  <ion-fab bottom left>
    <button ion-fab mini (click)="supprimer(union)" color="delete" ><ion-icon name="trash"></ion-icon></button>
  </ion-fab-->

</ion-content>
