page-type-sole {
    .aligneDate{
        text-align: right;
    }
    .text_liste{
        font-size: 12px;
    }

       .fond-gris{
        width:100%;
        text-align: center;
        font-size: large;
        background-color: map-get($colors,fuma-yellow-background);
        color: map-get($colors,fuma-yellow);
        margin:0
    }
    /*ion-auto-complete {
        width: 50vw;
    }*/

    img{
        object-fit: cover
    }
    ion-thumbnail{
        margin:2px
    }
    .message{
        background:map-get($colors, fuma-green-dark);
        color:map-get($colors, fuma-green-light);
        width:100%
    }
    .badger-counter-item{
        background-color: rgba(0,0,0,0);
        border-bottom-width: 0;
    }
}
