page-ajouter-membre {
    .error-box {
        color: red;
    }
     
    .error-border {
        color: red;
    }

    ion-auto-complete {
        width: 100%;
        //z-index: -100px;

    }

    .img-container{
        display: flex;
        justify-content: center
        
    }
    img{
        //max-height:33vh;
        //max-width: 100%
       // max-height:100vw;
        
    }
}
