<!--
  Generated template for the Op page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="fuma_primary">
    
    <ion-buttons *ngIf="ajoutForm" left>
      <button ion-button icon-only color="royal" (click)="annuler()"> Fermer <!--ion-icon name="arrow-back"></ion-icon--></button>
    </ion-buttons>

    <ion-buttons *ngIf="!ajoutForm" start>
      <button ion-button *ngIf="rechercher" icon-only>
          <ion-spinner></ion-spinner>
      </button>

      <button ion-button icon-only>
        <ion-badge color="fuma-green" item-right>{{ops.length}}</ion-badge>
      </button>
            <button ion-button icon-only color="royal" *ngIf="aProfile" (click) = "sync()" >
        <ion-icon name="sync"></ion-icon>
      </button>

      <button *ngIf="aProfile == true" ion-button icon-only color="royal" (click)="profile()">
        <ion-icon name="person"></ion-icon>
      </button>

      <button *ngIf="aProfile == false" ion-button icon-only color="royal" (click)="connexion()">
        <ion-icon name="unlock"></ion-icon>
      </button>

      <!--button ion-button icon-only color="royal" (click) = "copierDB()" >
        <ion-icon name="arrow-dropup-circle"></ion-icon>
     </button-->
    </ion-buttons>
    <ion-title>op</ion-title>
    <ion-buttons *ngIf="!ajoutForm" end>
      <button ion-button icon-only color="royal" (click)="option()"><ion-icon name="options"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-refresher *ngIf="!ajoutForm" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Tirer pour actualiser"
      refreshingSpinner="circles"
      refreshingText="Actualisation...">
    </ion-refresher-content>
  </ion-refresher>

 <div *ngIf="!ajoutForm">
   
  <ion-list>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating>Choisir la source</ion-label>
          <ion-select [(ngModel)]="selectedSource" (ionChange)="choixSource()" cancelText="Annuler" okText="Ok" >
            <ion-option value="" selected disabled>Selectionnez la source</ion-option>
            <ion-option value="application">Application</ion-option>
            <ion-option value="kobo">Kobo</ion-option>
            <ion-option value="tous">Tous</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label floating>Style affichage</ion-label>
          <ion-select [(ngModel)]="selectedStyle" cancelText="Annuler" okText="Ok" >
            <ion-option value="" selected disabled>Selectionnez le style de la liste</ion-option>
            <ion-option value="liste" >Liste</ion-option>
            <ion-option value="tableau" >Tableau</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-item>
      <ion-label floating>Type de recherche</ion-label>
      <ion-select [(ngModel)]="typeRecherche" (ionChange)="typeRechercheChange()" cancelText="Annuler" okText="Ok" >
        <ion-option value="aggrement" >Par numéro d'aggrement</ion-option>
        <ion-option value="code" >Par code op</ion-option>
        <ion-option value="nom" >Par nom op</ion-option>
        <ion-option value="union" >Par nom union</ion-option>
        <ion-option value="site" >Par site</ion-option>
        <ion-option value="village" >Par village</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-searchbar *ngIf="typeRecherche == 'nom'" placeholder="Rechercher par nom OP..." [showCancelButton]="shouldShowCancel" (ionInput)="getItems($event)"></ion-searchbar>
      <ion-searchbar *ngIf="typeRecherche == 'code'" placeholder="Rechercher par code OP..." [showCancelButton]="shouldShowCancel" (ionInput)="getItems($event)"></ion-searchbar>
      <ion-searchbar *ngIf="typeRecherche == 'aggrement'" placeholder="Rechercher par num. aggrément OP..." [showCancelButton]="shouldShowCancel" (ionInput)="getItems($event)"></ion-searchbar>
      <ion-searchbar *ngIf="typeRecherche == 'union'" placeholder="Rechercher par nom union..." [showCancelButton]="shouldShowCancel" (ionInput)="getItems($event)"></ion-searchbar>
      <ion-searchbar *ngIf="typeRecherche == 'site'" placeholder="Rechercher par site..." [showCancelButton]="shouldShowCancel" (ionInput)="getItems($event)"></ion-searchbar>
      <ion-searchbar *ngIf="typeRecherche == 'village'" placeholder="Rechercher par village..." [showCancelButton]="shouldShowCancel" (ionInput)="getItems($event)"></ion-searchbar>
    
    </ion-item>
  </ion-list>

  <br >
  <ion-list  class="info-card" *ngIf="ops.length > 0 && selectedStyle === 'liste'">
    <ion-list-header>
        <h2  class="fond-gris"><strong>Liste des OPs   <span *ngIf="num_aggrement_union">
          de l'union: {{nom_union}} - N.A: {{num_aggrement_union}}
        </span></strong></h2>
      </ion-list-header>
    <ion-item *ngFor="let op of ops" (click)="detail(op.doc, selectedSource)" >
      <!--ion-row>
        <ion-col-->
           <h6><strong>Numéro d'aggrément:</strong> {{op.doc.data.num_aggrement}}</h6>
           <h6><strong>Code OP:</strong> {{op.doc.data.code_OP}}</h6>
           <h6><strong>Nom OP:</strong> {{op.doc.data.nom_OP}}</h6>
        <!--/ion-col>
        <ion-col class="aligneDate"-->
          <p><strong>Date:</strong> {{op.doc.data.today | date: 'dd-MM-yyyy'}}</p>
        <!--/ion-col>
      </ion-row-->
    </ion-item>  
  </ion-list>

  <ion-card class="info-card" *ngIf="unions.length > 0 && selectedStyle === 'tableau'">
    <ion-card-header>
      <h2 class="fond-gris"><strong>Liste des OPs   <span *ngIf="num_aggrement_union">
    de l'union: {{nom_union}} - N.A: {{num_aggrement_union}}
  </span></strong></h2>
    </ion-card-header> 
    <ion-scroll scrollX="true" scrollY="true" id="op_tableau" style="height: 80vh"> 

    <table class="table table-striped table-bordered">
      <thead>
        <tr>
        <th  >
          <strong>Site</strong>
        </th>
        <th>
          <strong>Village</strong>
        </th>
        <th style="min-width: 150px" >
          <strong>Numéro aggrément</strong> 
        </th>
        <th>
          <strong>Nom op</strong>
        </th>
        <th  >
          <strong>Code op</strong>
        </th>
        <th>
          <strong>Nombre de memebres</strong>
        </th>
        <th  >
          <strong>Nombre d'hommes</strong>
        </th>
        <th  >
          <strong>Nombre de femmes</strong>
        </th>
          <th  >
          <strong>Nom union</strong>
        </th>
          <th  >
          <strong>Code union</strong>
        </th>
         <th  >
          <strong>Pays</strong>
        </th>
        <th  >
          <strong>Région</strong>
        </th>
         <th  >
          <strong>Departement</strong>
        </th>
         <th  >
          <strong>Commune/Site</strong>
        </th>
         <th  >
          <strong>Village</strong>
        </th>
        </tr>
      </thead>
      <!--hr style="width: 375%"-->
      <tbody>
        <tr *ngFor="let op of ops" (click)="detail(op.doc, selectedSource)">
          <td  >
            {{op.doc.data.commune_nom}}
          </td>
          <td  >
            {{op.doc.data.village_nom}}
          </td>
          <td  >
            {{op.doc.data.num_aggrement}}
          </td>
          <td  >
            {{op.doc.data.nom_OP}}
          </td>
          <td  >
            {{op.doc.data.code_OP}}
          </td>
          <td  >
            {{op.doc.data.num_membre}}
          </td>
          <td  >
            {{op.doc.data.num_hommes}}
          </td>
          <td  >
            {{op.doc.data.num_femmes}}
          </td>
          <td  >
            {{op.doc.data.union_nom}}
          </td>
          <td  >
            {{op.doc.data.code_union}}
          </td>
          <td  >
            {{op.doc.data.pays_nom}}
          </td>
          <td  >
            {{op.doc.data.region_nom}}
          </td>
          <td  >
            {{op.doc.data.departement_nom}}
          </td>
          <td  >
            {{op.doc.data.commune_nom}}
          </td>
          <td  >
            {{op.doc.data.village_nom}}
          </td>          
        </tr>
      </tbody>
    </table>
  </ion-scroll>
</ion-card>


<div *ngIf="ops.length > 0">
  <br><br><br><br>
</div>

  <ion-list  *ngIf="!ops.length > 0">
    <ion-item>
      <div class="message">La liste est vide!</div>
    </ion-item>  
  </ion-list>
 </div>

  <div *ngIf="ajoutForm" >
    <form [formGroup]="opForm" (ngSubmit) = "ajouterOP()">

      <ion-item>
        <ion-label floating>Date <span class="error-box">*</span></ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" formControlName="today" cancelText="Annuler" doneText="Valider"></ion-datetime>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label floating>Pays <span class="error-box">*</span></ion-label>
            <ion-input *ngIf="confLocaliteEnquete.pays_autre == 'NA'" type="text" formControlName="pays_nom" disabled></ion-input>
            <ion-input *ngIf="confLocaliteEnquete.pays_autre != 'NA'" type="text" formControlName="pays_autre" disabled></ion-input>

          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-label floating>Région<span class="error-box">*</span></ion-label>
            <ion-input *ngIf="confLocaliteEnquete.region_autre == 'NA'" type="text" formControlName="region_nom" disabled></ion-input>
            <ion-input *ngIf="confLocaliteEnquete.region_autre != 'NA'" type="text" formControlName="region_autre" disabled></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label floating>Departement <span class="error-box">*</span></ion-label>
            <ion-input *ngIf="confLocaliteEnquete.departement_autre == 'NA'" type="text" formControlName="departement_nom" disabled></ion-input>
            <ion-input *ngIf="confLocaliteEnquete.departement_autre != 'NA'" type="text" formControlName="departement_autre" disabled></ion-input>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-label floating>Commune<span class="error-box">*</span></ion-label>
            <ion-input *ngIf="confLocaliteEnquete.commune_autre == 'NA'" type="text" formControlName="commune_nom" disabled></ion-input>
            <ion-input *ngIf="confLocaliteEnquete.commune_autre != 'NA'" type="text" formControlName="commune_autre" disabled></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-item>
        <ion-label floating>Selectionnez le village <span class="error-box">*</span></ion-label>
        <ion-select formControlName="village" [(ngModel)]="selectedVillage" cancelText="Annuler" okText="Ok" (ionChange)="chargerAutreNomVillage(selectedVillage.id)" >
          <ion-option value="" selected disabled>Selectionnez le village</ion-option>
          <ion-option *ngFor="let villag of villages" [value]=villag >{{villag.nom}}</ion-option>
        </ion-select>
      </ion-item>
      <div style="padding-left: 15px;" class="error-box" *ngIf="opForm.controls['village'].hasError('required') && opForm.controls['village'].touched">* le village est obligatoir!</div>
      
      <ion-item *ngIf="selectedVillage" [hidden]="selectedVillage.id != 'AUTRE'">
        <ion-label floating>Nom village <span class="error-box">*</span></ion-label>
        <ion-input formControlName="village_autre" type="text"  [(ngModel)]="nom_autre_village" ></ion-input>
      </ion-item>
      <div style="padding-left: 15px;" class="error-box" *ngIf="opForm.controls['village_autre'].hasError('required') && opForm.controls['village_autre'].touched">* Le nom du village est obligatoire</div>

      <ion-item *ngIf="!num_aggrement_union"> 
        <ion-label floating>Selectionnez l'union <span class="error-box">*</span></ion-label>
        <ion-select formControlName="union" [(ngModel)]="selectedUnion" cancelText="Annuler" okText="Ok" (ionChange)="chargerAutreNomUnion(selectedUnion.doc.data.num_aggrement)" >
          <ion-option value="" selected disabled>Selectionnez l'union</ion-option>
          <ion-option *ngFor="let u of unions" [value]=u >{{u.doc.data.code_union}} - {{u.doc.data.nom_union}}</ion-option>
        </ion-select>
      </ion-item>
      <div style="padding-left: 15px;" class="error-box" *ngIf="opForm.controls['union'].hasError('required') && opForm.controls['union'].touched">* l'union est obligatoir!</div>
      
      <ion-item *ngIf="num_aggrement_union">
        <ion-label floating>Num. aggrément union <span class="error-box">*</span></ion-label>
        <ion-input formControlName="union" type="text"  [(ngModel)]="num_aggrement_union" disabled></ion-input>
      </ion-item>
      <div style="padding-left: 15px;" class="error-box" *ngIf="opForm.controls['union'].hasError('required') && opForm.controls['union'].touched">* Le num. aggrément de l'union est obligatoire</div>

      <ion-item *ngIf="num_aggrement_union">
        <ion-label floating>Nom union <span class="error-box">*</span></ion-label>
        <ion-input formControlName="union_nom" type="text"  [(ngModel)]="nom_union" disabled></ion-input>
      </ion-item>
      <div style="padding-left: 15px;" class="error-box" *ngIf="opForm.controls['union_nom'].hasError('required') && opForm.controls['union_nom'].touched">* Le nom de l'union est obligatoire</div>

      <ion-item *ngIf="selectedUnion" [hidden]="selectedUnion.doc.data.num_aggrement != 'AUTRE'">
        <ion-label floating>Nom union <span class="error-box">*</span></ion-label>
        <ion-input formControlName="union_autre" type="text"  [(ngModel)]="nom_autre_union" ></ion-input>
      </ion-item>
      <div style="padding-left: 15px;" class="error-box" *ngIf="opForm.controls['union_autre'].hasError('required') && opForm.controls['union_autre'].touched">* Le nom de l'union est obligatoire</div>

      <ion-item>
        <ion-label floating>Numéro d'aggrément <span class="error-box">*</span></ion-label>
        <ion-input type="text" formControlName="num_aggrement" [(ngModel)]="num_aggrement" ></ion-input>
      </ion-item>
      <div style="padding-left: 15px;" class="error-box" *ngIf="opForm.controls['num_aggrement'].hasError('required') && opForm.controls['num_aggrement'].touched">* le numéro d'aggrément est obligatoir!</div>

      <ion-item>
        <ion-label floating>Nom de l'OP <span class="error-box">*</span></ion-label>
        <ion-input type="text" formControlName="nom_OP" [(ngModel)]="nom_op" (keyup)="genererCodeOP()" ></ion-input>
      </ion-item>
      <div style="padding-left: 15px;" class="error-box" *ngIf="opForm.controls['nom_OP'].hasError('required') && opForm.controls['nom_OP'].touched">* le nom de l'OP des est obligatoir!</div>
 
      <ion-item>
        <ion-label floating>Code de l'OP <span class="error-box">*</span></ion-label>
        <ion-input type="text" formControlName="code_OP" [(ngModel)]="code_op" disabled></ion-input>
      </ion-item>
      <div style="padding-left: 15px;" class="error-box" *ngIf="opForm.controls['code_OP'].hasError('required') && opForm.controls['code_OP'].touched">* le code de l'OP des est obligatoir!</div>

        <br>
        <button ion-button type="submit" color="my_secondary" [disabled]="!opForm.valid" block>Sauvegarder</button>
      </form>
      <button ion-button color="my_primary" block (click)="annuler()">Annuler</button>

  </div>

  <ion-fab *ngIf="!ajoutForm && selectedStyle != 'tableau' && ((user && user.roles && global.estManager(user.roles)) || estManger)" bottom right>
    <button ion-fab mini (click)="ajouter(confLocaliteEnquete)" color="my_primary"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <ion-fab bottom right *ngIf="!ajoutForm && selectedStyle == 'tableau' && ((user && user.roles && global.estManager(user.roles)) || estManger)">
    <button ion-fab color="fuma-green"><ion-icon name="arrow-dropup"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab mini *ngIf="ops.length > 0" (click)="onPrint()"><ion-icon name="print"></ion-icon></button>
      <button ion-fab mini *ngIf="ops.length > 0" (click)="exportExcel()"><ion-icon name="logo-windows"></ion-icon></button>
      <button ion-fab mini (click)="ajouter(confLocaliteEnquete)" color="my_primary"><ion-icon name="add"></ion-icon></button> 
    </ion-fab-list>
  </ion-fab>
</ion-content>
