page-op {
    .aligneDate{
        text-align: right;
    }
    .text_liste{
        font-size: 12px;
    }

    /*ion-auto-complete {
        width: 50vw;
    }*/

    img{
        object-fit: cover
    }
    ion-thumbnail{
        margin:2px
    }
    .message{
        background:map-get($colors, fuma-green-dark);
        color:map-get($colors, fuma-green-light);
        width:100%
    }
    .badger-counter-item{
        background-color: rgba(0,0,0,0);
        border-bottom-width: 0;
    }
}
