<!--
  Generated template for the Essai page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="fuma_primary"> 
    <ion-buttons start>
      <button ion-button icon-only>
        <ion-badge color="fuma-green" item-right>{{essais.length}}</ion-badge>
      </button>
      <button ion-button icon-only color="royal" (click) = "sync()" >
        <ion-icon name="sync"></ion-icon>
      </button>

      <button *ngIf="aProfile == true" ion-button icon-only color="royal" (click)="profile()">
        <ion-icon name="person"></ion-icon>
      </button>

      <button *ngIf="aProfile == false" ion-button icon-only color="royal" (click)="connexion()">
        <ion-icon name="unlock"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>essai</ion-title>

    <ion-buttons end>
      
      <button ion-button icon-only color="royal" (click)="option()"><ion-icon name="options"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <h5 *ngIf="matricule_producteur && selectedStyle == 'liste'" style="text-align: center; color: seagreen">
    Les essai de M. {{nom_producteur}} - mat. {{matricule_producteur}}
  </h5>

  <ion-list>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating>Choisir l'année</ion-label>
          <ion-select [(ngModel)]="selectedAnnee" (ionChange)="choixAnneeEssai()" cancelText="Annuler" okText="Ok" >
            <ion-option value="" selected disabled>Selectionnez l'année</ion-option>
            <ion-option *ngFor="let annee of annees" [value]=annee>{{annee}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label floating>Style affichage</ion-label>
          <ion-select [(ngModel)]="selectedStyle" cancelText="Annuler" okText="Ok" >
            <ion-option value="" selected disabled>Selectionnez le style de la liste</ion-option>
            <ion-option value="liste" >Liste</ion-option>
            <ion-option value="tableau" >Tableau</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-item>
      <ion-searchbar placeholder="Rechercher mat. producteur..." [showCancelButton]="shouldShowCancel" (ionInput)="getItems($event)"></ion-searchbar>
    </ion-item>
  </ion-list>
 
    <ion-list *ngIf="essais.length > 0 && selectedStyle == 'liste'">
      <br>
      <ion-list-header>
        <h2 style="width: 100%"><strong style="width: 100%">Essais {{selectedAnnee}}</strong></h2>
      </ion-list-header>
    <ion-item *ngFor="let essai of essais" (click)="detail(essai)" > 
      <h6><strong>Code essai:</strong> {{essai.data.code_essai}}</h6>
      <h6><strong>Mat. producteur:</strong> {{essai.data.matricule_producteur}}</h6>
      <h6><strong>Nom producteur:</strong> {{essai.data.nom_producteur}}</h6>
      <h6><strong>Nom d'entrée:</strong> {{essai.data.nom_entree}}</h6>
    </ion-item>
    </ion-list>

  <ion-card style="height: 100%" *ngIf="essais.length > 0 && selectedStyle == 'tableau'">
    <ion-scroll scrollX="true" scrollY="true" id="tableau" style="height: 100%"> 
    <ion-card-header  style="width: 100%;">
      <h2><strong>Essais {{selectedAnnee}} <span *ngIf="matricule_producteur">
    de M. {{nom_producteur}} - mat. {{matricule_producteur}}
  </span></strong></h2>
    </ion-card-header> 
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
        <th  >
          <strong>Code essai</strong> 
        </th>
        <th  >
          <strong>Site</strong>
        </th>
        <th  >
          <strong>Village</strong>
        </th>
        <th  >
          <strong>Matricule producteur</strong>
        </th>
        <th  >
          <strong>Nom producteur</strong>
        </th>
        <th  >
          <strong>Sex</strong>
        </th>
        <th  >
          <strong>Classes</strong>
        </th>
        <th  >
          <strong>Type de sole</strong>
        </th>
        <th  >
          <strong>Nom d'entrée</strong>
        </th>
        <th  >
          <strong>Superficie essai (m²)</strong>
        </th>
        <th  >
          <strong>Date de sémis</strong>
        </th>
        <th  >
          <strong>NPL</strong>
        </th>
        <th  >
          <strong>Gestion 1 ou 2</strong> 
        </th>
        <th  >
          <strong>Date récolte</strong>
        </th>
        <th  >
          <strong>NPR</strong> 
        </th>
        <th  >
          <strong>PDE (kg)</strong> 
        </th>
        </tr>
      </thead>
      <!--hr style="width: 375%"-->
      <tbody>
        <tr *ngFor="let essai of essais" (click)="detail(essai)">
          <td  >
            {{essai.data.code_essai}}
          </td>
          <td  >
            {{essai.data.site_producteur}}
          </td>
          <td  >
            {{essai.data.village_producteur}}
          </td>
          <td  >
            {{essai.data.matricule_producteur}}
          </td>
          <td  >
            {{essai.data.nom_producteur}}
          </td>
          <td  >
            {{essai.data.sex_producteur}}
          </td>
          <td  >
            {{essai.data.classe_producteur}}
          </td>
          <td  >
            {{essai.data.type_sole}}
          </td>
          <td  >
            {{essai.data.nom_entree}}
          </td>
          <td  >
            {{essai.data.superficie_essai}}
          </td>
          <td  >
            {{essai.data.date_semis | date: 'dd-MM-yyyy'}}
          </td>
          <td  >
            {{essai.data.NPL}}
          </td>
          <td  >
            {{essai.data.gestion}}
          </td>
          <td  >
            {{essai.data.date_recolte | date: 'dd-MM-yyyy'}}
          </td>
          <td  >
            {{essai.data.NPR}}
          </td>
          <td  >
            {{essai.data.PDE}}
          </td>
        </tr>
      </tbody>
    </table>
  </ion-scroll>
</ion-card>


   <ion-list *ngIf="!essais.length > 0">
    <ion-item>
      <div class="message">La liste est vide!</div>
    </ion-item>    
  </ion-list>

  <!--ion-fab bottom right *ngIf="essais.length > 0 && selectedStyle == 'tableau'">
    <button ion-fab mini (click)="onPrint()"><ion-icon name="print"></ion-icon></button->
    <button ion-fab mini (click)="exportXLSX()"><ion-icon name="cloud-upload"></ion-icon></button>
</ion-fab-->

<ion-fab bottom right *ngIf="essais.length > 0 && selectedStyle == 'tableau'">
    <button ion-fab color="fuma-green"><ion-icon name="arrow-dropup"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab mini (click)="onPrint()"><ion-icon name="print"></ion-icon></button>
      <button ion-fab mini (click)="exportExcel()"><ion-icon name="logo-windows"></ion-icon></button>
      <button ion-fab mini (click)="ajouter()" color="my_primary"><ion-icon name="add"></ion-icon></button>
      
    </ion-fab-list>
  </ion-fab>


  <ion-fab bottom right *ngIf="selectedStyle != 'tableau'">
    <button ion-fab mini (click)="ajouter()" color="my_primary"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>
