<!--
  Generated template for the Essai page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="fuma_primary">
    <ion-buttons start>
      <button ion-button icon-only>
        <ion-badge color="fuma-green" item-right>{{essais.length}}</ion-badge>
      </button>
      <button ion-button icon-only color="royal" (click) = "sync()" >
        <ion-icon name="sync"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>essai</ion-title>

    <ion-buttons end>
      <button ion-button icon-only color="royal" menuToggle><ion-icon name="settings"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating>Choisir l'année</ion-label>
          <ion-select [(ngModel)]="selectedAnnee" (ionChange)="choixAnneeEssai()" cancelText="Annuler" okText="Ok" >
            <ion-option value="" selected disabled>Selectionnez l'année</ion-option>
            <ion-option *ngFor="let annee of annees" [value]=annee>{{annee}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label floating>Style affichage</ion-label>
          <ion-select [(ngModel)]="selectedStyle" cancelText="Annuler" okText="Ok" >
            <ion-option value="" selected disabled>Selectionnez le style de la liste</ion-option>
            <ion-option value="liste" >Liste</ion-option>
            <ion-option value="tableau" >Tableau</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-item>
      <ion-searchbar placeholder="Rechercher nom producteur..." [showCancelButton]="shouldShowCancel" (ionInput)="getItems($event)"></ion-searchbar>
    </ion-item>
  </ion-list>
 
    <ion-list *ngIf="essais.length > 0 && selectedStyle == 'liste'">
      <br>
      <ion-list-header>
        <h2 style="width: 100%"><strong style="width: 100%">Essai {{selectedAnnee}}</strong></h2>
      </ion-list-header>
    <ion-item *ngFor="let essai of essais" (click)="detail(essai)" > 
      <h6><strong>Code:</strong> {{essai.data.code_essai}}</h6>
      <h6><strong>Nom producteur:</strong> {{essai.data.nom_producteur}}</h6>
      <p><strong>Nom d'entrée:</strong> {{essai.data.nom_entree}}</p>
    </ion-item>
    </ion-list>

  <ion-card style="height: 60%" *ngIf="essais.length > 0 && selectedStyle == 'tableau'">
    <ion-scroll scrollX="true" scrollY="true" style="height: 100%"> 
    <ion-card-header>
      <h2 style="width: 100%"><strong style="width: 100%">Essai {{selectedAnnee}}</strong></h2>
    </ion-card-header> 
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
        <th width-25>
          <strong>Code essai</strong> 
        </th>
        <th width-25>
          <strong>Site</strong>
        </th>
        <th width-25>
          <strong>Village</strong>
        </th>
        <th width-25>
          <strong>Matricule producteur</strong>
        </th>
        <th width-25>
          <strong>Nom producteur</strong>
        </th>
        <th width-25>
          <strong>Sex</strong>
        </th>
        <th width-25>
          <strong>Classes</strong>
        </th>
        <th width-25>
          <strong>Type de sole</strong>
        </th>
        <th width-25>
          <strong>Nom d'entrée</strong>
        </th>
        <th width-25>
          <strong>Superficie</strong>
        </th>
        <th width-25>
          <strong>Date de sémis</strong>
        </th>
        <th width-25>
          <strong>NPL</strong>
        </th>
        <th width-25>
          <strong>Gestion 1 ou 2</strong> 
        </th>
        <th width-25>
          <strong>Date récolte</strong>
        </th>
        <th width-25>
          <strong>NPR</strong> 
        </th>
        <th width-25>
          <strong>PDE</strong> 
        </th>
        <th width-25>
          <strong>N</strong> 
        </th>
        <th width-25>
          <strong>E</strong> 
        </th>
        <th width-25>
          <strong>Action</strong> 
        </th>
        </tr>
      </thead>
      <!--hr style="width: 375%"-->
      <tbody>
        <tr *ngFor="let essai of essais" >
          <td width-25>
            {{essai.data.code_essai}}
          </td>
          <td width-25>
            {{essai.data.site_producteur}}
          </td>
          <td width-25>
            {{essai.data.village_producteur}}
          </td>
          <td width-25>
            {{essai.data.matricule_producteur}}
          </td>
          <td width-25>
            {{essai.data.nom_producteur}}
          </td>
          <td width-25>
            {{essai.data.sex_producteur}}
          </td>
          <td width-25>
            {{essai.data.classe_producteur}}
          </td>
          <td width-25>
            {{essai.data.type_sole}}
          </td>
          <td width-25>
            {{essai.data.nom_entree}}
          </td>
          <td width-25>
            {{essai.data.superficie}}
          </td>
          <td width-25>
            {{essai.data.date_semis | date: 'dd-MM-yyyy'}}
          </td>
          <td width-25>
            {{essai.data.NPL}}
          </td>
          <td width-25>
            {{essai.data.gestion}}
          </td>
          <td width-25>
            {{essai.data.date_recolte | date: 'dd-MM-yyyy'}}
          </td>
          <td width-25>
            {{essai.data.NPR}}
          </td>
          <td width-25>
            {{essai.data.PDE}}
          </td>
          <td width-25>
            {{essai.data.N}}
          </td>
          <td width-25>
            {{essai.data.E}}
          </td>
          <td width-25>
            <ion-row>
              <ion-col>
                <button (click)="detail(essai)" class="create-account">Détail</button>
              </ion-col>
            </ion-row>
          </td>
        </tr>
      </tbody>
    </table>
  </ion-scroll>
</ion-card>


   <ion-list *ngIf="!essais.length > 0">
    <ion-item>
      <div class="message">La liste est vide!</div>
    </ion-item>    
  </ion-list>


  <ion-fab bottom right>
    <button ion-fab mini (click)="ajouter()" color="my_primary"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>
