<!--
  Generated template for the CultureProtocolePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>


    <ion-navbar color="fuma_primary">
      <ion-buttons *ngIf="!ajoutForm && !modifierFrom && !detailCultureProtocole" left>
        <button ion-button icon-only color="royal" (click)="dismiss()"> Fermer <!--ion-icon name="arrow-back"></ion-icon--></button>
      </ion-buttons> 
      <ion-buttons *ngIf="ajoutForm || modifierFrom" left>
        <button ion-button icon-only color="royal" (click)="annuler()"> <ion-icon name="arrow-back"></ion-icon></button>
      </ion-buttons> 
      <ion-buttons *ngIf="detailCultureProtocole" left>
        <button ion-button icon-only color="royal" (click)="fermerDetail()"><ion-icon name="arrow-back"></ion-icon></button>
      </ion-buttons> 
      <ion-buttons *ngIf="!ajoutForm && !detailCulture && !modifierFrom"  start>
  
        <button ion-button *ngIf="rechercher" icon-only>
            <ion-spinner></ion-spinner>
        </button>
  
        <button ion-button icon-only>
          <ion-badge color="fuma-green" item-right>{{culturesProtocoles.length}}</ion-badge>
        </button>
  
        <button ion-button icon-only color="royal" *ngIf="aProfile" (click) = "sync()" >
            <ion-icon name="sync"></ion-icon>
        </button>
  
      </ion-buttons>
  
      <ion-title *ngIf="!ajoutForm && !modifierFrom && !detailCultureProtocole">culture-protocole</ion-title>
      <ion-title *ngIf="ajoutForm && !modifierFrom">ajouter-culture-protocole</ion-title>
      <ion-title *ngIf="modifierFrom && !ajoutForm">modifier-culture-protocole</ion-title>
      <ion-title *ngIf="detailCultureProtocole">detail-culture-protocole</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>


    <div *ngIf="!ajoutForm && !modifierFrom && !detailCultureProtocole">

        <ion-list>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label floating>Choisir la limite</ion-label>
                <ion-select [(ngModel)]="selectedLimit" (ionChange)="choixLimit()" cancelText="Annuler" okText="Ok" >
                  <ion-option value="" selected disabled>Selectionnez la limite</ion-option>
                  <ion-option *ngFor="let limit of limits" [value]=limit>{{limit}}</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label floating>Style affichage</ion-label>
                <ion-select [(ngModel)]="selectedStyle" cancelText="Annuler" okText="Ok" >
                  <ion-option value="" selected disabled>Selectionnez le style de la liste</ion-option>
                  <ion-option value="liste" >Liste</ion-option>
                  <ion-option value="tableau" >Tableau</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-item>
            <ion-searchbar placeholder="Rechercher par nom..." [showCancelButton]="shouldShowCancel" (ionInput)="getItems($event)"></ion-searchbar>
          </ion-item>
        </ion-list>
        <br >
          <ion-list class="info-card" *ngIf="culturesProtocoles.length > 0 && selectedStyle === 'liste'">
          <!--ion-list *ngIf="selectedStyle === 'liste'" [virtualScroll]="cultures" [headerFn]="myHeaderFn"-->
          
            <ion-list-header>
              <h2  class="fond-gris"><strong>Les cultures des protocoles </strong></h2>
            </ion-list-header>
    
            <!--ion-item-divider *virtualHeader="let header" class="message">
              <strong style="width: 100%" >cultures {{selectedAnnee}}: {{header}}</strong>
            </ion-item-divider-->
    
    
          <ion-item *ngFor="let cp of culturesProtocoles; let i = index" (click)="detail(cp.doc)"> 
          <!--ion-item *virtualItem="let ess" (click)="detail(ess.doc)" --> 
            <!--h6><strong>Code culture:</strong> {{ess.doc.data.code_culture}}</h6-->
            <h6><strong>Code:</strong> {{cp.doc.data.code}}</h6>
            <h6><strong>Protocole:</strong> {{cp.doc.data.nom_protocole}}</h6>
            <h6><strong>Nom culture:</strong> {{cp.doc.data.nom_culture}}</h6>
            <!--h6><strong>Cycle semis:</strong> {{v.doc.data.cycle_semis}}</h6-->
          </ion-item>
        </ion-list>
    
      <ion-card class="info-card" *ngIf="cultures.length > 0 && selectedStyle === 'tableau'">
        <ion-card-header>
          <h2 class="fond-gris"><strong>Les cultures des protocoles</strong></h2>
        </ion-card-header> 
        <ion-scroll scrollX="true" scrollY="true" id="tableau" style="height: 80vh"> 
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
              <th style="min-width: 100px" >
                <strong>Code</strong> 
              </th>
              <th >
                <strong>Protocole</strong> 
              </th>
              <th>
                <strong>Nom culture</strong>
              </th>
              <th>
                <strong>Variétés</strong>
              </th>
              <th>
                <strong>Variables</strong>
              </th>
              </tr>
            </thead>
            <!--hr style="width: 375%"-->
            <tbody>
                <tr *ngFor="let cp of culturesProtocoles" (click)="detail(cp.doc)">
                  <td  >
                    {{cp.doc.data.code}}
                  </td>
                  <td  >
                    {{cp.doc.data.nom_protocole}}
                  </td>
                  <td  >
                    {{cp.doc.data.nom_culture}}
                  </td>
                  <td  >
                      <span *ngFor="let vr of cp.doc.data.varietes; let i = index">{{vr}}<span *ngIf="i < cp.doc.data.varietes.length - 1">, </span> </span>
                  </td>
                  <td  >
                      <span *ngFor="let vb of cp.doc.data.variables; let i = index">{{vb.code_variable}} ({{vb.nom_variable}})<span *ngIf="i < cp.doc.data.varietes.length - 1">, </span> </span>
                  </td>       
                </tr>
            </tbody>
          </table>
        </ion-scroll>
      </ion-card>
    
      <div *ngIf="culturesProtocoles.length > 0">
        <br><br><br><br>
      </div>
        <ion-list *ngIf="!culturesProtocoles.length > 0">
          <ion-item>
            <div class="message">La liste est vide!</div>
          </ion-item>    
        </ion-list>
    </div>



<div *ngIf="detailCultureProtocole">
    <ion-card class="info-card" (dblclick)="editer(cultureProtocole, true)"> 
      <ion-card-header>
        <h2 class="fond-gris"><strong>Détail culture: {{cultureProtocole.data.nom_culture}}</strong></h2>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <!--ion-row><h5 class="sans-fond-gris"><strong>Caractères généraux</strong></h5> </ion-row-->
          <ion-row> <ion-col class='meta-key'><strong>Code:</strong></ion-col> <ion-col class='meta-value'> {{cultureProtocole.data.code}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Protocole:</strong></ion-col> <ion-col class='meta-value'> {{cultureProtocole.data.nom_protocole}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Nom culture:</strong></ion-col> <ion-col class='meta-value'> {{cultureProtocole.data.nom_culture}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Variétés:</strong></ion-col> <ion-col class='meta-value'> <span *ngFor="let vr of cultureProtocole.data.varietes; let i = index">{{vr}}<span *ngIf="i < cultureProtocole.data.varietes.length - 1">, </span> </span> </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Description:</strong></ion-col> <ion-col class='meta-value'> {{cultureProtocole.data.description}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Date enregistrement:</strong></ion-col> <ion-col class='meta-value'> {{cultureProtocole.data.today | date: 'dd-MM-yyyy'}}</ion-col> </ion-row>
          
          <div *ngFor="let variable of cultureProtocole.data.variables; let i=index">
              <h5 class="sans-fond-gris"><strong>Variable {{i + 1}}</strong></h5>
              <ion-row> <ion-col class='meta-key'><strong>code variable:</strong></ion-col> <ion-col class='meta-value'> {{variable.code_variable}} </ion-col> </ion-row>
              <ion-row> <ion-col class='meta-key'><strong>Nom variable:</strong></ion-col> <ion-col class='meta-value'> {{variable.nom_variable}} </ion-col> </ion-row>
              <ion-row> <ion-col class='meta-key'><strong>Type variable:</strong></ion-col> <ion-col class='meta-value'> {{variable.type_variable}} </ion-col> </ion-row>
              <ion-row> <ion-col class='meta-key'><strong>Unité:</strong></ion-col> <ion-col class='meta-value'> {{variable.unite}} </ion-col> </ion-row>
              <ion-row> <ion-col class='meta-key'><strong>Est obligatoire:</strong></ion-col> <ion-col class='meta-value'> {{variable.est_obligatoire}} </ion-col> </ion-row>
              <ion-row> <ion-col class='meta-key'><strong>Description :</strong></ion-col> <ion-col class='meta-value'> {{variable.description_variable}} </ion-col> </ion-row>
          </div>
                
        </ion-grid>
      </ion-card-content> 
    </ion-card>
  
    <ion-card class="info-card" *ngIf="(user && user.roles && global.estManager(user.roles)) || estManager" (dblclick)="editer(cultureProtocole, true)"> 
      <ion-card-header>
        <h2 class="fond-gris"><strong>Plus d'informations</strong></h2>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row><ion-col class='meta-key'><strong>Id:</strong></ion-col> <ion-col class='meta-value'>{{cultureProtocole._id}} </ion-col>   </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>No révision:</strong></ion-col> <ion-col class='meta-value'> {{cultureProtocole._rev }} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Date création:</strong></ion-col> <ion-col class='meta-value'> {{cultureProtocole.data.created_at | date: 'dd-MM-yyyy'}} à {{cultureProtocole.data.created_at | date: 'HH:mm:ss:ms'}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Créateur:</strong></ion-col> <ion-col class='meta-value'> {{cultureProtocole.data.created_by}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>ID appareil:</strong></ion-col> <ion-col class='meta-value'> {{cultureProtocole.data.deviceid}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Imei:</strong></ion-col> <ion-col class='meta-value'> {{cultureProtocole.data.imei}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Numéro téléphone:</strong></ion-col> <ion-col class='meta-value'> {{cultureProtocole.data.phonenumber}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Date dernière mise à jour:</strong></ion-col> <ion-col class='meta-value'> {{cultureProtocole.data.updatet_at | date: 'dd-MM-yyyy'}}  à {{cultureProtocole.data.updatet_at | date: 'HH:mm:ss:ms'}}</ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Dernière mise à jour par:</strong></ion-col> <ion-col class='meta-value'> {{cultureProtocole.data.updated_by}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>ID appareil:</strong></ion-col> <ion-col class='meta-value'> {{cultureProtocole.data.update_deviceid}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Imei:</strong></ion-col> <ion-col class='meta-value'> {{cultureProtocole.data.update_imei}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Numéro téléphone:</strong></ion-col> <ion-col class='meta-value'> {{cultureProtocole.data.update_phonenumber}} </ion-col> </ion-row>
          <ion-row *ngIf="cultureProtocole.data.deleted"> <ion-col class='meta-key'><strong>Date suppression:</strong></ion-col> <ion-col class='meta-value'> {{cultureProtocole.data.deleted_at | date: 'dd-MM-yyyy'}}  à {{cultureProtocole.data.deleted_at | date: 'HH:mm:ss:ms'}}</ion-col> </ion-row>
          <ion-row *ngIf="cultureProtocole.data.deleted"> <ion-col class='meta-key'><strong>Supprimé par:</strong></ion-col> <ion-col class='meta-value'> {{cultureProtocole.data.deleted_by}} </ion-col> </ion-row>
        </ion-grid>
      </ion-card-content> 
    </ion-card>
  
  </div>

  <div *ngIf="ajoutForm || modifierFrom">
    <form (ngSubmit)="actionForm()">

      <ion-item *ngIf="!protocoleDefini || modifierFrom">
          <ion-label floating>Protocole <span class="error-box">*</span></ion-label>
          <ion-select [(ngModel)]="selectedProtocole" name="protocole" cancelText="Annuler" okText="Ok">
            <ion-option *ngFor="let pr of protocoles" [value]=pr.doc.data>{{pr.doc.data.nom}}</ion-option>
          </ion-select>
        </ion-item>
  
        <ion-item *ngIf="protocoleDefini && ajoutForm">
          <ion-label floating>Protocole <span class="error-box">*</span></ion-label>
          <ion-input [(ngModel)]="selectedProtocole.nom" name="protocole"></ion-input>
        </ion-item>
  
      <ion-item *ngIf="selectedProtocole">
          <ion-label floating>Culture <span class="error-box">*</span></ion-label>
          <ion-select [(ngModel)]="selectedCulture" name="culture" (ionChange)="changerVarietes(selectedCulture.nom)" cancelText="Annuler" okText="Ok">
            <ion-option *ngFor="let cl of cultures" [value]=cl.doc.data>{{cl.doc.data.nom}}</ion-option>
          </ion-select>
        </ion-item>


        <div *ngIf="!selectedCulture">
            <br>
        </div>

        <ion-item *ngIf="selectedCulture">
            <ion-label floating>Variétés <span class="error-box">*</span></ion-label>
            <ion-select [(ngModel)]="selectedVarietes" name="vr" multiple="true" cancelText="Annuler" okText="Ok">
              <ion-option *ngFor="let vr of varietes" [value]=vr.doc.data.denomination>{{vr.doc.data.denomination}}</ion-option>
            </ion-select>
          </ion-item>

        <div *ngIf="selectedCulture">
            <br>
            <ion-list>
              <h2 class="fond-gris"><strong>Varibles sélectionnées</strong></h2>
              <div *ngFor="let v of selectedCulture.variables; let i=index">
                <ion-item *ngIf="v.est_selectionne">
                  <ion-label>{{v.code_variable}} ({{v.nom_variable}})</ion-label>
                  <ion-toggle [(ngModel)]="v.est_selectionne" [name]=v.nom_variable></ion-toggle>
                </ion-item>
              </div>
            </ion-list>

            <ion-list>
                <h2 class="fond-gris"><strong>Varibles non sélectionnées</strong></h2>
                <div *ngFor="let v of selectedCulture.variables; let i=index">
                  <ion-item *ngIf="!v.est_selectionne">
                    <ion-label>{{v.code_variable}} ({{v.nom_variable}})</ion-label>
                    <ion-toggle [(ngModel)]="v.est_selectionne" [name]=v.nom_variable></ion-toggle>
                  </ion-item>
                </div>
              </ion-list>
  
          </div>

        <!--div *ngIf="selectedCulture">
          <br>
          <ion-list>
            <h2 class="fond-gris"><strong>Veuillez selectionner les variables à utiliser dans les essais.</strong></h2>
            <ion-item *ngFor="let v of selectedCulture.variables; let i=index">
              <ion-label>{{v.code_variable}} ({{v.nom_variable}})</ion-label>
              <ion-toggle [(ngModel)]="v.est_selectionne" [name]=v.nom_variable></ion-toggle>
            </ion-item>
          </ion-list>

        </div-->
        <button ion-button type="submit" color="my_secondary" [disabled]="!selectedProtocole || !selectedCulture || !selectedVarietes" block>Sauvegarder</button>
      </form>
      <button ion-button color="my_primary" block (click)="annuler()">Fermer</button>  

  </div>


  <!--div *ngIf="modifierFrom">
      <form (ngSubmit)="actionForm()">
  
          <ion-item>
            <ion-label floating>Protocole <span class="error-box">*</span></ion-label>
            <ion-input type="text" [(ngModel)]="protocole" name="protocole" disabled></ion-input>
          </ion-item>

        <ion-item>
            <ion-label floating>Culture <span class="error-box">*</span></ion-label>
            <ion-select [(ngModel)]="selectedCulture" name="culture" (ionChange)="changerVarietes(selectedCulture.nom)" cancelText="Annuler" okText="Ok">
              <ion-option *ngFor="let cl of cultures" [value]=cl.doc.data>{{cl.doc.data.nom}}</ion-option>
            </ion-select>
          </ion-item>
  
          <div *ngIf="!selectedCulture">
              <br>
          </div>
          <ion-item *ngIf="selectedCulture">
              <ion-label floating>Variétés <span class="error-box">*</span></ion-label>
              <ion-select [(ngModel)]="selectedVarietes" name="vr" multiple="true" cancelText="Annuler" okText="Ok">
                <ion-option *ngFor="let vr of varietes" [value]=vr.doc.data.designation>{{vr.doc.data.designation}}</ion-option>
              </ion-select>
            </ion-item>
  
          <div *ngIf="selectedCulture">
            <br>
            <ion-list>
              <h2 class="fond-gris"><strong>Varibles utilisées dans les essais</strong></h2>
              <div *ngFor="let v of selectedCulture.variables; let i=index">
                <ion-item *ngIf="v.est_selectionne">
                  <ion-label>{{v.code_variable}} ({{v.nom_variable}})</ion-label>
                  <ion-toggle [(ngModel)]="v.est_selectionne" [name]=v.nom_variable></ion-toggle>
                </ion-item>
              </div>
            </ion-list>

            <ion-list>
                <h2 class="fond-gris"><strong>Varibles non utilisées dans les essais</strong></h2>
                <div *ngFor="let v of selectedCulture.variables; let i=index">
                  <ion-item *ngIf="!v.est_selectionne">
                    <ion-label>{{v.code_variable}} ({{v.nom_variable}})</ion-label>
                    <ion-toggle [(ngModel)]="v.est_selectionne" [name]=v.nom_variable></ion-toggle>
                  </ion-item>
                </div>
              </ion-list>
  
          </div>
          <button ion-button type="submit" color="my_secondary" [disabled]="!selectedCulture || !selectedVarietes" block>Sauvegarder</button>
        </form>
        <button ion-button color="my_primary" block (click)="annuler()">Fermer</button>  
    </div-->

    <ion-fab bottom right *ngIf="!ajoutForm &&!detailCulture && selectedStyle != 'tableau' && ((user && user.roles && global.estAnimataire(user.roles)) || estAnimataire)" bottom>
        <button ion-fab mini (click)="ajouter()" color="my_primary"><ion-icon name="add"></ion-icon></button>
            <!--button ion-fab mini (click)="fusionnercultures()" color="my_primary">FUS</button-->
      </ion-fab>
      
    
    
      <ion-fab bottom right *ngIf="!ajoutForm &&!detailCultureProtocole && selectedStyle == 'tableau'">
        <button ion-fab color="fuma-green"><ion-icon name="arrow-dropup"></ion-icon></button>
        <ion-fab-list side="top"> 
          <button ion-fab mini *ngIf="culturesProtocoles.length > 0" (click)="onPrint()" color="my_primary"><ion-icon name="print"></ion-icon></button>
          <button ion-fab mini *ngIf="culturesProtocoles.length > 0" (click)="exportExcel()" color="my_primary"><ion-icon name="logo-windows"></ion-icon></button>
          <button ion-fab mini (click)="ajouter()" color="my_primary"><ion-icon name="add"></ion-icon></button>
          
        </ion-fab-list>
      </ion-fab>
    
      <ion-fab bottom right *ngIf="detailCultureProtocole && ((user && user.roles && global.estManager(user.roles)) || estManger)">
        <button ion-fab color="fuma-green"><ion-icon name="arrow-dropup"></ion-icon></button>
        <ion-fab-list side="top">
          <button ion-fab mini (click)="supprimer(cultureProtocole)" color="delete" ><ion-icon name="trash"></ion-icon></button>
          <button ion-fab mini (click)="editer(cultureProtocole)" color="my_primary" ><ion-icon name="create"></ion-icon></button>
        </ion-fab-list>
      </ion-fab>
    
</ion-content>
