// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/forms/forms";
@import "../pages/forms/overview/overview";

@import "../pages/results/results";

@import "../pages/home/home";
