<!-- Generated template for the VariableComponent component -->
<div [formGroup]="variableForm">
    <!--street-->
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating>Code variable <span class="error-box">*</span></ion-label>
          <ion-input type="text" formControlName="code_variable"></ion-input>
        </ion-item>
        <div style="padding-left: 15px;" class="error-box" *ngIf="variableForm.controls['code_variable'].hasError('required') && variableForm.controls['code_variable'].touched">* le code de la variable est obligatoire,  doit comporter au plus 50 caractères (letrres + nombre + _ + -)!</div>    
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label floating>Nom varidable <span class="error-box">*</span></ion-label>
          <ion-input type="text" formControlName="nom_variable"></ion-input>
        </ion-item>
        <div style="padding-left: 15px;" class="error-box" *ngIf="variableForm.controls['nom_variable'].hasError('required') && variableForm.controls['nom_variable'].touched">* le nom de la variable est obligatoire!</div>    
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating>Type variable <span class="error-box">*</span></ion-label>
          <ion-select formControlName="type_variable" cancelText="Annuler" okText="Ok">
            <ion-option value="boolean">Booléen</ion-option>
            <ion-option value="date">Date</ion-option>
            <ion-option value="number">Nombre</ion-option>
            <ion-option value="text" selected>Text</ion-option>
            <ion-option value="textarea" selected>Text long</ion-option>
          </ion-select> 
        </ion-item>
        <div style="padding-left: 15px;" class="error-box" *ngIf="variableForm.controls['type_variable'].hasError('required') && variableForm.controls['type_variable'].touched">* le type de la variable est obligatoir!</div>   
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label floating>Unité de mésure <span class="error-box">*</span></ion-label>
          <ion-select formControlName="unite" cancelText="Annuler" okText="Ok">
            <ion-option value="">Aucune</ion-option>
            <ion-option value="g">Gramme (g)</ion-option>
            <ion-option value="ha">Hectare (ha)</ion-option>
            <ion-option value="kg">Kilogramme (kg)</ion-option>
            <ion-option value="%">Pourcentage (%)</ion-option>
            <ion-option value="FCFA">FCFA</ion-option>
            <ion-option value="£">Euro (£)</ion-option>
            <ion-option value="$">Dollar ($)</ion-option>
          </ion-select> 
        </ion-item>    
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Est obligatoir</ion-label>
          <ion-checkbox formControlName="est_obligatoire"></ion-checkbox>
        </ion-item>
        <div style="padding-left: 15px;" class="error-box" *ngIf="variableForm.controls['est_obligatoire'].hasError('required') && variableForm.controls['est_obligatoire'].touched">* ce champs est obligatoir!</div> 
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label floating>Valeur variable</ion-label>
          <ion-input type="text" formControlName="valeur_variable"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    
    <ion-item>
      <ion-label floating>Description</ion-label>
      <ion-textarea formControlName="description_variable" row="6"></ion-textarea>
    </ion-item>
</div>
