<!--
  Generated template for the DetailMembre page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="fuma_primary">
    <ion-buttons start *ngIf="modifierForm">
      <button ion-button icon-only color="royal" (click)="takePhoto()">
        <ion-icon name="camera"></ion-icon>
      </button>
      <button ion-button icon-only color="royal" (click)="chooseImage()">
        <ion-icon name="image"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{membre.doc.data.nom_Membre}}</ion-title>
    <!--ion-buttons end>
      <button ion-button icon-only color="royal" menuToggle><ion-icon name="settings"></ion-icon></button>
    </ion-buttons-->
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card [hidden]="modifierForm" >
    <ion-row>
      <ion-col class='meta-key'>
        <img [src]="membre.photo" style="max-height: 55vh" imageViewer />
      </ion-col>
      <ion-col class='meta-value'>
        <h2>{{membre.doc.data.nom_Membre}}</h2>
        <img #barcode id="barcode">
      </ion-col>
    </ion-row>
  </ion-card>
<div *ngIf="!modifierForm">
  <!--ion-card hidden >
    <ion-row>
      <ion-col class='meta-key'>
        <img [src]="membre.photo" style="max-height: 55vh" imageViewer />
      </ion-col>
      <ion-col class='meta-value'>
        <h2>{{membre.doc.data.nom_Membre}}</h2>
        <img #barcode id="barcode">
      </ion-col>
    </ion-row>
  </ion-card-->

  <!--ion-card class="info-card">
    <h2>Info</h2>
    <ion-grid>
      <ion-row *ngFor="let datum of membreData">
        <ion-col class='meta-key'>
          <div>{{datum.$key}}: </div>
        </ion-col>
        <ion-col class='meta-value'>
          <div>{{datum.$val}}</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-->


  <ion-card class="info-card">
    <ion-card-header>
      <strong>Informations</strong>
    </ion-card-header>
    <ion-card-content>          
      <ion-grid>
        <ion-row><ion-col class='meta-key'><strong>Nom:</strong></ion-col> <ion-col class='meta-value'>{{membre.doc.data.nom_Membre}} </ion-col>   </ion-row>
        <ion-row> <ion-col class='meta-key'><strong>Matricule:</strong> </ion-col> <ion-col class='meta-value'> {{membre.doc.data.matricule_Membre}} </ion-col> </ion-row>
        <ion-row>
          <ion-col class='meta-key'>
            <strong>Sex:</strong>
          </ion-col>
          <ion-col class='meta-value'>
              {{membre.doc.data.genre}}
          </ion-col>
        </ion-row>
        <ion-row *ngIf="membre.doc.data.classe != 'AUTRE' && !membre.doc.data.classe_nom">
          <ion-col class='meta-key'>
            <strong>Classe:</strong>
            </ion-col>
            <ion-col class='meta-value'>
              {{membre.doc.data.classe}}
            </ion-col>
        </ion-row>
        <ion-row *ngIf="membre.doc.data.classe != 'AUTRE' && membre.doc.data.classe_nom">
          <ion-col class='meta-key'>
            <strong>Classe:</strong>
          </ion-col>
          <ion-col class='meta-value'>
              {{membre.doc.data.classe_nom}}
          </ion-col>
        </ion-row>
        <ion-row *ngIf="membre.doc.data.classe == 'AUTRE'">
          <ion-col class='meta-key'>
            <strong>Classe:</strong>
          </ion-col>
          <ion-col class='meta-value'>
              {{membre.doc.data.classe_autre}}
          </ion-col>
        </ion-row>
          <ion-row *ngIf="membre.doc.data.op != 'AUTRE' && !membre.doc.data.op_nom">
          <ion-col class='meta-key'>
            <strong>OP:</strong>
          </ion-col>
          <ion-col class='meta-value'>
              {{membre.doc.data.op}}
          </ion-col>
          </ion-row>
        <ion-row *ngIf="membre.doc.data.op != 'AUTRE' && membre.doc.data.op_nom">
          <ion-col class='meta-key'>
              <strong>OP:</strong>
          </ion-col>
          <ion-col class='meta-value'>
              {{membre.doc.data.op_nom}}
          </ion-col>
        </ion-row>
        <ion-row *ngIf="membre.doc.data.op == 'AUTRE'">
          <ion-col class='meta-key'>
            <strong>OP:</strong>
          </ion-col>
          <ion-col class='meta-value'>
              {{membre.doc.data.op_autre}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class='meta-key'>
            <strong>Code OP:</strong>
          </ion-col> 
            <ion-col class='meta-value'>
            {{membre.doc.data.op_code}}
            </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class='meta-key'>
            <strong>Date enregistrement:</strong>
          </ion-col> 
            <ion-col class='meta-value'>
            {{membre.doc.data.today | date: 'dd-MM-yyyy'}}
            </ion-col>
        </ion-row>
        <ion-row *ngIf="membre.doc.data.pays != 'AUTRE' && !membre.doc.data.pays_nom">
          <ion-col class='meta-key'>
            <strong>Pays:</strong> 
          </ion-col>
          <ion-col class='meta-value'>
            {{membre.doc.data.pays}} 
          </ion-col>
        </ion-row>
        <ion-row *ngIf="membre.doc.data.pays != 'AUTRE' && membre.doc.data.pays_nom">
          <ion-col class='meta-key'>
            <strong>Pays:</strong>
          </ion-col>
          <ion-col class='meta-value'>
              {{membre.doc.data.pays_nom}}
          </ion-col>
        </ion-row>
        <ion-row *ngIf="membre.doc.data.pays == 'AUTRE'">
          <ion-col class='meta-key'>
            <strong>Pays:</strong>
          </ion-col>
          <ion-col class='meta-value'>
              {{membre.doc.data.pays_autre}} 
          </ion-col>
        </ion-row>
        <ion-row *ngIf="membre.doc.data.region != 'AUTRE' && !membre.doc.data.region_nom">
          <ion-col class='meta-key'>
            <strong>Région:</strong>
          </ion-col>
          <ion-col class='meta-value'>
              {{membre.doc.data.region}}
          </ion-col>
        </ion-row>
        <ion-row *ngIf="membre.doc.data.region != 'AUTRE' && membre.doc.data.region_nom">
          <ion-col class='meta-key'>
            <strong>Région:</strong>
          </ion-col>
          <ion-col class='meta-value'> 
            {{membre.doc.data.region_nom}}
          </ion-col>
        </ion-row>
        <ion-row *ngIf="membre.doc.data.region == 'AUTRE'">
          <ion-col class='meta-key'>
            <strong>Région:</strong> 
          </ion-col>
          <ion-col class='meta-value'>
            {{membre.doc.data.region_autre}}
          </ion-col>
        </ion-row>
        <ion-row *ngIf="membre.doc.data.departement != 'AUTRE' && !membre.doc.data.departement_nom">
          <ion-col class='meta-key'>
            <strong>Departement:</strong>
          </ion-col>
          <ion-col class='meta-value'>
              {{membre.doc.data.departement}}
          </ion-col>
        </ion-row>
        <ion-row *ngIf="membre.doc.data.departement != 'AUTRE' && membre.doc.data.departement_nom">
          <ion-col class='meta-key'>
            <strong>Departement:</strong>
          </ion-col>
          <ion-col class='meta-value'>
              {{membre.doc.data.departement_nom}} 
          </ion-col>
        </ion-row>
        <ion-row *ngIf="membre.doc.data.departement == 'AUTRE'">
          <ion-col class='meta-key'>
            <strong>Departement:</strong>
          </ion-col>
          <ion-col class='meta-value'>
              {{membre.doc.data.departement_autre}} 
          </ion-col>
        </ion-row>
        <ion-row *ngIf="membre.doc.data.commune != 'AUTRE' && !membre.doc.data.commune_nom">
          <ion-col class='meta-key'>
            <strong>Commune:</strong> 
          </ion-col>
          <ion-col class='meta-value'>
            {{membre.doc.data.commune}}
          </ion-col>
        </ion-row>
        <ion-row *ngIf="membre.doc.data.commune != 'AUTRE' && membre.doc.data.commune_nom">
          <ion-col class='meta-key'>
            <strong>Commune:</strong>
          </ion-col>
          <ion-col class='meta-value'>
              {{membre.doc.data.commune_nom}}
          </ion-col>
        </ion-row>
        <ion-row *ngIf="membre.doc.data.commune == 'AUTRE'">
          <ion-col class='meta-key'>
          <strong>Commune:</strong>
          </ion-col>
          <ion-col class='meta-value'>
              {{membre.doc.data.commune_autre}}
          </ion-col>
        </ion-row>
        <ion-row *ngIf="membre.doc.data.village != 'AUTRE' && !membre.doc.data.village_nom">
          <ion-col class='meta-key'>
            <strong>Village:</strong>
          </ion-col>
          <ion-col class='meta-value'>
              {{membre.doc.data.village}}
          </ion-col>
        </ion-row>
        <ion-row *ngIf="membre.doc.data.village != 'AUTRE' && membre.doc.data.village_nom">
          <ion-col class='meta-key'>
            <strong>Village:</strong>
          </ion-col>
          <ion-col class='meta-value'>
              {{membre.doc.data.village_nom}}
          </ion-col>
        </ion-row>
        <ion-row *ngIf="membre.doc.data.village == 'AUTRE'">
          <ion-col class='meta-key'>
            <strong>Village:</strong>
          </ion-col>
          <ion-col class='meta-value'>
              {{membre.doc.data.village_autre}}
          </ion-col>
        </ion-row>
        <!--ion-row>
          <ion-col class='meta-key'>
            <strong>deviceid:</strong>
          </ion-col>
          <ion-col class='meta-value'>
              {{membre.doc.data.deviceid}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class='meta-key'>
            <strong>imei:</strong>
          </ion-col>
          <ion-col class='meta-value'>
              {{membre.doc.data.imei}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class='meta-key'>
            <strong>phonenumber:</strong>
          </ion-col>
          <ion-col class='meta-value'>
              {{membre.doc.data.phonenumber}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class='meta-key'>
            <strong>start:</strong>
          </ion-col>
          <ion-col class='meta-value'>
              {{membre.doc.data.start | date: 'dd-MM-yyyy'}} à {{membre.doc.data.start | date: 'HH:mm:ss'}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class='meta-key'>
            <strong>end:</strong> 
          </ion-col>
          <ion-col class='meta-value'>
            {{membre.doc.data.end | date: 'dd-MM-yyyy'}} à {{membre.doc.data.end | date: 'HH:mm:ss'}}
          </ion-col>
        </ion-row-->
      </ion-grid>
    
    </ion-card-content>
  </ion-card>
</div>

<div *ngIf="modifierForm">
   <ion-card text-center>
    <img [src]="photo" *ngIf="photo" id="imageid" style=" max-height: 100%" >
  </ion-card>
  
    
<form [formGroup]="membreForm" (ngSubmit)="modifierMembre()">

  <ion-item>
    <ion-label floating>Date <span class="error-box">*</span></ion-label>
    <ion-datetime displayFormat="DD/MM/YYYY" formControlName="today" cancelText="Annuler" doneText="Valider" disabled></ion-datetime>
  </ion-item>

  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label floating>Pays <span class="error-box">*</span></ion-label>
        <ion-input *ngIf="membre1.pays_nom && membre1.pays != 'AUTRE'" type="text" formControlName="pays_nom" disabled></ion-input>
        <ion-input *ngIf="!membre1.pays_nom && membre1.pays != 'AUTRE'" type="text" formControlName="pays" disabled></ion-input>
        <ion-input *ngIf="membre1.pays == 'AUTRE'" type="text" formControlName="pays_autre" disabled></ion-input>
      </ion-item>
    </ion-col>

    <ion-col>
      <ion-item>
        <ion-label floating>Région<span class="error-box">*</span></ion-label>
        <ion-input *ngIf="membre1.region_nom && membre1.region != 'AUTRE'" type="text" formControlName="region_nom" disabled></ion-input>
        <ion-input *ngIf="!membre1.region_nom && membre1.region != 'AUTRE'" type="text" formControlName="region" disabled></ion-input>
        <ion-input *ngIf="membre1.region == 'AUTRE'" type="text" formControlName="region_autre" disabled></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

   <ion-row>
    <ion-col>
      <ion-item>
        <ion-label floating>Departement <span class="error-box">*</span></ion-label>
        <ion-input *ngIf="membre1.departement_nom && membre1.departement != 'AUTRE'" type="text" formControlName="departement_nom" disabled></ion-input>
        <ion-input *ngIf="!membre1.departement_nom && membre1.departement != 'AUTRE'" type="text" formControlName="departement" disabled></ion-input>
        <ion-input *ngIf="membre1.departement == 'AUTRE'" type="text" formControlName="departement_autre" disabled></ion-input>
      </ion-item>
    </ion-col>

    <ion-col>
      <ion-item>
        <ion-label floating>Commune<span class="error-box">*</span></ion-label>
        <ion-input *ngIf="membre1.commune_nom && membre1.commune != 'AUTRE'" type="text" formControlName="commune_nom" disabled></ion-input>
        <ion-input *ngIf="!membre1.commune_nom && membre1.commune != 'AUTRE'" type="text" formControlName="commune" disabled></ion-input>
        <ion-input *ngIf="membre1.commune == 'AUTRE'" type="text" formControlName="commune_autre" disabled></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-item>
    <ion-label floating>Selectionnez le village <span class="error-box">*</span></ion-label>
    <ion-select formControlName="village" [(ngModel)]="selectedVillageID" cancelText="Annuler" okText="Ok" (ionChange)="chargerAutreNomVillage(selectedVillageID)" >
      <ion-option value="" selected disabled>Selectionnez le village</ion-option>
      <ion-option *ngFor="let villag of villages" [value]=villag.id >{{villag.nom}}</ion-option>
    </ion-select>
  </ion-item>
  <div style="padding-left: 15px;" class="error-box" *ngIf="membreForm.controls['village'].hasError('required') && membreForm.controls['village'].touched">* le village est obligatoir!</div>
  
  <ion-item *ngIf="selectedVillageID" [hidden]="selectedVillageID != 'AUTRE'">
    <ion-label floating>Nom village <span class="error-box">*</span></ion-label>
    <ion-input formControlName="village_autre" type="text"  [(ngModel)]="nom_autre_village" ></ion-input>
  </ion-item>
  <div style="padding-left: 15px;" class="error-box" *ngIf="membreForm.controls['village_autre'].hasError('required') && membreForm.controls['village_autre'].touched">* Le nom du village est obligatoire</div>

   <ion-item> 
    <ion-label floating>Selectionnez l'OP <span class="error-box">*</span></ion-label>
    <ion-select formControlName="op" [(ngModel)]="selectedOPID" cancelText="Annuler" okText="Ok" (ionChange)="chargerAutreNomOP(selectedOPID)" >
      <ion-option value="" selected disabled>Selectionnez l'OP</ion-option>
      <span *ngFor="let o of ops">
        <ion-option *ngIf="o.data.num_aggrement" [value]=o.data.num_aggrement >{{o.data.code_OP}} - {{o.data.nom_OP}}</ion-option>
      </span>
    </ion-select>
  </ion-item>
  <div style="padding-left: 15px;" class="error-box" *ngIf="membreForm.controls['op'].hasError('required') && membreForm.controls['op'].touched">* l'OP est obligatoir!</div>
  
  <ion-item *ngIf="selectedOPID" [hidden]="selectedOPID != 'AUTRE'">
    <ion-label floating>Nom OP <span class="error-box">*</span></ion-label>
    <ion-input formControlName="op_autre" type="text"  [(ngModel)]="nom_autre_op" ></ion-input>
  </ion-item>
  <div style="padding-left: 15px;" class="error-box" *ngIf="membreForm.controls['op_autre'].hasError('required') && membreForm.controls['op_autre'].touched">* Le nom de l'OP est obligatoire</div>


  <ion-item *ngIf="!generate">
    <ion-label floating>Nom membre <span class="error-box">*</span></ion-label>
    <ion-input type="text" formControlName="nom_Membre"></ion-input>
  </ion-item>
  <div style="padding-left: 15px;" class="error-box" *ngIf="membreForm.controls['nom_Membre'].hasError('required') && membreForm.controls['nom_Membre'].touched">* le nom du membre des est obligatoir!</div>
  
  <ion-item *ngIf="generate" >
    <ion-label floating>Nom membre <span class="error-box">*</span></ion-label>
    <ion-input type="text" formControlName="nom_Membre" [(ngModel)]="nom" (keyup)="getMatricule()" ></ion-input>
  </ion-item>
  <div style="padding-left: 15px;" class="error-box" *ngIf="membreForm.controls['nom_Membre'].hasError('required') && membreForm.controls['nom_Membre'].touched">* le nom du membre des est obligatoir!</div>

  <ion-item *ngIf="matricule">
    <ion-label floating>Matricule <span class="error-box">*</span></ion-label>
    <ion-input type="text" formControlName="matricule_Membre" [(ngModel)]="matricule" disabled></ion-input>
  </ion-item>
  <div style="padding-left: 15px;" class="error-box" *ngIf="membreForm.controls['matricule_Membre'].hasError('required') && membreForm.controls['matricule_Membre'].touched">* le numéro d'aggrément est obligatoir!</div>
   
  <ion-item> 
    <ion-label floating>Selectionnez le sex <span class="error-box">*</span></ion-label>
    <ion-select formControlName="genre" cancelText="Annuler" okText="Ok">
      <ion-option value="" selected disabled>Selectionnez le sex</ion-option>
      <ion-option value="male">Homme</ion-option>
      <ion-option value="female">Femme</ion-option>
    </ion-select>
  </ion-item>
  <div style="padding-left: 15px;" class="error-box" *ngIf="membreForm.controls['genre'].hasError('required') && membreForm.controls['genre'].touched">* le sex est obligatoir!</div>
  
  <ion-item> 
    <ion-label floating>Selectionnez la classe</ion-label>
    <ion-select formControlName="classe" [(ngModel)]="selectedClasseID" cancelText="Annuler" okText="Ok" (ionChange)="chargerAutreNomClasse(selectedClasseID)" >
      <ion-option value="" selected disabled>Selectionnez la classe</ion-option>
      <ion-option *ngFor="let c of classes" [value]=c.data.id >{{c.data.nom}}</ion-option>
    </ion-select>
  </ion-item>
  <div style="padding-left: 15px;" class="error-box" *ngIf="membreForm.controls['classe'].hasError('required') && membreForm.controls['classe'].touched">* la classe est obligatoir!</div>
  
  <ion-item *ngIf="selectedClasseID" [hidden]="selectedClasseID != 'AUTRE'">
    <ion-label floating>Nom classe</ion-label>
    <ion-input formControlName="classe_autre" type="text"  [(ngModel)]="nom_autre_classe" ></ion-input>
  </ion-item>
  <div style="padding-left: 15px;" class="error-box" *ngIf="membreForm.controls['classe_autre'].hasError('required') && membreForm.controls['classe_autre'].touched">* Le nom de la classe est obligatoire</div>


    <br>
    <button ion-button type="submit" color="my_secondary" [disabled]="!membreForm.valid" block>Sauvegarder</button>
  </form>
  <button ion-button color="my_primary" block (click)="annuler()">Annuler</button>

</div>

   <ion-fab bottom right *ngIf="!modifierForm" >
    <button ion-fab color="fuma-green"><ion-icon name="arrow-dropup"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab mini (click)="supprimer(membre.doc)" color="delete" ><ion-icon name="trash"></ion-icon></button>
      <button ion-fab (click)="mesEssai(membre.doc.data.matricule_Membre, membre.doc.data.nom_Membre, membre.doc)"><strong>ES</strong></button>
      <button ion-fab (click)="mesChamps(membre.doc.data.matricule_Membre, membre.doc.data.nom_Membre, membre.doc)"><strong>CH</strong></button>
      <button ion-fab mini (click)="editer(membre.doc, membre.photo, membre.photoDocId, membre.photoDocRev)" color="my_primary" ><ion-icon name="create"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

 
  <!--ion-fab bottom right>
    <button ion-fab mini (click)="editer(membre.doc)" color="my_primary" ><ion-icon name="create"></ion-icon></button>
  </ion-fab>

  <ion-fab bottom left>
    <button ion-fab mini (click)="supprimer(membre.doc)" color="delete" ><ion-icon name="trash"></ion-icon></button>
  </ion-fab-->

</ion-content>
