<!--
  Generated template for the Unions page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="fuma_primary">
    <ion-buttons *ngIf="ajoutForm" left>
      <button ion-button icon-only color="royal" (click)="annuler()"> <ion-icon name="arrow-back"></ion-icon></button>
    </ion-buttons>

    <ion-buttons *ngIf="!ajoutForm" start>
      <button ion-button *ngIf="rechercher" icon-only>
          <ion-spinner></ion-spinner>
      </button>

      <button ion-button icon-only>
        <ion-badge color="fuma-green" item-right>{{unions.length}}</ion-badge>
      </button>
      <button ion-button icon-only color="royal" (click) = "sync()" >
        <ion-icon name="sync"></ion-icon>
      </button>
      
      <button *ngIf="aProfile == true" ion-button icon-only color="royal" (click)="profile()">
        <ion-icon name="person"></ion-icon>
      </button>

      <button *ngIf="aProfile == false" ion-button icon-only color="royal" (click)="connexion()">
        <ion-icon name="unlock"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title *ngIf="!ajoutForm">unions</ion-title>
    <ion-title *ngIf="ajoutForm">unions</ion-title>
    <ion-buttons *ngIf="!ajoutForm" end>
       <button ion-button icon-only color="royal" (click)="option()"><ion-icon name="options"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="!ajoutForm">
    <ion-list>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label floating>Choisir la source</ion-label>
            <ion-select [(ngModel)]="selectedSource" (ionChange)="choixSource()" cancelText="Annuler" okText="Ok" >
              <ion-option value="" selected disabled>Selectionnez la source</ion-option>
              <ion-option value="application">Application</ion-option>
              <ion-option value="kobo">Kobo</ion-option>
              <ion-option value="tous">Tous</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label floating>Style affichage</ion-label>
            <ion-select [(ngModel)]="selectedStyle" cancelText="Annuler" okText="Ok" >
              <ion-option value="" selected disabled>Selectionnez le style de la liste</ion-option>
              <ion-option value="liste" >Liste</ion-option>
              <ion-option value="tableau" >Tableau</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-item>
      <ion-label floating>Type de recherche</ion-label>
      <ion-select [(ngModel)]="typeRecherche" (ionChange)="typeRechercheChange()" cancelText="Annuler" okText="Ok" >
        <ion-option value="aggrement" >Par numéro d'aggrement</ion-option>
        <ion-option value="code" >Par code union</ion-option>
        <ion-option value="nom" >Par nom union</ion-option>
        <ion-option value="site" >Par site</ion-option>
        <ion-option value="village" >Par village</ion-option>
      </ion-select>
    </ion-item>

      <ion-item>
        <ion-searchbar *ngIf="typeRecherche == 'nom'" placeholder="Rechercher par nom union..." [showCancelButton]="shouldShowCancel" (ionInput)="getItems($event)"></ion-searchbar>
        <ion-searchbar *ngIf="typeRecherche == 'code'" placeholder="Rechercher par code union..." [showCancelButton]="shouldShowCancel" (ionInput)="getItems($event)"></ion-searchbar>
        <ion-searchbar *ngIf="typeRecherche == 'aggrement'" placeholder="Rechercher par num. aggrément union..." [showCancelButton]="shouldShowCancel" (ionInput)="getItems($event)"></ion-searchbar>
        <ion-searchbar *ngIf="typeRecherche == 'site'" placeholder="Rechercher par site..." [showCancelButton]="shouldShowCancel" (ionInput)="getItems($event)"></ion-searchbar>
        <ion-searchbar *ngIf="typeRecherche == 'village'" placeholder="Rechercher par village..." [showCancelButton]="shouldShowCancel" (ionInput)="getItems($event)"></ion-searchbar>

      </ion-item>
    </ion-list>

    <ion-list *ngIf="unions.length > 0 && selectedStyle === 'liste'">
      <ion-item *ngFor="let union of unions" (click)="detail(union.doc, selectedSource)" >
        <!--ion-row>
          <ion-col-->
              <h6><strong>Numéro d'aggrément:</strong> {{union.doc.data.num_aggrement}}</h6>
              <h6><strong>Code union:</strong> {{union.doc.data.code_union}}</h6>
              <h6><strong>Nom union:</strong> {{union.doc.data.nom_union}}</h6>
          <!--/ion-col>
          <ion-col class="aligneDate"-->
            <p><strong>Date:</strong> {{union.doc.data.today | date: 'dd-MM-yyyy'}}</p>
          <!--/ion-col>
        </ion-row-->
      </ion-item>  
    </ion-list>
 

  <ion-card style="height: 80vh" *ngIf="unions.length > 0 && selectedStyle === 'tableau'">
    <ion-scroll scrollX="true" scrollY="true" id="tableau" style="height: 80vh"> 
    <ion-card-header  style="width: 100vw">
      <h2><strong>Liste des unions</strong></h2>
    </ion-card-header> 
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
        <th  >
          <strong>Site</strong>
        </th>
        <th>
          <strong>Village</strong>
        </th>
        <th style="min-width: 150px" >
          <strong>Numéro aggrément</strong> 
        </th>
        <th>
          <strong>Nom union</strong>
        </th>
        <th  >
          <strong>Code union</strong>
        </th>
        <th  >
          <strong>Nombre d'OP</strong>
        </th>
        <th>
          <strong>Nombre de memebres</strong>
        </th>
        <th  >
          <strong>Nombre d'hommes</strong>
        </th>
        <th  >
          <strong>Nombre de femmes</strong>
        </th>
        <th  >
          <strong>Pays</strong>
        </th>
        <th  >
          <strong>Région</strong>
        </th>
        <th  >
          <strong>Departement</strong>
        </th>
        <th  >
          <strong>Commune/Site</strong>
        </th>
        <th  >
          <strong>Village</strong>
        </th>
        </tr>
      </thead>
      <!--hr style="width: 375%"-->
      <tbody>
        <tr *ngFor="let union of unions" (click)="detail(union.doc, selectedSource)">
          <td  >
            {{union.doc.data.commune_nom}}
          </td>
          <td  >
            {{union.doc.data.village_nom}}
          </td>
          <td  >
            {{union.doc.data.num_aggrement}}
          </td>
          <td  >
            {{union.doc.data.nom_union}}
          </td>
          <td  >
            {{union.doc.data.code_union}}
          </td>
          <td  >
            {{union.doc.data.num_OP}}
          </td>
          <td  >
            {{union.doc.data.num_membre}}
          </td>
          <td  >
            {{union.doc.data.num_membre}}
          </td>
          <td  >
            {{union.doc.data.num_hommes}}
          </td>
          <td  >
            {{union.doc.data.pays_nom}}
          </td>          
          <td  >
            {{union.doc.data.region_nom}}
          </td>
          <td  >
            {{union.doc.data.departement_nom}}
          </td>
          <td  >
            {{union.doc.data.commune_nom}}
          </td>
          <td  >
            {{union.doc.data.village_nom}}
          </td>
        </tr>
      </tbody>
    </table>
  </ion-scroll>
</ion-card>

<div *ngIf="unions.length > 0">
  <br><br><br>
</div>

  <ion-list *ngIf="!unions.length > 0">
    <ion-item>
      <div class="message">La liste est vide!</div>
    </ion-item> 
  </ion-list> 
 </div>

     


  <div *ngIf="ajoutForm">
    <form [formGroup]="unionForm" (ngSubmit) = "ajouterUnion()">

      <ion-item>
        <ion-label floating>Date <span class="error-box">*</span></ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" formControlName="today" cancelText="Annuler" doneText="Valider"></ion-datetime>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label floating>Pays <span class="error-box">*</span></ion-label>
            <ion-input *ngIf="confLocaliteEnquete.pays_autre == 'NA'" type="text" formControlName="pays_nom" disabled></ion-input>
            <ion-input *ngIf="confLocaliteEnquete.pays_autre != 'NA'" type="text" formControlName="pays_autre" disabled></ion-input>

          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-label floating>Région<span class="error-box">*</span></ion-label>
            <ion-input *ngIf="confLocaliteEnquete.region_autre == 'NA'" type="text" formControlName="region_nom" disabled></ion-input>
            <ion-input *ngIf="confLocaliteEnquete.region_autre != 'NA'" type="text" formControlName="region_autre" disabled></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label floating>Departement <span class="error-box">*</span></ion-label>
            <ion-input *ngIf="confLocaliteEnquete.departement_autre == 'NA'" type="text" formControlName="departement_nom" disabled></ion-input>
            <ion-input *ngIf="confLocaliteEnquete.departement_autre != 'NA'" type="text" formControlName="departement_autre" disabled></ion-input>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-label floating>Commune<span class="error-box">*</span></ion-label>
            <ion-input *ngIf="confLocaliteEnquete.commune_autre == 'NA'" type="text" formControlName="commune_nom" disabled></ion-input>
            <ion-input *ngIf="confLocaliteEnquete.commune_autre != 'NA'" type="text" formControlName="commune_autre" disabled></ion-input>
          </ion-item>
        </ion-col>
      </ion-row> 

      <ion-item>
        <ion-label floating>Selectionnez le village <span class="error-box">*</span></ion-label>
        <ion-select formControlName="village" [(ngModel)]="selectedVillage" cancelText="Annuler" okText="Ok" (ionChange)="chargerAutreNomVillage(selectedVillage.id)" >
          <ion-option value="" selected disabled>Selectionnez le village</ion-option>
          <ion-option *ngFor="let villag of villages" [value]=villag >{{villag.nom}}</ion-option>
        </ion-select>
      </ion-item>
      <div style="padding-left: 15px;" class="error-box" *ngIf="unionForm.controls['village'].hasError('required') && unionForm.controls['village'].touched">* le village est obligatoir!</div>
      
      <ion-item *ngIf="selectedVillage" [hidden]="selectedVillage.id != 'AUTRE'">
        <ion-label floating>Nom village <span class="error-box">*</span></ion-label>
        <ion-input formControlName="village_autre" type="text"  [(ngModel)]="nom_autre_village" ></ion-input>
      </ion-item>
      <div style="padding-left: 15px;" class="error-box" *ngIf="unionForm.controls['village_autre'].hasError('required') && unionForm.controls['village_autre'].touched">* Le nom du village est obligatoire</div>

      <ion-item>
        <ion-label floating>Numéro d'aggrément <span class="error-box">*</span></ion-label>
        <ion-input type="text" formControlName="num_aggrement" [(ngModel)]="num_aggrement" ></ion-input>
      </ion-item>
      <div style="padding-left: 15px;" class="error-box" *ngIf="unionForm.controls['num_aggrement'].hasError('required') && unionForm.controls['num_aggrement'].touched">* le numéro d'aggrément est obligatoir!</div>

      <ion-item>
        <ion-label floating>Nom de l'union <span class="error-box">*</span></ion-label>
        <ion-input type="text" formControlName="nom_union" [(ngModel)]="nom_union" (keyup)="genererCodeUnion()" ></ion-input>
      </ion-item>
      <div style="padding-left: 15px;" class="error-box" *ngIf="unionForm.controls['nom_union'].hasError('required') && unionForm.controls['nom_union'].touched">* le nom de l'union des est obligatoir!</div>
      
      <ion-item>
        <ion-label floating>Code de l'union <span class="error-box">*</span></ion-label>
        <ion-input type="text" formControlName="code_union" [(ngModel)]="code_union" disabled></ion-input>
      </ion-item>
      <div style="padding-left: 15px;" class="error-box" *ngIf="unionForm.controls['code_union'].hasError('required') && unionForm.controls['code_union'].touched">* le code de l'union des est obligatoir!</div>
      
        <br>
        <button ion-button type="submit" color="my_secondary" [disabled]="!unionForm.valid" block>Sauvegarder</button>
      </form>
      <button ion-button color="my_primary" block (click)="annuler()">Fermer</button>

  </div>

  <ion-fab *ngIf="!ajoutForm && selectedStyle != 'tableau'"  bottom right>
    <button ion-fab mini (click)="ajouter(confLocaliteEnquete)" color="my_primary"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <ion-fab bottom right *ngIf="!ajoutForm && selectedStyle == 'tableau'">
    <button ion-fab color="fuma-green"><ion-icon name="arrow-dropup"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab mini *ngIf="unions.length > 0" (click)="onPrint()"><ion-icon name="print"></ion-icon></button>
      <button ion-fab mini *ngIf="unions.length > 0" (click)="exportExcel()"><ion-icon name="logo-windows"></ion-icon></button>
      <button ion-fab mini (click)="ajouter()" color="my_primary"><ion-icon name="add"></ion-icon></button> 
    </ion-fab-list>
  </ion-fab>
</ion-content>
