<!--
  Generated template for the Unions page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="fuma_primary">
    <ion-buttons start>
      <button ion-button icon-only>
        <ion-badge color="fuma-green" item-right>{{unions.length}}</ion-badge>
      </button>
      <button ion-button icon-only color="royal" (click) = "sync()" >
        <ion-icon name="sync"></ion-icon>
      </button>
      
      <button *ngIf="aProfile == true" ion-button icon-only color="royal" (click)="profile()">
        <ion-icon name="person"></ion-icon>
      </button>

      <button *ngIf="aProfile == false" ion-button icon-only color="royal" (click)="connexion()">
        <ion-icon name="unlock"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>unions</ion-title>
    <ion-buttons end>
       <button ion-button icon-only color="royal" (click)="option()"><ion-icon name="options"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label floating>Choisir la source</ion-label>
      <ion-select [(ngModel)]="selectedSource" (ionChange)="choixSource()" cancelText="Annuler" okText="Ok" >
        <ion-option value="" selected disabled>Selectionnez la source</ion-option>
        <ion-option value="application">Application</ion-option>
        <ion-option value="kobo">Kobo</ion-option>
        <ion-option value="tous">Tous</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-searchbar placeholder="Rechercher par nom union..." [showCancelButton]="shouldShowCancel" (ionInput)="getItems($event)"></ion-searchbar>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item *ngFor="let union of unions" (click)="detail(union, selectedSource)" >
      <!--ion-row>
        <ion-col-->
           <h6><strong>Numéro d'aggrément:</strong> {{union.data.num_aggrement}}</h6>
           <h6><strong>Code union:</strong> {{union.data.code_union}}</h6>
           <h6><strong>Nom union:</strong> {{union.data.nom_union}}</h6>
        <!--/ion-col>
        <ion-col class="aligneDate"-->
          <p><strong>Date:</strong> {{union.data.today | date: 'dd-MM-yyyy'}}</p>
        <!--/ion-col>
      </ion-row-->
    </ion-item>

    <ion-item *ngIf="!unions.length > 0">
      <div class="message">La liste est vide!</div>
    </ion-item>    
  </ion-list>

  <ion-fab bottom right>
    <button ion-fab mini (click)="ajouter(confLocaliteEnquete)" color="my_primary"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
