<!--
  Generated template for the ProtocolePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="fuma_primary">
    <ion-buttons *ngIf="!ajoutForm && !modifierFrom && !detailProtocole" left>
      <button ion-button icon-only color="royal" (click)="dismiss()"> Fermer <!--ion-icon name="arrow-back"></ion-icon--></button>
    </ion-buttons> 
    <ion-buttons *ngIf="ajoutForm || modifierFrom" left>
      <button ion-button icon-only color="royal" (click)="annuler()"> <ion-icon name="arrow-back"></ion-icon></button>
    </ion-buttons> 
    <ion-buttons *ngIf="detailProtocole" left>
      <button ion-button icon-only color="royal" (click)="fermerDetail()"><ion-icon name="arrow-back"></ion-icon></button>
    </ion-buttons> 
    <ion-buttons *ngIf="!ajoutForm && !detailProtocole && !modifierFrom"  start>

      <button ion-button *ngIf="rechercher" icon-only>
          <ion-spinner></ion-spinner>
      </button>

      <button ion-button icon-only>
        <ion-badge color="fuma-green" item-right>{{protocoles.length}}</ion-badge>
      </button>

      <button ion-button icon-only color="royal" *ngIf="aProfile" (click) = "sync()" >
          <ion-icon name="sync"></ion-icon>
      </button>

      <!--button *ngIf="aProfile" ion-button icon-only color="royal" (click)="profile()">
        <ion-icon name="person"></ion-icon>
      </button>

      <button *ngIf="!aProfile" ion-button icon-only color="royal" (click)="connexion()">
        <ion-icon name="unlock"></ion-icon>
      </button-->
    </ion-buttons>

    <ion-title *ngIf="!ajoutForm && !detailProtocole">protocole</ion-title>
    <ion-title *ngIf="ajoutForm && !modifierFrom">ajouter-protocole</ion-title>
    <ion-title *ngIf="ajoutForm && modifierFrom">modifier-protocole</ion-title>
    <ion-title *ngIf="detailProtocole">detail-protocole</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <div *ngIf="!ajoutForm && !detailProtocole">

        <ion-list>
          <!--ion-row>
            <ion-col>
              <ion-item>
                <ion-label floating>Choisir la limite</ion-label>
                <ion-select [(ngModel)]="selectedLimit" (ionChange)="choixLimit()" cancelText="Annuler" okText="Ok" >
                  <ion-option value="" selected disabled>Selectionnez la limite</ion-option>
                  <ion-option *ngFor="let limit of limits" [value]=limit>{{limit}}</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label floating>Style affichage</ion-label>
                <ion-select [(ngModel)]="selectedStyle" cancelText="Annuler" okText="Ok" >
                  <ion-option value="" selected disabled>Selectionnez le style de la liste</ion-option>
                  <ion-option value="liste" >Liste</ion-option>
                  <ion-option value="tableau" >Tableau</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row-->

          <ion-item>
            <ion-label floating>Choisir la limite</ion-label>
            <ion-select [(ngModel)]="selectedLimit" (ionChange)="choixLimit()" cancelText="Annuler" okText="Ok" >
              <ion-option value="" selected disabled>Selectionnez la limite</ion-option>
              <ion-option *ngFor="let limit of limits" [value]=limit>{{limit}}</ion-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label floating>Type de recherche</ion-label>
            <ion-select [(ngModel)]="typeRecherche" cancelText="Annuler" okText="Ok" >
              <ion-option value="annee" >Par année</ion-option>
              <ion-option value="nom" >Par nom</ion-option>
              <ion-option value="projet" >Par projet</ion-option>
              <ion-option value="titre_essais" >Par titres des essais</ion-option>
            </ion-select>
          </ion-item>
      
          <ion-item *ngIf="typeRecherche == 'projet'">
            <ion-searchbar placeholder="Rechercher par projet..." [showCancelButton]="shouldShowCancel" (ionInput)="getItems($event)"></ion-searchbar>
          </ion-item>
      
          <ion-item *ngIf="typeRecherche == 'nom'">
            <ion-searchbar placeholder="Rechercher par nom..." [showCancelButton]="shouldShowCancel" (ionInput)="getItems($event)"></ion-searchbar>
          </ion-item>
      
          <!--ion-item *ngIf="typeRecherche == 'titre_essais'">
            <ion-searchbar placeholder="Rechercher par titre des essais..."  [showCancelButton]="shouldShowCancel" (ionInput)="getItems($event)"></ion-searchbar>
          </ion-item-->
      
          <ion-item *ngIf="typeRecherche == 'annee'">
            <ion-searchbar placeholder="Rechercher par année..." [showCancelButton]="shouldShowCancel" (ionInput)="getItems($event)"></ion-searchbar>
          </ion-item>
    
        </ion-list>
        <br >
          <ion-list class="info-card" *ngIf="protocoles.length > 0 && selectedStyle === 'liste'">
          <!--ion-list *ngIf="selectedStyle === 'liste'" [virtualScroll]="protocoles" [headerFn]="myHeaderFn"-->
          
            <ion-list-header>
              <h2  class="fond-gris"><strong>Les protocoles </strong></h2>
            </ion-list-header>
    
            <!--ion-item-divider *virtualHeader="let header" class="message">
              <strong style="width: 100%" >protocoles {{selectedAnnee}}: {{header}}</strong>
            </ion-item-divider-->
    
    
          <ion-item *ngFor="let p of protocoles; let i = index" (click)="detail(p.doc)"> 
          <!--ion-item *virtualItem="let ess" (click)="detail(ess.doc)" --> 
            <!--h6><strong>Code protocole:</strong> {{ess.doc.data.code_protocole}}</h6-->
            <h6><strong>Nom du protocole:</strong> {{p.doc.data.nom}}</h6>
            <h6><strong>Projet:</strong> {{p.doc.data.projet}}</h6>
            <!--h6><strong>Titre essais:</strong> {{p.doc.data.titre_essais}}</h6-->
            <h6><strong>Année:</strong> {{p.doc.data.annee}}</h6>
            <!--h6><strong>Cycle semis:</strong> {{v.doc.data.cycle_semis}}</h6-->
          </ion-item>
        </ion-list>
    
      <ion-card class="info-card" *ngIf="protocoles.length > 0 && selectedStyle === 'tableau'">
        <ion-card-header>
          <h2 class="fond-gris"><strong>Les protocoles</strong></h2>
        </ion-card-header> 
        <ion-scroll scrollX="true" scrollY="true" id="tableau" style="height: 80vh"> 
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
              <th style="min-width: 100px" >
                <strong>Code</strong> 
              </th>
              <th >
                <strong>Année</strong> 
              </th>
              <th>
                <strong>Nom du protocole</strong>
              </th>
              <th>
                <strong>Projet</strong>
              </th>
              <th  >
                <strong>Titre essais</strong>
              </th>
              <th  >
                  <strong>Contexte</strong>
                </th>
              <th  >
                <strong>Objectifs</strong>
              </th>
              <th  >
                  <strong>Méthodologie</strong>
                </th>

                <th  >
                    <strong>Le choix des variétés</strong>
                  </th>
              <th>
                <strong>Nombre d’entrées et répétitions, et dispositif expérimental</strong>
              </th>
              <th >
                <strong>Taille de parcelle</strong>
              </th>
              <th  >
                <strong>Distance entre poquets dans une ligne</strong>
              </th>
              <th  >
                <strong>Distance entre les lignes</strong>
              </th>
              <th>
                <strong>Démariage</strong>
              </th>
              <th >
                <strong>Fertilisation</strong>
              </th>
              <th>
                <strong>Autres spécifications</strong>
              </th>

              <th>
                  <strong>Type de culture</strong>
                </th>

                <th>
                  <strong>traitement</strong>
              </th>
              <th>
                  <strong>Type des essais</strong>
              </th>
              <th>
                <strong>Avec répétition ?</strong>
              </th>

              <th>
                <strong>Nombre de répétition</strong>
              </th>
              </tr>
            </thead>
            <!--hr style="width: 375%"-->
            <tbody>
                <tr *ngFor="let p of protocoles" (click)="detail(p.doc)">
                  <td  >
                    {{p.doc.data.code}}
                  </td>
                  <td  >
                    {{p.doc.data.nom}}
                  </td>
                  <td  >
                    {{p.doc.data.annee}}
                  </td>
                  <td  >
                    {{p.doc.data.projet}}
                  </td>
                  <td  >
                    {{p.doc.data.titre_essais}}
                  </td>
                  <td  >
                      {{p.doc.data.contexte}}
                    </td>
                  <td  >
                    {{p.doc.data.objectifs}}
                  </td>
                  <td  >
                    {{p.doc.data.methodologie}}
                  </td>
                  <td  >
                      {{p.doc.data.choix_varietes}}
                    </td>
                  <td  >
                    {{p.doc.data.nb_e_r_d_e}}
                  </td>
                  <td  >
                    {{p.doc.data.taille_parcelle}}
                  </td>
                  <td  >
                    {{p.doc.data.d_e_p_d_u_l}}
                  </td>
                  <td  >
                    {{p.doc.data.d_e_l_l}}
                  </td>
                  <td  >
                    {{p.doc.data.demariage}}
                  </td>
                  <td  >
                    {{p.doc.data.fertilisation}}
                  </td>
                  <td  >
                    {{p.doc.data.autres_specifications}}
                  </td> 
                  <td  >
                    {{p.doc.data.type_culture}}
                  </td>  
                  <td  >
                    {{p.doc.data.type_essais}}
                  </td>    
                  <td  >
                    {{p.doc.data.avec_repetition}}
                  </td>
                  <td  >
                    {{p.doc.data.traitement}}
                  </td>
                  <td  >
                    {{p.doc.data.nb_repetition}}
                  </td>
                </tr>
            </tbody>
          </table>
        </ion-scroll>
      </ion-card>
    
      <div *ngIf="protocoles.length > 0">
        <br><br><br><br>
      </div>
        <ion-list *ngIf="!protocoles.length > 0">
          <ion-item>
            <div class="message">La liste est vide!</div>
          </ion-item>    
        </ion-list>
      </div>




<div *ngIf="detailProtocole">
  <ion-card class="info-card" (dblclick)="editer(protocole, true)"> 
    <ion-card-header>
      <h2 class="fond-gris"><strong>Détail protocole</strong></h2>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <!--ion-row><h5 class="sans-fond-gris"><strong>Caractères généraux</strong></h5> </ion-row>
        <ion-row> <ion-col class='meta-key'><strong>Code:</strong></ion-col> <ion-col class='meta-value'> {{protocole.data.code}} </ion-col> </ion-row-->
        <ion-row> <ion-col class='meta-key'><strong>Année:</strong></ion-col> <ion-col class='meta-value'> {{protocole.data.annee}} </ion-col> </ion-row>
        <ion-row> <ion-col class='meta-key'><strong>Nom:</strong></ion-col> <ion-col class='meta-value'> {{protocole.data.nom}} </ion-col> </ion-row>
        <ion-row> <ion-col class='meta-key'><strong>Projet:</strong></ion-col> <ion-col class='meta-value'> {{protocole.data.projet}} </ion-col> </ion-row>
        <!--ion-row> <ion-col class='meta-key'><strong>Titre essais:</strong></ion-col> <ion-col class='meta-value'> {{protocole.data.titre_essais}} </ion-col> </ion-row-->
        
        <ion-row *ngFor="let attribut of protocole.data.attributs"> <ion-col class='meta-key'><strong>{{attribut.nom}}:</strong></ion-col> <ion-col class='meta-value'> {{attribut.detail}} </ion-col> </ion-row>
        <!--ion-row> <ion-col class='meta-key'><strong>Objectifs:</strong></ion-col> <ion-col class='meta-value'> {{protocole.data.objectifs}} </ion-col> </ion-row>
        <ion-row> <ion-col class='meta-key'><strong>Méthodologie:</strong></ion-col> <ion-col class='meta-value'> {{protocole.data.methodologie}} </ion-col> </ion-row>
        <ion-row> <ion-col class='meta-key'><strong>Le choix des variétés:</strong></ion-col> <ion-col class='meta-value'> {{protocole.data.choix_varietes}} </ion-col> </ion-row>
        <ion-row> <ion-col class='meta-key'><strong>Nombre d’entrées et répétitions, et dispositif expérimental:</strong></ion-col> <ion-col class='meta-value'> {{protocole.data.nb_e_r_d_e}} </ion-col> </ion-row>
        <ion-row> <ion-col class='meta-key'><strong>Taille de parcelle:</strong></ion-col> <ion-col class='meta-value'> {{protocole.data.taille_parcelle}} </ion-col> </ion-row>
        <ion-row> <ion-col class='meta-key'><strong>Distance entre poquets dans une ligne:</strong></ion-col> <ion-col class='meta-value'> {{protocole.data.d_e_p_d_u_l}} </ion-col> </ion-row>
        <ion-row> <ion-col class='meta-key'><strong>Distance entre les lignes:</strong></ion-col> <ion-col class='meta-value'> {{protocole.data.d_e_l_l}} </ion-col> </ion-row>
        <ion-row> <ion-col class='meta-key'><strong>Démariage:</strong></ion-col> <ion-col class='meta-value'> {{protocole.data.demariage}} </ion-col> </ion-row>
        <ion-row> <ion-col class='meta-key'><strong>Fertilisation :</strong></ion-col> <ion-col class='meta-value'> {{protocole.data.fertilisation}} </ion-col> </ion-row-->
        
        <ion-row><h5 class="sans-fond-gris"><strong>Paramètres des essais</strong></h5> </ion-row>
        <!--ion-row> <ion-col class='meta-key'><strong>Code association ?:</strong></ion-col> <ion-col class='meta-value'> {{protocole.data.avec_code_association}}</ion-col> </ion-row-->
        <ion-row> <ion-col class='meta-key'><strong>Type de culture:</strong></ion-col> <ion-col class='meta-value'> {{protocole.data.type_culture}}</ion-col> </ion-row>
        <ion-row> <ion-col class='meta-key'><strong>Parcelle ?:</strong></ion-col> <ion-col class='meta-value'> {{protocole.data.avec_parcelle}}</ion-col> </ion-row>
        <ion-row *ngIf="protocole.data.avec_parcelle == 'oui'"> <ion-col class='meta-key'><strong>Nombre de parcelle:</strong></ion-col> <ion-col class='meta-value'> {{protocole.data.nb_parcelle}}</ion-col> </ion-row>
        <ion-row> <ion-col class='meta-key'><strong>Bloc ?:</strong></ion-col> <ion-col class='meta-value'> {{protocole.data.avec_bloc}}</ion-col> </ion-row>
        <ion-row *ngIf="protocole.data.avec_bloc == 'oui'"> <ion-col class='meta-key'><strong>Nombre de bloc:</strong></ion-col> <ion-col class='meta-value'> {{protocole.data.nb_bloc}}</ion-col> </ion-row>
        
        <ion-row> <ion-col class='meta-key'><strong>Répétition ?:</strong></ion-col> <ion-col class='meta-value'> {{protocole.data.avec_repetition}}</ion-col> </ion-row>
        <ion-row *ngIf="protocole.data.avec_repetition == 'oui'"> <ion-col class='meta-key'><strong>Nombre de répétition:</strong></ion-col> <ion-col class='meta-value'> {{protocole.data.nb_repetition}}</ion-col> </ion-row>
        <ion-row> <ion-col class='meta-key'><strong>Typologie ?:</strong></ion-col> <ion-col class='meta-value'> {{protocole.data.typologie}}</ion-col> </ion-row>
        <ion-row *ngIf="protocole.data.typologie == 'oui'"> <ion-col class='meta-key'><strong>Année typologie:</strong></ion-col> <ion-col class='meta-value'> {{protocole.data.annee_typologie}}</ion-col> </ion-row>
        <ion-row> <ion-col class='meta-key'><strong>Traitement:</strong></ion-col> <ion-col class='meta-value'> {{protocole.data.traitement}}</ion-col> </ion-row>
        <ion-row> <ion-col class='meta-key'><strong>Type des essais:</strong></ion-col> <ion-col class='meta-value'> {{protocole.data.type_essais}}</ion-col> </ion-row>
        <ion-row *ngIf="protocole.data.traitement == 'non'"> <ion-col class='meta-key'><strong>Superfice des essais (m²):</strong></ion-col> <ion-col class='meta-value'> {{protocole.data.superficie_essais}}</ion-col> </ion-row>
        <ion-row> <ion-col class='meta-key'><strong>La superficie des essais est modifiable ?:</strong></ion-col> <ion-col class='meta-value'> {{protocole.data.superficie_essais_modifiable}}</ion-col> </ion-row>
        <ion-row> <ion-col class='meta-key'><strong>Date enregistrement:</strong></ion-col> <ion-col class='meta-value'> {{protocole.data.today | date: 'dd-MM-yyyy'}}</ion-col> </ion-row>
        
      </ion-grid>
    </ion-card-content> 
  </ion-card>

  <ion-card class="info-card" *ngIf="(user && user.roles && global.estManager(user.roles)) || estManager" (dblclick)="editer(protocole, true)"> 
    <ion-card-header>
      <h2 class="fond-gris"><strong>Plus d'informations</strong></h2>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row><ion-col class='meta-key'><strong>Id:</strong></ion-col> <ion-col class='meta-value'>{{protocole._id}} </ion-col>   </ion-row>
        <ion-row> <ion-col class='meta-key'><strong>No révision:</strong></ion-col> <ion-col class='meta-value'> {{protocole._rev }} </ion-col> </ion-row>
        <ion-row> <ion-col class='meta-key'><strong>Date création:</strong></ion-col> <ion-col class='meta-value'> {{protocole.data.created_at | date: 'dd-MM-yyyy'}} à {{protocole.data.created_at | date: 'HH:mm:ss:ms'}} </ion-col> </ion-row>
        <ion-row> <ion-col class='meta-key'><strong>Créateur:</strong></ion-col> <ion-col class='meta-value'> {{protocole.data.created_by}} </ion-col> </ion-row>
        <ion-row> <ion-col class='meta-key'><strong>ID appareil:</strong></ion-col> <ion-col class='meta-value'> {{protocole.data.deviceid}} </ion-col> </ion-row>
        <ion-row> <ion-col class='meta-key'><strong>Imei:</strong></ion-col> <ion-col class='meta-value'> {{protocole.data.imei}} </ion-col> </ion-row>
        <ion-row> <ion-col class='meta-key'><strong>Numéro téléphone:</strong></ion-col> <ion-col class='meta-value'> {{protocole.data.phonenumber}} </ion-col> </ion-row>
        <ion-row> <ion-col class='meta-key'><strong>Date dernière mise à jour:</strong></ion-col> <ion-col class='meta-value'> {{protocole.data.updatet_at | date: 'dd-MM-yyyy'}}  à {{protocole.data.updatet_at | date: 'HH:mm:ss:ms'}}</ion-col> </ion-row>
        <ion-row> <ion-col class='meta-key'><strong>Dernière mise à jour par:</strong></ion-col> <ion-col class='meta-value'> {{protocole.data.updated_by}} </ion-col> </ion-row>
        <ion-row> <ion-col class='meta-key'><strong>ID appareil:</strong></ion-col> <ion-col class='meta-value'> {{protocole.data.update_deviceid}} </ion-col> </ion-row>
        <ion-row> <ion-col class='meta-key'><strong>Imei:</strong></ion-col> <ion-col class='meta-value'> {{protocole.data.update_imei}} </ion-col> </ion-row>
        <ion-row> <ion-col class='meta-key'><strong>Numéro téléphone:</strong></ion-col> <ion-col class='meta-value'> {{protocole.data.update_phonenumber}} </ion-col> </ion-row>
        <ion-row *ngIf="protocole.data.deleted"> <ion-col class='meta-key'><strong>Date suppression:</strong></ion-col> <ion-col class='meta-value'> {{protocole.data.deleted_at | date: 'dd-MM-yyyy'}}  à {{protocole.data.deleted_at | date: 'HH:mm:ss:ms'}}</ion-col> </ion-row>
        <ion-row *ngIf="protocole.data.deleted"> <ion-col class='meta-key'><strong>Supprimé par:</strong></ion-col> <ion-col class='meta-value'> {{protocole.data.deleted_by}} </ion-col> </ion-row>
      </ion-grid>
    </ion-card-content> 
  </ion-card>

</div>


<div *ngIf="ajoutForm || modifierFrom">
  
  <form [formGroup]="protocoleForm" (ngSubmit) = "actionForm()">
    
    <ion-row><h5 class="sans-fond-gris"><strong>Info généreaux</strong></h5> </ion-row>
    <ion-item>
      <ion-label floating>Date d'ajout <span class="error-box">*</span></ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" formControlName="today" cancelText="Annuler" doneText="Valider" disabled></ion-datetime>
      <!--ion-datetime ion-datepicker  (ionChanged)="setDate($event);" [value]="dateAjout" full="true" calendar="true" locale="fr-FR" clear class="ScheduleDate" displayFormat="DD/MM/YYYY" formControlName="today" [(ngModel)]="today" cancelText="Annuler" okText="Valider" disabled></ion-datetime-->
    </ion-item>
  
    <ion-item>
      <ion-label floating>Année <span class="error-box">*</span></ion-label>
      <ion-select formControlName="annee" [(ngModel)]="selectedAnnee" cancelText="Annuler" okText="Ok">
        <ion-option value="" selected disabled>Selectionnez l'année</ion-option>
        <ion-option *ngFor="let anne of annees" [value]=anne>{{anne}}</ion-option>
      </ion-select>
    </ion-item>
    <div style="padding-left: 15px;" class="error-box" *ngIf="protocoleForm.controls['annee'].hasError('required') && protocoleForm.controls['annee'].touched">* L'année est obligatoir!</div>
  
    <ion-item>
      <ion-label floating>Nom du protocole<span class="error-box">*</span></ion-label>
      <ion-input type="text" formControlName="nom"></ion-input>
    </ion-item>
    <div style="padding-left: 15px;" class="error-box" *ngIf="protocoleForm.controls['nom'].hasError('required') && protocoleForm.controls['nom'].touched">* le nom du protocole est obligatoir!</div>
    
    <ion-item>
      <ion-label floating>Projet <span class="error-box">*</span></ion-label>
      <ion-input type="text" formControlName="projet"></ion-input>
    </ion-item>
    <div style="padding-left: 15px;" class="error-box" *ngIf="protocoleForm.controls['projet'].hasError('required') && protocoleForm.controls['projet'].touched">* le projet est obligatoir!</div>
    
    <!--ion-item>
      <ion-label floating>Titre essais <span class="error-box">*</span></ion-label>
      <ion-input type="text" formControlName="titre_essais"></ion-input>
    </ion-item>
    <div style="padding-left: 15px;" class="error-box" *ngIf="protocoleForm.controls['titre_essais'].hasError('required') && protocoleForm.controls['titre_essais'].touched">* le titre des essais potentiel est obligatoir!</div-->
        
    <!-- list of attributs -->
      <div formArrayName="attributs">
        <div *ngFor="let attribut of protocoleForm.controls.attributs.controls; let i=index">
            <!-- variable header, show remove button when more than one variable available -->    
          <ion-card class="info-card">
            <ion-card-header>
                <ion-list>
                    <ion-item class="message">
                        <h2>Titre {{i + 1}}</h2>
                      <button ion-button *ngIf="protocoleForm.controls.attributs.controls.length > 1" class="error-box" (click)="removeAttribut(i)" clear icon-only item-right><ion-icon name="trash"></ion-icon></button>
                    </ion-item>
                  </ion-list>
            </ion-card-header>
            <ion-card-content>
                <div [formGroupName]="i">
                    <!--replace variable implementation with our new variable component-->
                    <attribut-protocole [group]="protocoleForm.controls.attributs.controls[i]"></attribut-protocole>
                </div>
            </ion-card-content>
          </ion-card>  
        </div>
      </div>

      <div class="margin-20">
        <a (click)="addAttribut()" style="cursor: default">
          Ajouter un autre titre <ion-icon name="add"></ion-icon>
        </a>
      </div>

    <!--ion-item>
      <ion-label floating>Contexte</ion-label>
      <ion-textarea formControlName="contexte" [(ngModel)]="contexte" row="6"></ion-textarea>
    </ion-item>
    <div style="padding-left: 15px;" class="error-box" *ngIf="protocoleForm.controls['contexte'].hasError('required') && protocoleForm.controls['contexte'].touched">* le contexte est obligatoir!</div>

    <ion-item>
      <ion-label floating>Objectifs</ion-label>
      <ion-textarea formControlName="objectifs" [(ngModel)]="objectifs" row="6"></ion-textarea>
    </ion-item>
    <div style="padding-left: 15px;" class="error-box" *ngIf="protocoleForm.controls['objectifs'].hasError('required') && protocoleForm.controls['objectifs'].touched">* l'objectif est obligatoir!</div>
     
    <ion-item>
      <ion-label floating>Méthodologie</ion-label>
      <ion-textarea formControlName="methodologie" [(ngModel)]="methodologie" row="6"></ion-textarea>
    </ion-item>
    <div style="padding-left: 15px;" class="error-box" *ngIf="protocoleForm.controls['methodologie'].hasError('required') && protocoleForm.controls['methodologie'].touched">* la methodologie est obligatoir!</div>
     
    <ion-item>
      <ion-label floating>Le choix des variétés</ion-label>
      <ion-textarea formControlName="choix_varietes" [(ngModel)]="choix_varietes" row="6"></ion-textarea>
    </ion-item>
    <div style="padding-left: 15px;" class="error-box" *ngIf="protocoleForm.controls['choix_varietes'].hasError('required') && protocoleForm.controls['choix_varietes'].touched">* le choix des variétés est obligatoir!</div>
     
     <ion-item>
      <ion-label floating>Nombre d’entrées et répétitions, et dispositif expérimental</ion-label>
      <ion-textarea formControlName="nb_e_r_d_e" [(ngModel)]="nb_e_r_d_e" row="6"></ion-textarea>
    </ion-item>
    <div style="padding-left: 15px;" class="error-box" *ngIf="protocoleForm.controls['nb_e_r_d_e'].hasError('required') && protocoleForm.controls['nb_e_r_d_e'].touched">* le nombre d’entrées et répétitions, et dispositif expérimental est obligatoir!</div>
     
     <ion-item>
      <ion-label floating>Taille de parcelle </ion-label>
      <ion-textarea formControlName="taille_parcelle" [(ngModel)]="taille_parcelle" row="6"></ion-textarea>
    </ion-item>
    <div style="padding-left: 15px;" class="error-box" *ngIf="protocoleForm.controls['taille_parcelle'].hasError('required') && protocoleForm.controls['taille_parcelle'].touched">* la taille de parcelle est obligatoir!</div>
        
     <ion-item>
      <ion-label floating>Distance entre poquets dans une ligne</ion-label>
      <ion-textarea formControlName="d_e_p_d_u_l" [(ngModel)]="d_e_p_d_u_l" row="6"></ion-textarea>
    </ion-item>
    <div style="padding-left: 15px;" class="error-box" *ngIf="protocoleForm.controls['d_e_p_d_u_l'].hasError('required') && protocoleForm.controls['d_e_p_d_u_l'].touched">* la distance entre poquets dans une ligne est obligatoir!</div>
        
    <ion-item>
      <ion-label floating>Distance entre les lignes</ion-label>
      <ion-textarea formControlName="d_e_l_l" [(ngModel)]="d_e_l_l" row="6"></ion-textarea>
    </ion-item>
    <div style="padding-left: 15px;" class="error-box" *ngIf="protocoleForm.controls['d_e_l_l'].hasError('required') && protocoleForm.controls['d_e_l_l'].touched">* la distance entre les lignes est obligatoir!</div>
     
    <ion-item>
      <ion-label floating>Démariage</ion-label>
      <ion-textarea formControlName="demariage" [(ngModel)]="demariage" row="6"></ion-textarea>
    </ion-item>
    <div style="padding-left: 15px;" class="error-box" *ngIf="protocoleForm.controls['demariage'].hasError('required') && protocoleForm.controls['demariage'].touched">* le démariage est obligatoir!</div>
     
    <ion-item>
      <ion-label floating>Fertilisation </ion-label>
      <ion-textarea formControlName="fertilisation" [(ngModel)]="fertilisation" row="6"></ion-textarea>
    </ion-item>
    <div style="padding-left: 15px;" class="error-box" *ngIf="protocoleForm.controls['fertilisation'].hasError('required') && protocoleForm.controls['fertilisation'].touched">* la fertilisation est obligatoir!</div>
     
    <ion-item>
      <ion-label floating>Autres spécifications</ion-label>
      <ion-textarea formControlName="autres_specifications"  [(ngModel)]="autres_specifications" row="6"></ion-textarea>
    </ion-item-->
    <br>
    <ion-row><h5 class="sans-fond-gris"><strong>Paramètre des essais</strong></h5> </ion-row>
    <!--ion-item>
      <ion-label floating>Avec code association ? <span class="error-box">*</span></ion-label>
      <ion-select formControlName="avec_code_association" cancelText="Annuler" okText="Ok">
        <ion-option value="oui">Oui</ion-option>
        <ion-option value="non">Non</ion-option>
      </ion-select>
    </ion-item>
    <div style="padding-left: 15px;" class="error-box" *ngIf="protocoleForm.controls['avec_code_association'].hasError('required') && protocoleForm.controls['avec_code_association'].touched">* le code association est obligatoir!</div-->
    
    <ion-item>
      <ion-label floating>Type culture <span class="error-box">*</span></ion-label>
      <ion-select formControlName="type_culture" cancelText="Annuler" okText="Ok">
        <ion-option value="pure">Pure</ion-option>
        <ion-option value="association">En association</ion-option>
      </ion-select>
    </ion-item>
    <div style="padding-left: 15px;" class="error-box" *ngIf="protocoleForm.controls['type_culture'].hasError('required') && protocoleForm.controls['type_culture'].touched">* le type de culture est obligatoir!</div>

    <ion-item>
      <ion-label floating>Traitement <span class="error-box">*</span></ion-label>
      <ion-select [(ngModel)]="traitement" formControlName="traitement" cancelText="Annuler" okText="Ok">
        <ion-option value="oui">Oui</ion-option>
        <ion-option value="non">Non</ion-option>
      </ion-select>
    </ion-item>
    <div style="padding-left: 15px;" class="error-box" *ngIf="protocoleForm.controls['traitement'].hasError('required') && protocoleForm.controls['traitement'].touched">* le type des essais est obligatoir!</div>
    
    
    <ion-item>
      <ion-label floating>Type essais <span class="error-box">*</span></ion-label>
      <ion-select formControlName="type_essais" cancelText="Annuler" okText="Ok">
        <ion-option value="avec controle">Avec controle (comparaison)</ion-option>
        <ion-option value="sans controle">Sans controle</ion-option>
      </ion-select>
    </ion-item>
    <div style="padding-left: 15px;" class="error-box" *ngIf="protocoleForm.controls['type_essais'].hasError('required') && protocoleForm.controls['type_essais'].touched">* le type des essais est obligatoir!</div>
    

    <ion-item>
      <ion-label floating>Avec parcelle ? <span class="error-box">*</span></ion-label>
      <ion-select [(ngModel)]="avec_parcelle" formControlName="avec_parcelle" cancelText="Annuler" okText="Ok">
        <ion-option value="oui">Oui</ion-option>
        <ion-option value="non">Non</ion-option>
      </ion-select>
    </ion-item>
    <div style="padding-left: 15px;" class="error-box" *ngIf="protocoleForm.controls['avec_parcelle'].hasError('required') && protocoleForm.controls['avec_parcelle'].touched">* la parcelle est obligatoir!</div>
    

    <ion-item [hidden]="avec_parcelle == 'non'">
      <ion-label floating>Nombre parcelles <span class="error-box">*</span></ion-label>
      <ion-input type="number" formControlName="nb_parcelle"></ion-input>
    </ion-item> 
    <div style="padding-left: 15px;" class="error-box" *ngIf="protocoleForm.controls['nb_parcelle'].hasError('required') && protocoleForm.controls['nb_parcelle'].touched">* le nombre de de parcelle est obligatoir!</div>
 
    <ion-item>
      <ion-label floating>Avec bloc ? <span class="error-box">*</span></ion-label>
      <ion-select [(ngModel)]="avec_bloc" formControlName="avec_bloc" cancelText="Annuler" okText="Ok">
        <ion-option value="oui">Oui</ion-option>
        <ion-option value="non">Non</ion-option>
      </ion-select>
    </ion-item>
    <div style="padding-left: 15px;" class="error-box" *ngIf="protocoleForm.controls['avec_bloc'].hasError('required') && protocoleForm.controls['avec_bloc'].touched">* le bloc est obligatoir!</div>
    

    <ion-item [hidden]="avec_bloc == 'non'">
      <ion-label floating>Nombre de avec_bloc <span class="error-box">*</span></ion-label>
      <ion-input type="number" formControlName="nb_bloc"></ion-input>
    </ion-item> 
    <div style="padding-left: 15px;" class="error-box" *ngIf="protocoleForm.controls['nb_bloc'].hasError('required') && protocoleForm.controls['nb_bloc'].touched">* le nombre de bloc est obligatoir!</div>
 
    <ion-item>
      <ion-label floating>Avec répétition ? <span class="error-box">*</span></ion-label>
      <ion-select [(ngModel)]="avec_repetition" formControlName="avec_repetition" cancelText="Annuler" okText="Ok">
        <ion-option value="oui">Oui</ion-option>
        <ion-option value="non">Non</ion-option>
      </ion-select>
    </ion-item>
    <div style="padding-left: 15px;" class="error-box" *ngIf="protocoleForm.controls['avec_repetition'].hasError('required') && protocoleForm.controls['avec_repetition'].touched">* la répétion est obligatoir!</div>

    <ion-item [hidden]="avec_repetition == 'non'">
      <ion-label floating>Nombre de répétion <span class="error-box">*</span></ion-label>
      <ion-input type="number" formControlName="nb_repetition"></ion-input>
    </ion-item> 
    <div style="padding-left: 15px;" class="error-box" *ngIf="protocoleForm.controls['nb_repetition'].hasError('required') && protocoleForm.controls['nb_repetition'].touched">* le nombre de répétition est obligatoir!</div>
 <br>
   <fieldset>
      <legend>Info superfice (taille des parcelles) des essais</legend>
    <ion-row *ngIf="!traitement || (traitement && traitement == 'non')">
      <ion-col>
        <ion-item>
          <ion-label floating>Superfice (m²)<span class="error-box">*</span></ion-label>
          <ion-input type="number" formControlName="superficie_essais"></ion-input>
        </ion-item> 
        <div style="padding-left: 15px;" class="error-box" *ngIf="protocoleForm.controls['superficie_essais'].hasError('required') && protocoleForm.controls['superficie_essais'].touched">* la superficie des essais est obligatoir!</div>    
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label floating>Modifiable ? <span class="error-box">*</span></ion-label>
          <ion-select formControlName="superficie_essais_modifiable" cancelText="Annuler" okText="Ok">
            <ion-option value="oui">Oui</ion-option>
            <ion-option value="non">Non</ion-option>
          </ion-select>
        </ion-item>
        <div style="padding-left: 15px;" class="error-box" *ngIf="protocoleForm.controls['superficie_essais_modifiable'].hasError('required') && protocoleForm.controls['superficie_essais_modifiable'].touched">* Ce champ est obligatoir!</div>    
      </ion-col>
    </ion-row>

    <div *ngIf="traitement && traitement == 'oui'">
      <ion-item>
        <ion-label floating>Modifiable ? <span class="error-box">*</span></ion-label>
        <ion-select formControlName="superficie_essais_modifiable" cancelText="Annuler" okText="Ok">
          <ion-option value="oui">Oui</ion-option>
          <ion-option value="non">Non</ion-option>
        </ion-select>
      </ion-item>
      <div style="padding-left: 15px;" class="error-box" *ngIf="protocoleForm.controls['superficie_essais_modifiable'].hasError('required') && protocoleForm.controls['superficie_essais_modifiable'].touched">* Ce champ est obligatoir!</div>      
    </div>
    
  </fieldset>

  <br>
   <fieldset>
      <legend>Info typologie des producteurs</legend>
     <ion-row *ngIf="typologie != 'oui'">
        <ion-item>
          <ion-label floating>Inclure la typologie ? <span class="error-box">*</span></ion-label>
          <ion-select [(ngModel)]="typologie" formControlName="typologie" cancelText="Annuler" okText="Ok">
            <ion-option value="oui">Oui</ion-option>
            <ion-option value="non">Non</ion-option>
          </ion-select>
        </ion-item>
        <div style="padding-left: 15px;" class="error-box" *ngIf="protocoleForm.controls['typologie'].hasError('required') && protocoleForm.controls['typologie'].touched">* la typologie est obligatoir!</div>      
     </ion-row>
    <ion-row *ngIf="typologie == 'oui'">
      <ion-col>
          <ion-item>
            <ion-label floating>Inclure la typologie ? <span class="error-box">*</span></ion-label>
            <ion-select formControlName="typologie" cancelText="Annuler" okText="Ok">
              <ion-option value="oui">Oui</ion-option>
              <ion-option value="non">Non</ion-option>
            </ion-select>
          </ion-item>
          <div style="padding-left: 15px;" class="error-box" *ngIf="protocoleForm.controls['typologie'].hasError('required') && protocoleForm.controls['typologie'].touched">* la typologie est obligatoir!</div>    
        </ion-col>
      <ion-col>
        <ion-item>
          <ion-label floating>Année typologie<span class="error-box">*</span></ion-label>
          <ion-select formControlName="annee_typologie" cancelText="Annuler" okText="Ok">
            <ion-option *ngFor="let an of annees_typologie" [value]=an>{{an}}</ion-option>
          </ion-select>
        </ion-item> 
        <div style="padding-left: 15px;" class="error-box" *ngIf="protocoleForm.controls['annee_typologie'].hasError('required') && protocoleForm.controls['annee_typologie'].touched">* l'année de la typologie est obligatoir!</div>    
      </ion-col>
    </ion-row>

  </fieldset>
 
      <br>
      <button ion-button type="submit" color="my_secondary" [disabled]="!protocoleForm.valid" block>Sauvegarder</button>
    </form>
    <button ion-button color="my_primary" block (click)="annuler()">Fermer</button>
  
  </div>
  
  <ion-fab bottom right *ngIf="!ajoutForm &&!detailProtocole && selectedStyle != 'tableau' && ((user && user.roles && global.estAnimataire(user.roles)) || estAnimataire)" bottom>
      <button ion-fab mini (click)="ajouter()" color="my_primary"><ion-icon name="add"></ion-icon></button>
          <!--button ion-fab mini (click)="fusionnerprotocoles()" color="my_primary">FUS</button-->
    </ion-fab>
    
  
  
    <ion-fab bottom right *ngIf="!ajoutForm &&!detailProtocole && selectedStyle == 'tableau' && ((user && user.roles && global.estAnimataire(user.roles)) || estAnimataire)">
      <button ion-fab color="fuma-green"><ion-icon name="arrow-dropup"></ion-icon></button>
      <ion-fab-list side="top"> 
        <button ion-fab mini *ngIf="protocoles.length > 0" (click)="onPrint()" color="my_primary"><ion-icon name="print"></ion-icon></button>
        <button ion-fab mini *ngIf="protocoles.length > 0" (click)="exportExcel()" color="my_primary"><ion-icon name="logo-windows"></ion-icon></button>
        <button ion-fab mini (click)="ajouter()" color="my_primary"><ion-icon name="add"></ion-icon></button>
        
      </ion-fab-list>
    </ion-fab>
  
    <ion-fab bottom right *ngIf="detailProtocole">
      <button ion-fab color="fuma-green"><ion-icon name="arrow-dropup"></ion-icon></button>
      <ion-fab-list side="top">
        <button ion-fab mini *ngIf="(user && user.roles && global.estManager(user.roles)) || estManger" (click)="supprimer(protocole)" color="delete" ><ion-icon name="trash"></ion-icon></button>
        <button ion-fab mini (click)="cultures(protocole)" color="my_primary" ><strong>CL</strong></button>
        <button ion-fab mini *ngIf="protocole.data.traitement == 'oui'" (click)="traitements(protocole)" color="my_primary" ><strong>TR</strong></button>
        <button ion-fab mini *ngIf="(user && user.roles && global.estManager(user.roles)) || estManger" (click)="editer(protocole)" color="my_primary" ><ion-icon name="create"></ion-icon></button>
      </ion-fab-list>
    </ion-fab>
  

    
</ion-content>
