page-leaflet {
    #mapid{
    height:100%;
    width:100%;
  }

  .zoom-warning{
    position:absolute;;
    top:0;
    left:16px;
    width: 100vw -32px;;
    padding-right:16px;
    height:20px;
    z-index: 100;
    background-color: #f39c12;
    font-weight: 600;
  }
}
