page-leaflet {
    #mapid{
    height:100%;
    width:100%;
  }

  .zoom-warning{
    position:absolute;;
    top:0;
    left:16px;
    width: 100vw -32px;;
    padding-right:16px;
    height:20px;
    z-index: 100;
    background-color: #f39c12;
    font-weight: 600;
  }

 ion-grid{
        padding:0;
        height:100%;
    }
    .scroll-content{
        //display: flex;
    }
    ion-row{
        flex:1;
    }
    .fond-gris{
        width:100%;
        text-align: center;
        font-size: large;
        background-color: map-get($colors,fuma-yellow-background);
        color: map-get($colors,fuma-yellow);
        margin:0
    }
    ion-col{
        padding:0
    }
    .forms-container{
        overflow:auto;
        white-space: nowrap;
    }
    p{
        padding:5px
    }
    
    .aligneDate{
        text-align: right;
    }
    .text_liste{
        font-size: 12px;
    }

    
    /*ion-auto-complete {
        width: 50vw;
    }*/

    img{
        object-fit: cover
    }
    ion-thumbnail{
        margin:2px
    }
    .message{
        background:map-get($colors, fuma-green-dark);
        color:map-get($colors, fuma-green-light);
        width:100%
    }
    .badger-counter-item{
        background-color: rgba(0,0,0,0);
        border-bottom-width: 0;
    }

    .create-account {
        color:seagreen;
        text-decoration: underline;
        background: none;
      }

       .error-box {
        color: red;
    }
     
    .error-border {
        color: red;
    }

    ion-auto-complete {
        width: 96vw;
        //z-index: -100px;

    }

    .info-card{
        background:rgba(255,255,255,0.5); 
        margin:12px 0 0 0;
        width:100%;
        // height:100%;
        /*h2{
            font-weight:700
            }*/
    
    }


    .spinner-container{
        //width: 100%;
        text-align: center;
        color: white;
        //background: white;
        //padding: 10px;
    }

    .forms-container{
        overflow:auto;
        white-space: nowrap;
    }

}
