<ion-header>

  <ion-navbar color="primary">
    <ion-title>profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <p>Available Profiles</p>
  <div *ngIf='empty'>Profiles will update when there is internet access</div>
  <ion-list>
    <ion-item *ngFor="let profile of profiles">
      <ion-thumbnail item-left>
        <img [src]="profile.photo">
      </ion-thumbnail>
      <!--<h2>{{profile.photo | async}}</h2>-->
      <p>Profile text</p>
      <button ion-button clear item-right>View</button>
    </ion-item>
  </ion-list>

  <ion-list>
  <!--<ion-item *ngFor="let photo of photoArray">
    <ion-thumbnail item-left>
      <img [src]="photo.image">
    </ion-thumbnail>
    <h2>{{photo.id}}</h2>
    <p>Profile text</p>
    <button ion-button clear item-right>View</button>
  </ion-item>-->
</ion-list>

</ion-content>