<ion-header>
  <ion-navbar color="primary">
    <ion-title>profiles</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showFilters()">
        <ion-icon name="funnel"></ion-icon>
      </button>
      <button ion-button icon-only>
        <ion-badge color="fuma-green" item-right *ngIf="profiles">{{profiles.length}}</ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="message" *ngIf='empty'>Profiles will update when there is internet access</div>
  <div class="message" *ngIf='deletedMessage'>Deleted profiles will update when reloaded</div>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let profile of profiles" (click)="viewProfile(profile)">
      <ion-thumbnail item-left>
        <img [src]="profile.photo">
      </ion-thumbnail>
      <!--<h2>{{profile.photo | async}}</h2>-->
      <p>{{profile.doc.data.nom_Membre}}</p>
      <button ion-button clear item-right>View</button>
    </ion-item>
  </ion-list>
  <div class="message" *ngIf='profiles && profiles.length==0'>There are no matching profiles</div>
</ion-content>