<!--
  Generated template for the GestionvarietesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="fuma_primary">
    <ion-buttons *ngIf="!ajoutForm && !modifierFrom && !detailVariete" left>
      <button ion-button icon-only color="royal" (click)="dismiss()"> Fermer <!--ion-icon name="arrow-back"></ion-icon--></button>
    </ion-buttons> 
    <ion-buttons *ngIf="ajoutForm || modifierFrom" left>
      <button ion-button icon-only color="royal" (click)="annuler()"> <ion-icon name="arrow-back"></ion-icon></button>
    </ion-buttons> 
    <ion-buttons *ngIf="detailVariete" left>
      <button ion-button icon-only color="royal" (click)="fermerDetail()"><ion-icon name="arrow-back"></ion-icon></button>
    </ion-buttons> 
    <ion-buttons *ngIf="!ajoutForm && !detailVariete && !modifierFrom"  start>

      <button ion-button *ngIf="rechercher" icon-only>
          <ion-spinner></ion-spinner>
      </button>

      <button ion-button icon-only>
        <ion-badge color="fuma-green" item-right>{{varietes.length}}</ion-badge>
      </button>

      <button ion-button icon-only color="royal" *ngIf="aProfile" (click) = "sync()" >
         <ion-icon name="sync"></ion-icon>
      </button>

      <!--button *ngIf="aProfile" ion-button icon-only color="royal" (click)="profile()">
        <ion-icon name="person"></ion-icon>
      </button>

      <button *ngIf="!aProfile" ion-button icon-only color="royal" (click)="connexion()">
        <ion-icon name="unlock"></ion-icon>
      </button-->
    </ion-buttons>

    <ion-title *ngIf="!ajoutForm && !detailVariete">variétés</ion-title>
    <ion-title *ngIf="ajoutForm && !modifierFrom">ajouter-variété</ion-title>
    <ion-title *ngIf="ajoutForm && modifierFrom">modifier-variété</ion-title>
    <ion-title *ngIf="detailVariete">detail-variété</ion-title>

    <!--ion-buttons *ngIf="!ajoutForm && !detailVariete && !modifierFrom"  end>
      
      <button ion-button icon-only color="royal" (click)="option()"><ion-icon name="options"></ion-icon></button>
    </ion-buttons-->
  </ion-navbar>
</ion-header>


<ion-content padding>

  <div *ngIf="!ajoutForm && !detailVariete">

    <ion-list>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label floating>Choisir la limite</ion-label>
            <ion-select [(ngModel)]="selectedLimit" (ionChange)="choixLimit()" cancelText="Annuler" okText="Ok" >
              <ion-option value="" selected disabled>Selectionnez la limite</ion-option>
              <ion-option *ngFor="let limit of limits" [value]=limit>{{limit}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label floating>Style affichage</ion-label>
            <ion-select [(ngModel)]="selectedStyle" cancelText="Annuler" okText="Ok" >
              <ion-option value="" selected disabled>Selectionnez le style de la liste</ion-option>
              <ion-option value="liste" >Liste</ion-option>
              <ion-option value="tableau" >Tableau</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-item>
        <ion-label floating>Culture</ion-label>
        <ion-select [(ngModel)]="myCulture" (ionChange)="chargerVariete(myCulture)" cancelText="Annuler" okText="Ok" [disabled]="selectedCulture">
          <ion-option *ngFor="let c of cultures" [value]=c.doc.data.nom>{{c.doc.data.nom}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label floating>Type de recherche</ion-label>
        <ion-select [(ngModel)]="typeRecherche" cancelText="Annuler" okText="Ok" >
          <ion-option value="dénomination" >Par dénomination</ion-option>
          <ion-option value="nature_genetique" >Par nature génétique</ion-option>
          <ion-option value="obtenteur" >Par obtenteur</ion-option>
          <ion-option value="mainteneur" >Par mainteneur</ion-option>
        </ion-select>
      </ion-item>
  
      <ion-item *ngIf="typeRecherche == 'dénomination'">
        <ion-searchbar placeholder="Rechercher par code/désignation..." [showCancelButton]="shouldShowCancel" (ionInput)="getItems($event)"></ion-searchbar>
      </ion-item>
  
      <ion-item *ngIf="typeRecherche == 'nature_genetique'">
        <ion-searchbar placeholder="Rechercher par nature génétique..."  [showCancelButton]="shouldShowCancel" (ionInput)="getItems($event)"></ion-searchbar>
      </ion-item>
  
      <ion-item *ngIf="typeRecherche == 'obtenteur'">
        <ion-searchbar placeholder="Rechercher par obtenteur..." [showCancelButton]="shouldShowCancel" (ionInput)="getItems($event)"></ion-searchbar>
      </ion-item>

      <ion-item *ngIf="typeRecherche == 'mainteneur'">
        <ion-searchbar placeholder="Rechercher par mainteneur..." [showCancelButton]="shouldShowCancel" (ionInput)="getItems($event)"></ion-searchbar>
      </ion-item>
  
    </ion-list>
    <br >
      <ion-list class="info-card" *ngIf="varietes.length > 0 && selectedStyle === 'liste'">
      <!--ion-list *ngIf="selectedStyle === 'liste'" [virtualScroll]="varietes" [headerFn]="myHeaderFn"-->
      
        <ion-list-header>
          <h2  class="fond-gris"><strong>Les variétés <span *ngIf="selectedCulture && selectedStyle == 'liste'">
            de {{culture}}
          </span></strong></h2>
        </ion-list-header>

        <!--ion-item-divider *virtualHeader="let header" class="message">
          <strong style="width: 100%" >varietes {{selectedAnnee}}: {{header}}</strong>
        </ion-item-divider-->


      <ion-item *ngFor="let v of varietes; let i = index" (click)="detail(v.doc)"> 
      <!--ion-item *virtualItem="let ess" (click)="detail(ess.doc)" --> 
        <!--h6><strong>Code variete:</strong> {{ess.doc.data.code_variete}}</h6-->
        <h6><strong>Culture:</strong> {{v.doc.data.culture}}</h6>
        <h6><strong>Dénomination (Synonymes):</strong> {{v.doc.data.denomination}}</h6>
        <h6><strong>Obtenteur:</strong> {{v.doc.data.obtenteur}}</h6>
        <!--h6><strong>Cycle semis:</strong> {{v.doc.data.cycle_semis}}</h6-->
      </ion-item>
    </ion-list>

  <ion-card class="info-card" *ngIf="varietes.length > 0 && selectedStyle === 'tableau'">
    <ion-card-header>
      <h2 class="fond-gris"><strong>Les variétés <span *ngIf="selectedCulture && selectedStyle == 'tableau'">
        de {{culture}}
      </span></strong></h2>
    </ion-card-header> 
    <ion-scroll scrollX="true" scrollY="true" id="tableau" style="height: 80vh"> 
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
          <th style="min-width: 100px">
            <strong>Culture</strong> 
          </th>
          <th style="min-width: 100px" >
            <strong>Dénomination (Synonymes)</strong> 
          </th>
          <th >
            <strong>Nature génétique</strong> 
          </th>
          <th>
            <strong>Obtenteur</strong>
          </th>
          <th  >
            <strong>Année d'obtension</strong>
          </th>
          <th>
            <strong>Pays d’inscription</strong>
          </th>
          <th >
            <strong>Année d’inscription</strong>
          </th>
          <th  >
            <strong>Mainteneur</strong>
          </th>
          <th  *ngIf="myCulture == 'Riz'">
            <strong>Ecosystème de production</strong>
          </th>
          <th style="min-width: 200px" *ngIf="myCulture == 'Arachide' || myCulture == 'Niébé' || myCulture == 'Maïs' || myCulture == 'Riz' || myCulture == 'Mil' || myCulture == 'Sorgho'">
            <strong>Cycle semis–maturité (50%) <!--span *ngIf="myCulture == 'Arachide' || myCulture == 'Niébé' || myCulture == 'Maïs' || myCulture == 'Riz' || myCulture == 'Mil' || myCulture == 'Sorgho'"-->(jr.)<!--/span--></strong>
          </th>
          <th style="min-width: 200px" *ngIf="myCulture == 'Manioc' || myCulture == 'Igname' || myCulture == 'Pomme de terre' || myCulture == 'Oignon' || myCulture == 'Tomate'">
            <strong>Cycle plantation maturité <span *ngIf="Variete.culture && (Variete.culture == 'Manioc' || Variete.culture == 'Igname')">(Mois)</span><span *ngIf="Variete.culture && (Variete.culture == 'Pomme de terre' || Variete.culture == 'Oignon' || Variete.culture == 'Tomate')">(jr.)</span></strong>
          </th>
          <th *ngIf="myCulture == 'Tomate'" style="min-width: 200px">
            <strong>Poids moyen du fruit (G)</strong>
          </th>
          <th *ngIf="myCulture == 'Tomate'" style="min-width: 200px"> 
            <strong>Aptitude au transport</strong>
          </th>
          <th *ngIf="myCulture == 'Oignon'">
            <strong>Forme du bulbe</strong>
          </th>
          <th *ngIf="myCulture == 'Oignon'">
            <strong>Couleur du Bulbe</strong>
          </th>
          <th *ngIf="myCulture == 'Pomme de terre'">
            <strong>Forme des tubercules</strong>
          </th>
          <th *ngIf="myCulture == 'Maïs' || myCulture == 'Mil' || myCulture == 'Sorgho'">
            <strong>Hauteur de plantes (CM)</strong>
          </th>
          <th *ngIf="myCulture == 'Sorgho'">
            <strong>Type de panicule</strong>
          </th>
          <th *ngIf="myCulture == 'Mil'">
            <strong>Aptitude au tallage</strong>
          </th>
          <th *ngIf="myCulture == 'Mil'">
            <strong>Longueur de la chandelle</strong>
          </th>
          <th *ngIf="myCulture == 'Manioc' || myCulture == 'Pomme de terre'">
            <strong>Couleur de la peau</strong>
          </th>
          <th *ngIf="myCulture == 'Igname' || myCulture == 'Pomme de terre'">
            <strong>Couleur de la chair</strong>
          </th>
          <th *ngIf="myCulture == 'Manioc'" style="min-width: 200px">
            <strong>Teneur en acide cyanhydrique</strong>
          </th>
          <th *ngIf="myCulture == 'Riz'">
            <strong>Type de grains</strong>
          </th>
          
          <th *ngIf="myCulture == 'Niébé'">
            <strong>Type de floraison</strong>
          </th>
          <th *ngIf="myCulture == 'Maïs'">
            <strong>Recouvrement de l’épi</strong>
          </th>
          <th *ngIf="myCulture == 'Arachide' || myCulture == 'Niébé'">
            <strong>Port des plants</strong>
          </th>
          <th *ngIf="myCulture == 'Arachide' || myCulture == 'Niébé' || myCulture == 'Maïs' || myCulture == 'Sorgho'">
            <strong>Couleur des graines</strong>
          </th>
          <th *ngIf="myCulture == 'Arachide' || myCulture == 'Niébé' || myCulture == 'Maïs'" style="min-width: 200px">
            <strong>Poids de 100 grains (G)</strong>
          </th>
          <th *ngIf="myCulture == 'Riz' || myCulture == 'Mil' || myCulture == 'Sorgho'" style="min-width: 200px">
            <strong>Poids de 1000 grains (G)</strong>
          </th>   
          <th *ngIf="myCulture == 'Maïs'">
            <strong>Texture du grain</strong>
          </th>    
          <th >
            <strong>Rendement potentiel (T/ha)</strong>
          </th>
          <th *ngIf="myCulture == 'Pomme de terre' || myCulture == 'Oignon'">
            <strong>Aptitude à la conservation</strong>
          </th>
          <th *ngIf="myCulture == 'Arachide' || myCulture == 'Manioc' || myCulture == 'Igname'">
            <strong>Vocation</strong>
          </th>
          <th style="min-width: 300px">
            <strong>Autres caractères</strong>
          </th>
          </tr>
        </thead>
        <!--hr style="width: 375%"-->
        <tbody>
            <tr *ngFor="let v of varietes" (click)="detail(v.doc)">
              <td  >
                {{v.doc.data.culture}}
              </td>
              <td  >
                {{v.doc.data.denomination}}
              </td>
              <td  >
                {{v.doc.data.nature_genetique}}
              </td>
              <td  >
                {{v.doc.data.obtenteur}}
              </td>  
              <td  >
                {{v.doc.data.date_obtention}}
              </td>
              <td  >
                {{v.doc.data.pays_inscription}}
              </td>
              <td  >
                {{v.doc.data.date_inscription}}
              </td>
              <td  >
                {{v.doc.data.mainteneur}}
              </td>
              <td  *ngIf="myCulture == 'Riz'">
                {{v.doc.data.ecosysteme_de_production}}
              </td>
              <td  *ngIf="myCulture == 'Arachide' || myCulture == 'Niébé' || myCulture == 'Maïs' || myCulture == 'Riz' || myCulture == 'Mil' || myCulture == 'Sorgho'">
                {{v.doc.data.cycle_semis_maturite}}
              </td>
              <td *ngIf="myCulture == 'Manioc' || myCulture == 'Igname' || myCulture == 'Pomme de terre' || myCulture == 'Oignon' || myCulture == 'Tomate'" >
                {{v.doc.data.cycle_plantation_maturite}}
              </td>
              <td *ngIf="myCulture == 'Tomate'" >
                {{v.doc.data.poids_moyen_du_fruit}}
              </td>
              <td  *ngIf="myCulture == 'Tomate'">
                {{v.doc.data.aptitude_au_transport}}
              </td>
              <td  *ngIf="myCulture == 'Oignon'">
                {{v.doc.data.forme_du_bulbe}}
              </td>
              <td  *ngIf="myCulture == 'Oignon'">
                {{v.doc.data.couleur_du_Bulbe}}
              </td>
              <td *ngIf="myCulture == 'Pomme de terre'" >
                {{v.doc.data.forme_des_tubercules}}
              </td>
              <td  *ngIf="myCulture == 'Maïs' || myCulture == 'Mil' || myCulture == 'Sorgho'">
                {{v.doc.data.hauteur_de_plantes}}
              </td>
              <td *ngIf="myCulture == 'Sorgho'" >
                {{v.doc.data.type_panicule}}
              </td>
              <td  *ngIf="myCulture == 'Mil'">
                {{v.doc.data.aptitude_au_tallage}}
              </td>
              <td  *ngIf="myCulture == 'Mil'">
                {{v.doc.data.longueur_chandelle}}
              </td>
              <td  *ngIf="myCulture == 'Manioc' || myCulture == 'Pomme de terre'">
                {{v.doc.data.couleur_peau}}
              </td>
              <td  *ngIf="myCulture == 'Igname' || myCulture == 'Pomme de terre'">
                {{v.doc.data.couleur_chair}}
              </td>
              <td  *ngIf="myCulture == 'Manioc'">
                {{v.doc.data.teneur_en_acide_cyanhydrique}}
              </td>
              <td  *ngIf="myCulture == 'Riz'">
                {{v.doc.data.type_de_grains}}
              </td>
              <td  *ngIf="myCulture == 'Niébé'">
                {{v.doc.data.type_de_floraison}}
              </td>
              <td  *ngIf="myCulture == 'Maïs'">
                {{v.doc.data.recouvrement_epi}}
              </td>
              <td  *ngIf="myCulture == 'Arachide' || myCulture == 'Niébé'">
                {{v.doc.data.port_des_plants}}
              </td>
              <td  *ngIf="myCulture == 'Arachide' || myCulture == 'Niébé' || myCulture == 'Maïs' || myCulture == 'Sorgho'">
                {{v.doc.data.couleur_des_graines}}
              </td>
              <td  *ngIf="myCulture == 'Arachide' || myCulture == 'Niébé' || myCulture == 'Maïs'">
                {{v.doc.data.poids_de_100_grains}}
              </td>
              <td  *ngIf="myCulture == 'Riz' || myCulture == 'Mil' || myCulture == 'Sorgho'">
                {{v.doc.data.poids_de_1000_grains}}
              </td>
              <td  *ngIf="myCulture == 'Maïs'">
                {{v.doc.data.texture_du_grain}}
              </td>
              <td  >
                {{v.doc.data.rendement_potentiel}}
              </td>
              <td  *ngIf="myCulture == 'Pomme de terre' || myCulture == 'Oignon'">
                {{v.doc.data.aptitude_a_la_conservation}}
              </td>
              <td  *ngIf="myCulture == 'Arachide' || myCulture == 'Manioc' || myCulture == 'Igname'">
                {{v.doc.data.vocation}}
              </td>
              <td  >
                {{v.doc.data.autres_caracteres}}
              </td>        
            </tr>
        </tbody>
      </table>
    </ion-scroll>
  </ion-card>

  <div *ngIf="varietes.length > 0">
    <br><br><br><br>
  </div>
    <ion-list *ngIf="!varietes.length > 0">
      <ion-item>
        <div class="message">La liste <span *ngIf="selectedCulture">
          des variétés de {{culture}}
        </span> est vide!</div>
      </ion-item>    
    </ion-list>
  </div>


<div *ngIf="detailVariete">
    <ion-card class="info-card" (dblclick)="editer(variete, true)"> 
      <ion-card-header>
        <h2 class="fond-gris"><strong>Détail variete: {{variete.data.denomination}}</strong></h2>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <!--ion-row><h5 class="sans-fond-gris"><strong>Caractères généraux</strong></h5> </ion-row-->
          <ion-row> <ion-col class='meta-key'><strong>Dénomination (Synonymes):</strong></ion-col> <ion-col class='meta-value'> {{variete.data.denomination}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Culture:</strong></ion-col> <ion-col class='meta-value'> {{variete.data.culture}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Nature génétique:</strong></ion-col> <ion-col class='meta-value'> {{variete.data.nature_genetique}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Obtenteur:</strong></ion-col> <ion-col class='meta-value'> {{variete.data.obtenteur}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Année d'obtension:</strong></ion-col> <ion-col class='meta-value'> {{variete.data.date_obtention}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Pays d’inscription:</strong></ion-col> <ion-col class='meta-value'> {{variete.data.pays_inscription}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Année d’inscription:</strong></ion-col> <ion-col class='meta-value'> {{variete.data.date_inscription}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Mainteneur:</strong></ion-col> <ion-col class='meta-value'> {{variete.data.mainteneur}} </ion-col> </ion-row>
          <ion-row *ngIf="variete.data.culture == 'Riz'"> <ion-col class='meta-key'><strong>Ecosystème de production:</strong></ion-col> <ion-col class='meta-value'> {{variete.data.ecosysteme_de_production}} </ion-col> </ion-row>
          <ion-row *ngIf="variete.data.culture == 'Arachide' || variete.data.culture == 'Niébé' || variete.data.culture == 'Maïs' || variete.data.culture == 'Riz' || variete.data.culture == 'Mil' || variete.data.culture == 'Sorgho'"> <ion-col class='meta-key'><strong>Cycle semis–maturité (50%) <span *ngIf="variete.data.culture == 'Arachide' || variete.data.culture == 'Niébé' || variete.data.culture == 'Maïs' || variete.data.culture == 'Riz' || variete.data.culture == 'Mil' || variete.data.culture == 'Sorgho'">(jr.):</span></strong></ion-col> <ion-col class='meta-value'> {{variete.data.cycle_semis_maturite}} </ion-col> </ion-row>
          <ion-row *ngIf="variete.data.culture == 'Manioc' || variete.data.culture == 'Igname' || variete.data.culture == 'Pomme de terre' || variete.data.culture == 'Oignon' || variete.data.culture == 'Tomate'"> <ion-col class='meta-key'><strong>Cycle plantation maturité <span *ngIf="variete.data.culture == 'Manioc' || variete.data.culture == 'Igname'">(Mois)</span><span *ngIf="variete.data.culture == 'Pomme de terre' || variete.data.culture == 'Oignon' || variete.data.culture == 'Tomate'">(jr.)</span>:</strong></ion-col> <ion-col class='meta-value'> {{variete.data.cycle_plantation_maturite}}</ion-col> </ion-row>
          <ion-row *ngIf="variete.data.culture == 'Tomate'"> <ion-col class='meta-key'><strong>Poids moyen du fruit (G):</strong></ion-col> <ion-col class='meta-value'> {{variete.data.poids_moyen_du_fruit}}</ion-col> </ion-row>
          <ion-row *ngIf="variete.data.culture == 'Tomate'"> <ion-col class='meta-key'><strong>Aptitude au transport:</strong></ion-col> <ion-col class='meta-value'> {{variete.data.aptitude_au_transport}}</ion-col> </ion-row>    
          <ion-row *ngIf="variete.data.culture == 'Oignon'"> <ion-col class='meta-key'><strong>Forme du bulbe:</strong></ion-col> <ion-col class='meta-value'> {{variete.data.forme_du_bulbe}}</ion-col> </ion-row>
          <ion-row *ngIf="variete.data.culture == 'Oignon'"> <ion-col class='meta-key'><strong>Couleur du Bulbe:</strong></ion-col> <ion-col class='meta-value'> {{variete.data.couleur_du_Bulbe}}</ion-col> </ion-row>
          <ion-row *ngIf="variete.data.culture == 'Pomme de terre'"> <ion-col class='meta-key'><strong>Forme des tubercules:</strong></ion-col> <ion-col class='meta-value'> {{variete.data.forme_des_tubercules}}</ion-col> </ion-row>
          <ion-row *ngIf="variete.data.culture == 'Maïs' || variete.data.culture == 'Mil' || variete.data.culture == 'Sorgho'"> <ion-col class='meta-key'><strong>Hauteur de plantes (CM):</strong></ion-col> <ion-col class='meta-value'> {{variete.data.hauteur_de_plantes}}</ion-col> </ion-row>
          <ion-row *ngIf="variete.data.culture == 'Sorgho'"> <ion-col class='meta-key'><strong>Type de panicule:</strong></ion-col> <ion-col class='meta-value'> {{variete.data.type_panicule}}</ion-col> </ion-row>
          <ion-row *ngIf="variete.data.culture == 'Mil'"> <ion-col class='meta-key'><strong>Aptitude au tallage:</strong></ion-col> <ion-col class='meta-value'> {{variete.data.aptitude_au_tallage}}</ion-col> </ion-row>
          <ion-row *ngIf="variete.data.culture == 'Mil'"> <ion-col class='meta-key'><strong>Longueur de la chandelle:</strong></ion-col> <ion-col class='meta-value'> {{variete.data.longueur_chandelle}}</ion-col> </ion-row>
          <ion-row *ngIf="variete.data.culture == 'Manioc' || variete.data.culture == 'Pomme de terre'"> <ion-col class='meta-key'><strong>Couleur de la peau:</strong></ion-col> <ion-col class='meta-value'> {{variete.data.couleur_peau}}</ion-col> </ion-row>
          <ion-row *ngIf="variete.data.culture == 'Igname' || variete.data.culture == 'Pomme de terre'"> <ion-col class='meta-key'><strong>Couleur de la chair:</strong></ion-col> <ion-col class='meta-value'> {{variete.data.couleur_chair}}</ion-col> </ion-row>
          <ion-row *ngIf="variete.data.culture == 'Manioc'"> <ion-col class='meta-key'><strong>Teneur en acide cyanhydrique:</strong></ion-col> <ion-col class='meta-value'> {{variete.data.teneur_en_acide_cyanhydrique}}</ion-col> </ion-row>
          <ion-row *ngIf="variete.data.culture == 'Riz'"> <ion-col class='meta-key'><strong>Type de grains:</strong></ion-col> <ion-col class='meta-value'> {{variete.data.type_de_grains}}</ion-col> </ion-row>
          <ion-row *ngIf="variete.data.culture == 'Niébé'"> <ion-col class='meta-key'><strong>Type de floraison:</strong></ion-col> <ion-col class='meta-value'> {{variete.data.type_de_floraison}}</ion-col> </ion-row>   
          <ion-row *ngIf="variete.data.culture == 'Maïs'"> <ion-col class='meta-key'><strong>Recouvrement de l’épi:</strong></ion-col> <ion-col class='meta-value'> {{variete.data.recouvrement_epi}}</ion-col> </ion-row>
          <ion-row *ngIf="variete.data.culture == 'Arachide' || variete.data.culture == 'Niébé'"> <ion-col class='meta-key'><strong>Port des plants:</strong></ion-col> <ion-col class='meta-value'> {{variete.data.port_des_plants}}</ion-col> </ion-row>
          <ion-row *ngIf="variete.data.culture == 'Arachide' || variete.data.culture == 'Niébé' || variete.data.culture == 'Maïs' || variete.data.culture == 'Sorgho'"> <ion-col class='meta-key'><strong>Couleur des graines:</strong></ion-col> <ion-col class='meta-value'> {{variete.data.couleur_des_graines}}</ion-col> </ion-row>
          <ion-row *ngIf="variete.data.culture == 'Arachide' || variete.data.culture == 'Niébé' || variete.data.culture == 'Maïs'"> <ion-col class='meta-key'><strong>Poids de 100 grains (G):</strong></ion-col> <ion-col class='meta-value'> {{variete.data.poids_de_100_grains}}</ion-col> </ion-row>
          <ion-row *ngIf="variete.data.culture == 'Riz' || variete.data.culture == 'Mil' || variete.data.culture == 'Sorgho'"> <ion-col class='meta-key'><strong>Poids de 1000 grains (G):</strong></ion-col> <ion-col class='meta-value'> {{variete.data.poids_de_1000_grains}}</ion-col> </ion-row>
          <ion-row *ngIf="variete.data.culture == 'Maïs'"> <ion-col class='meta-key'><strong>Texture du grain:</strong></ion-col> <ion-col class='meta-value'> {{variete.data.texture_du_grain}}</ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Rendement potentiel (T/ha):</strong></ion-col> <ion-col class='meta-value'> {{variete.data.rendement_potentiel}}</ion-col> </ion-row>
          <ion-row *ngIf="variete.data.culture == 'Pomme de terre' || variete.data.culture == 'Oignon'"> <ion-col class='meta-key'><strong>Aptitude à la conservation:</strong></ion-col> <ion-col class='meta-value'> {{variete.data.aptitude_a_la_conservation}}</ion-col> </ion-row>
          <ion-row *ngIf="variete.data.culture == 'Arachide' || variete.data.culture == 'Manioc' || variete.data.culture == 'Igname'"> <ion-col class='meta-key'><strong>Vocation:</strong></ion-col> <ion-col class='meta-value'> {{variete.data.vocation}}</ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Autres caractères:</strong></ion-col> <ion-col class='meta-value'> {{variete.data.autres_caracteres}}</ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Date d'enregistement:</strong></ion-col> <ion-col class='meta-value'> {{variete.data.today | date: 'dd-MM-yyyy'}}</ion-col> </ion-row>
          
        </ion-grid>
      </ion-card-content> 
    </ion-card>

    <ion-card class="info-card" *ngIf="(user && user.roles && global.estManager(user.roles)) || estManager" (dblclick)="editer(variete, true)"> 
      <ion-card-header>
        <h2 class="fond-gris"><strong>Plus d'informations</strong></h2>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row><ion-col class='meta-key'><strong>Id:</strong></ion-col> <ion-col class='meta-value'>{{variete._id}} </ion-col>   </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>No révision:</strong></ion-col> <ion-col class='meta-value'> {{variete._rev }} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Date création:</strong></ion-col> <ion-col class='meta-value'> {{variete.data.created_at | date: 'dd-MM-yyyy'}} à {{variete.data.created_at | date: 'HH:mm:ss:ms'}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Créateur:</strong></ion-col> <ion-col class='meta-value'> {{variete.data.created_by}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>ID appareil:</strong></ion-col> <ion-col class='meta-value'> {{variete.data.deviceid}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Imei:</strong></ion-col> <ion-col class='meta-value'> {{variete.data.imei}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Numéro téléphone:</strong></ion-col> <ion-col class='meta-value'> {{variete.data.phonenumber}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Date dernière mise à jour:</strong></ion-col> <ion-col class='meta-value'> {{variete.data.updatet_at | date: 'dd-MM-yyyy'}}  à {{variete.data.updatet_at | date: 'HH:mm:ss:ms'}}</ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Dernière mise à jour par:</strong></ion-col> <ion-col class='meta-value'> {{variete.data.updated_by}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>ID appareil:</strong></ion-col> <ion-col class='meta-value'> {{variete.data.update_deviceid}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Imei:</strong></ion-col> <ion-col class='meta-value'> {{variete.data.update_imei}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Numéro téléphone:</strong></ion-col> <ion-col class='meta-value'> {{variete.data.update_phonenumber}} </ion-col> </ion-row>
          <ion-row *ngIf="variete.data.deleted"> <ion-col class='meta-key'><strong>Date suppression:</strong></ion-col> <ion-col class='meta-value'> {{variete.data.deleted_at | date: 'dd-MM-yyyy'}}  à {{variete.data.deleted_at | date: 'HH:mm:ss:ms'}}</ion-col> </ion-row>
          <ion-row *ngIf="variete.data.deleted"> <ion-col class='meta-key'><strong>Supprimé par:</strong></ion-col> <ion-col class='meta-value'> {{variete.data.deleted_by}} </ion-col> </ion-row>
        </ion-grid>
      </ion-card-content> 
    </ion-card>

  </div>


<div *ngIf="ajoutForm || modifierFrom">

  <form (ngSubmit) = "actionForm()"> 
  
    <ion-item>
      <ion-label floating>Date d'ajout <span class="error-box">*</span></ion-label>
      <!--ion-datetime displayFormat="DD/MM/YYYY" formControlName="today" [(ngModel)]="today" cancelText="Annuler" doneText="Valider"></ion-datetime-->
      <ion-datetime ion-datepicker  (ionChanged)="setDate($event);" full="true" calendar="true" locale="fr-FR" clear class="ScheduleDate" displayFormat="DD/MM/YYYY" [(ngModel)]="Variete.today" name="today" cancelText="Annuler" okText="Valider" disabled></ion-datetime>
    </ion-item>

    <ion-item> 
      <ion-label floating>Culture <span class="error-box">*</span></ion-label>
      <ion-select name="culture" [(ngModel)]="Variete.culture"  cancelText="Annuler" okText="Ok" [disabled]="selectedCulture && ajoutForm">
        <ion-option *ngFor="let c of cultures" [value]=c.doc.data.nom>{{c.doc.data.nom}}</ion-option>
      </ion-select> 
    </ion-item>
    
    <ion-item>
      <ion-label floating>Dénomination (Synonymes) <span class="error-box">*</span></ion-label>
      <ion-input type="text" name="denomination" [(ngModel)]="Variete.denomination"></ion-input>
    </ion-item>
    
    <ion-item> 
      <ion-label floating>Nature génétique</ion-label>
      <ion-select name="nature_genetique" [(ngModel)]="Variete.nature_genetique"  cancelText="Annuler" okText="Ok">
        <ion-option *ngFor="let n of nature_genetiques" [value]=n>{{n}}</ion-option>
      </ion-select> 
    </ion-item>

    <ion-item>
      <ion-label floating>Obtenteur </ion-label>
      <ion-input type="text" name="obtenteur" [(ngModel)]="Variete.obtenteur"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Année d'obtension</ion-label>
      <ion-input type="number" name="date_obtention" [(ngModel)]="Variete.date_obtention"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Pays d’inscription </ion-label>
      <ion-input type="text" name="pays_inscription" [(ngModel)]="Variete.pays_inscription"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Année d’inscription</ion-label>
      <ion-input type="number" name="date_inscription" [(ngModel)]="Variete.date_inscription"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Mainteneur </ion-label>
      <ion-input type="text" name="mainteneur" [(ngModel)]="Variete.mainteneur"></ion-input>
    </ion-item>
    
    <ion-item *ngIf="Variete.culture && (Variete.culture == 'Riz')">
      <ion-label floating>Ecosystème de production </ion-label>
      <ion-input type="text" name="ecosysteme_de_production" [(ngModel)]="Variete.ecosysteme_de_production"></ion-input>
    </ion-item>

    <ion-item *ngIf="Variete.culture && (Variete.culture == 'Arachide' || Variete.culture == 'Niébé' || Variete.culture == 'Maïs' || Variete.culture == 'Riz' || Variete.culture == 'Mil' || Variete.culture == 'Sorgho')">
      <ion-label floating>Cycle semis–maturité (50%) <span *ngIf="Variete.culture && (Variete.culture == 'Arachide' || Variete.culture == 'Niébé' || Variete.culture == 'Maïs' || Variete.culture == 'Riz' || Variete.culture == 'Mil' || Variete.culture == 'Sorgho')">(jr.)</span></ion-label>
      <ion-input type="text" name="cycle_semis_maturite" [(ngModel)]="Variete.cycle_semis_maturite"></ion-input>
    </ion-item>

    <ion-item *ngIf="Variete.culture && (Variete.culture == 'Manioc' || Variete.culture == 'Igname' || Variete.culture == 'Pomme de terre' || Variete.culture == 'Oignon' || Variete.culture == 'Tomate')">
      <ion-label floating>Cycle plantation maturité <span *ngIf="Variete.culture && (Variete.culture == 'Manioc' || Variete.culture == 'Igname')">(Mois)</span><span *ngIf="Variete.culture && (Variete.culture == 'Pomme de terre' || Variete.culture == 'Oignon' || Variete.culture == 'Tomate')">(jr.)</span> </ion-label>
      <ion-input type="text" name="cycle_plantation_maturite" [(ngModel)]="Variete.cycle_plantation_maturite"></ion-input>
    </ion-item>

    <ion-item *ngIf="Variete.culture && (Variete.culture == 'Tomate')">
      <ion-label floating>Poids moyen du fruit (G) </ion-label>
      <ion-input type="text" name="poids_moyen_du_fruit" [(ngModel)]="Variete.poids_moyen_du_fruit"></ion-input>
    </ion-item>

    <ion-item *ngIf="Variete.culture && (Variete.culture == 'Tomate')">
      <ion-label floating>Aptitude au transport </ion-label>
      <ion-input type="text" name="aptitude_au_transport" [(ngModel)]="Variete.aptitude_au_transport"></ion-input>
    </ion-item>

    <ion-item *ngIf="Variete.culture && (Variete.culture == 'Oignon')">
      <ion-label floating>Forme du bulbe </ion-label>
      <ion-input type="text" name="forme_du_bulbe" [(ngModel)]="Variete.forme_du_bulbe"></ion-input>
    </ion-item>

    <ion-item *ngIf="Variete.culture && (Variete.culture == 'Oignon')">
      <ion-label floating>Couleur du Bulbe </ion-label>
      <ion-input type="text" name="couleur_du_Bulbe" [(ngModel)]="Variete.couleur_du_Bulbe"></ion-input>
    </ion-item>
    
    <ion-item *ngIf="Variete.culture && (Variete.culture == 'Pomme de terre')">
      <ion-label floating>Forme des tubercules </ion-label>
      <ion-input type="text" name="forme_des_tubercules" [(ngModel)]="Variete.forme_des_tubercules"></ion-input>
    </ion-item>

    <ion-item *ngIf="Variete.culture && (Variete.culture == 'Maïs' || Variete.culture == 'Mil' || Variete.culture == 'Sorgho')">
      <ion-label floating>Hauteur de plantes (CM)</ion-label>
      <ion-input type="text" name="hauteur_de_plantes" [(ngModel)]="Variete.hauteur_de_plantes"></ion-input>
    </ion-item>

    <ion-item *ngIf="Variete.culture && (Variete.culture == 'Sorgho')">
      <ion-label floating>Type de panicule </ion-label>
      <ion-input type="text" name="type_panicule" [(ngModel)]="Variete.type_panicule"></ion-input>
    </ion-item>

    <ion-item *ngIf="Variete.culture && (Variete.culture == 'Mil')">
      <ion-label floating>Aptitude au tallage </ion-label>
      <ion-input type="text" name="aptitude_au_tallage" [(ngModel)]="Variete.aptitude_au_tallage"></ion-input>
    </ion-item>

    <ion-item *ngIf="Variete.culture && (Variete.culture == 'Mil')">
      <ion-label floating>Longueur de la chandelle </ion-label>
      <ion-input type="text" name="longueur_chandelle" [(ngModel)]="Variete.longueur_chandelle"></ion-input>
    </ion-item>

    <ion-item *ngIf="Variete.culture && (Variete.culture == 'Manioc' || Variete.culture == 'Pomme de terre')">
      <ion-label floating>Couleur de la peau </ion-label>
      <ion-input type="text" name="couleur_peau" [(ngModel)]="Variete.couleur_peau"></ion-input>
    </ion-item>

    <ion-item *ngIf="Variete.culture && (Variete.culture == 'Igname' || Variete.culture == 'Pomme de terre')">
      <ion-label floating>Couleur de la chair </ion-label>
      <ion-input type="text" name="couleur_chair" [(ngModel)]="Variete.couleur_chair"></ion-input>
    </ion-item>
    
    <ion-item *ngIf="Variete.culture && (Variete.culture == 'Manioc')">
      <ion-label floating>Teneur en acide cyanhydrique </ion-label>
      <ion-input type="text" name="teneur_en_acide_cyanhydrique" [(ngModel)]="Variete.teneur_en_acide_cyanhydrique"></ion-input>
    </ion-item>

    <ion-item *ngIf="Variete.culture && (Variete.culture == 'Riz')">
      <ion-label floating>Type de grains </ion-label>
      <ion-input type="text" name="type_de_grains" [(ngModel)]="Variete.type_de_grains"></ion-input>
    </ion-item>

    <ion-item *ngIf="Variete.culture && (Variete.culture == 'Niébé')">
      <ion-label floating>Type de floraison </ion-label>
      <ion-input type="text" name="type_de_floraison" [(ngModel)]="Variete.type_de_floraison"></ion-input>
    </ion-item>

    <!--ion-item *ngIf="Variete.culture && (Variete.culture == 'Maïs')">
      <ion-label floating>Hauteur de plantes (CM) </ion-label>
      <ion-input type="text" name="hauteur_de_plantes" [(ngModel)]="Variete.hauteur_de_plantes"></ion-input>
    </ion-item-->

    <ion-item *ngIf="Variete.culture && (Variete.culture == 'Maïs')">
      <ion-label floating>Recouvrement de l’épi </ion-label>
      <ion-input type="text" name="recouvrement_epi" [(ngModel)]="Variete.recouvrement_epi"></ion-input>
    </ion-item>

    <ion-item *ngIf="Variete.culture && (Variete.culture == 'Arachide' || Variete.culture == 'Niébé')">
      <ion-label floating>Port des plants </ion-label>
      <ion-input type="text" name="port_des_plants" [(ngModel)]="Variete.port_des_plants"></ion-input>
    </ion-item>

    <ion-item *ngIf="Variete.culture && (Variete.culture == 'Arachide' || Variete.culture == 'Niébé' || Variete.culture == 'Maïs' || Variete.culture == 'Sorgho')">
      <ion-label floating>Couleur des graines </ion-label>
      <ion-input type="text" name="couleur_des_graines" [(ngModel)]="Variete.couleur_des_graines"></ion-input>
    </ion-item>
    
    <ion-item *ngIf="Variete.culture && (Variete.culture == 'Arachide' || Variete.culture == 'Niébé' || Variete.culture == 'Maïs')">
      <ion-label floating>Poids de 100 grains (G) </ion-label>
      <ion-input type="text" name="poids_de_100_grains" [(ngModel)]="Variete.poids_de_100_grains"></ion-input>
    </ion-item>

    <ion-item *ngIf="Variete.culture && (Variete.culture == 'Riz' || Variete.culture == 'Mil' || Variete.culture == 'Sorgho')">
      <ion-label floating>Poids de 1000 grains (G) </ion-label>
      <ion-input type="text" name="poids_de_1000_grains" [(ngModel)]="Variete.poids_de_1000_grains"></ion-input>
    </ion-item>

    <ion-item *ngIf="Variete.culture && (Variete.culture == 'Maïs')">
      <ion-label floating>Texture du grain </ion-label>
      <ion-input type="text" name="texture_du_grain" [(ngModel)]="Variete.texture_du_grain"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Rendement potentiel (T/ha)</ion-label>
      <ion-input type="text" name="rendement_potentiel" [(ngModel)]="Variete.rendement_potentiel"></ion-input>
    </ion-item>

    <ion-item *ngIf="Variete.culture && (Variete.culture == 'Pomme de terre' || Variete.culture == 'Oignon')">
      <ion-label floating>Aptitude à la conservation </ion-label>
      <ion-input type="text" name="aptitude_a_la_conservation" [(ngModel)]="Variete.aptitude_a_la_conservation"></ion-input>
    </ion-item>
    
    <ion-item *ngIf="Variete.culture && (Variete.culture == 'Arachide' || Variete.culture == 'Manioc' || Variete.culture == 'Igname')">
      <ion-label floating>Vocation </ion-label>
      <ion-input type="text" name="vocation" [(ngModel)]="Variete.vocation"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Autres caractères</ion-label>
      <ion-textarea name="autres_caracteres" [(ngModel)]="Variete.autres_caracteres" row="6"></ion-textarea>
    </ion-item>
  
    <br>
    <button ion-button type="submit" color="my_secondary" block>Sauvegarder</button>
  </form>
  <button ion-button color="my_primary" block (click)="annuler()">Fermer</button>      
  
<!--form [formGroup]="varieteForm" (ngSubmit) = "actionForm()">
  
  <ion-item>
    <ion-label floating>Date d'ajout <span class="error-box">*</span></ion-label>
    <ion-datetime displayFormat="DD/MM/YYYY" formControlName="today" [(ngModel)]="today" cancelText="Annuler" doneText="Valider" disabled></ion-datetime>
    
  </ion-item>

  <ion-item> 
    <ion-label floating>Selectionnez la culture</ion-label>
    <ion-select formControlName="culture" [(ngModel)]="culture"  cancelText="Annuler" okText="Ok" [disabled]="selectedCulture && ajoutForm">
      
      <ion-option *ngFor="let c of cultures" [value]=c.doc.data.nom>{{c.doc.data.nom}}</ion-option>
    </ion-select> 
  </ion-item>

  <ion-item>
    <ion-label floating>Code / Désignation <span class="error-box">*</span></ion-label>
    <ion-input type="text" formControlName="designation" [(ngModel)]="designation"></ion-input>
  </ion-item> 
  <div style="padding-left: 15px;" class="error-box" *ngIf="varieteForm.controls['designation'].hasError('required') && varieteForm.controls['designation'].touched">* La designation est obligatoir!</div>


  <ion-item>
    <ion-label floating>Année d'obtension <span class="error-box">*</span></ion-label>
    <ion-input type="number" formControlName="annee_obtension" [(ngModel)]="annee_obtension"></ion-input>
  </ion-item>
  <div style="padding-left: 15px;" class="error-box" *ngIf="varieteForm.controls['annee_obtension'].hasError('required') && varieteForm.controls['annee_obtension'].touched">* L'année d'obtension est obligatoir!</div>

  
  <ion-item>
    <ion-label floating>Cycle semis (jours) <span class="error-box">*</span></ion-label>
    <ion-input type="text" formControlName="cycle_semis" [(ngModel)]="cycle_semis" ></ion-input>
  </ion-item>
  <div style="padding-left: 15px;" class="error-box" *ngIf="varieteForm.controls['cycle_semis'].hasError('required') && varieteForm.controls['cycle_semis'].touched">* le cycle de semi est obligatoir!</div>
  
  <ion-item>
    <ion-label floating>Rendement (t/h) <span class="error-box">*</span></ion-label>
    <ion-input type="text" formControlName="rendement" [(ngModel)]="rendement" ></ion-input>
  </ion-item>
  <div style="padding-left: 15px;" class="error-box" *ngIf="varieteForm.controls['rendement'].hasError('required') && varieteForm.controls['rendement'].touched">* le rendement potentiel est obligatoir!</div>
  
  <ion-item>
    <ion-label floating>Longueur de l'épi (cm) <span class="error-box">*</span></ion-label>
    <ion-input type="number" formControlName="longueur_epi" [(ngModel)]="longueur_epi" ></ion-input>
  </ion-item>
  <div style="padding-left: 15px;" class="error-box" *ngIf="varieteForm.controls['longueur_epi'].hasError('required') && varieteForm.controls['longueur_epi'].touched">* la longueur de l'épi est obligatoir!</div>
   
   <ion-item>
    <ion-label floating>Précoce</ion-label>
    <ion-input type="text" formControlName="forme_epi" [(ngModel)]="forme_epi"></ion-input>
  </ion-item>
   
   <ion-item>
    <ion-label floating>Foreur de tige </ion-label>
    <ion-input type="text" formControlName="foreur_tige" [(ngModel)]="foreur_tige"></ion-input>
  </ion-item>
   
   <ion-item>
    <ion-label floating>Chenille de l'épi</ion-label>
    <ion-input type="text" formControlName="chenille_epi" [(ngModel)]="chenille_epi"></ion-input>
  </ion-item>
   
  <ion-item>
    <ion-label floating>Miidiou</ion-label>
    <ion-input type="text" formControlName="miidiou" [(ngModel)]="miidiou"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Lieu d'obtension</ion-label>
    <ion-input type="text" formControlName="lieu_obtension" [(ngModel)]="lieu_obtension"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Tél</ion-label>
    <ion-input type="text" formControlName="tel" [(ngModel)]="tel"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Cel</ion-label>
    <ion-input type="text" formControlName="cel" [(ngModel)]="cel"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Email</ion-label>
    <ion-input type="text" formControlName="email" [(ngModel)]="email"></ion-input>
  </ion-item>
  
    <br>
    <button ion-button type="submit" color="my_secondary" [disabled]="!varieteForm.valid" block>Sauvegarder</button>
  </form>
  <button ion-button color="my_primary" block (click)="annuler()">Fermer</button-->

</div>

<ion-fab bottom right *ngIf="!ajoutForm &&!detailVariete && selectedStyle != 'tableau' && ((user && user.roles && global.estAnimataire(user.roles)) || estAnimataire)" bottom>
    <button ion-fab mini (click)="ajouter()" color="my_primary"><ion-icon name="add"></ion-icon></button>
        <!--button ion-fab mini (click)="fusionnervarietes()" color="my_primary">FUS</button-->
  </ion-fab>
  


  <ion-fab bottom right *ngIf="!ajoutForm &&!detailVariete && selectedStyle == 'tableau' && ((user && user.roles && global.estAnimataire(user.roles)) || estAnimataire)">
    <button ion-fab color="fuma-green"><ion-icon name="arrow-dropup"></ion-icon></button>
    <ion-fab-list side="top"> 
      <button ion-fab mini *ngIf="varietes.length > 0" (click)="onPrint()" color="my_primary"><ion-icon name="print"></ion-icon></button>
      <button ion-fab mini *ngIf="varietes.length > 0" (click)="exportExcel()" color="my_primary"><ion-icon name="logo-windows"></ion-icon></button>
      <button ion-fab mini (click)="ajouter()" color="my_primary"><ion-icon name="add"></ion-icon></button>
      
    </ion-fab-list>
  </ion-fab>

  <ion-fab bottom right *ngIf="detailVariete">
    <button ion-fab color="fuma-green"><ion-icon name="arrow-dropup"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab mini *ngIf="(user && user.roles && global.estManager(user.roles)) || estManager" (click)="supprimer(variete)" color="delete" ><ion-icon name="trash"></ion-icon></button>
      <button ion-fab mini (click)="editer(variete)" color="my_primary" ><ion-icon name="create"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
