<ion-header>

  <ion-navbar>
    <ion-title>{{res.displayName}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p>{{res.description}}</p>
  <h2>Summaries</h2>
  <div *ngFor="let summary of res.summaries">
    <!--decimal number pipe used to round, defines min int:1, min frac:0, max frac:1-->
    <div>{{summary.display}} : {{summary.value | number:'1.0-1'}}</div>
  </div>
  <div *ngIf="summaries.length==0">There are no Summaries</div>
  <h2>visualisations</h2>
  The following graphs have been produced
  <ion-card *ngFor="let vis of res.visualisations" (click)="openVis(vis)">
  <ion-card-content>
    {{vis.type}}
  </ion-card-content>
</ion-card>
</ion-content>
