<!--
  Generated template for the ModifierProfile page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="fuma_primary">
    <ion-title>{{'MODIFIERPROFILE' | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row  class="img-container">
      <ion-col><img src="assets/images/Fuma Gaskiya Logo.png"></ion-col>
    </ion-row>
    
  <ion-row class="account-form">
    <ion-col>
      <form [formGroup]="registerForm" (ngSubmit) = "modifier()">
      <!--ion-list inset-->
 
        <ion-item>
          <ion-label><ion-icon name="person"></ion-icon></ion-label>
          <!--ion-input [(ngModel)]="nom" placeholder="Nom" type="text"></ion-input-->
          <ion-input type="text" formControlName="nom" placeholder="{{'NOMCOMPLET' | translate}}"></ion-input>
        </ion-item>
        <div style="padding-left: 15px;" class="error-box" *ngIf="registerForm.controls['nom'].hasError('required') && registerForm.controls['nom'].touched">* {{'NOMOBLIGATOIRE' | translate}}</div>
 
        <ion-item>
          <ion-label><ion-icon name="mail"></ion-icon></ion-label>
          <!--ion-input [(ngModel)]="email" placeholder="Email" type="email"></ion-input-->
          <ion-input type="Email" formControlName="email" placeholder="{{'EMAIL' | translate}}"></ion-input>
        </ion-item>
        <div style="padding-left: 15px;" class="error-box" *ngIf="registerForm.controls['email'].hasError('required') && registerForm.controls['email'].touched">* l'email est obligatoir!</div>
 
        <ion-item>
          <ion-label floating>{{'SEX' | translate}}<span class="error-box">*</span></ion-label>
          <ion-select formControlName="sex" cancelText="Annuler" okText="Ok">
            <ion-option value="" selected disabled>{{'SELECTIONNEZSEX' | translate}}</ion-option>
            <ion-option *ngIf="l == 'fr'" value="H" >Homme</ion-option>
            <ion-option *ngIf="l == 'fr'" value="F" >Femme</ion-option>
            <ion-option *ngIf="l == 'en'" value="H" >Men</ion-option>
            <ion-option *ngIf="l == 'en'" value="F" >Women</ion-option>
          </ion-select>
        </ion-item>
        <div style="padding-left: 15px;" class="error-box" *ngIf="registerForm.controls['sex'].hasError('required') && registerForm.controls['sex'].touched">* le sex est obligatoir!</div>
  
        <ion-item>
          <ion-label floating>{{'DATEENREGISTREMENT' | translate}}<span class="error-box">*</span></ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" formControlName="date" cancelText="Annuler" doneText="Valider"></ion-datetime>
        </ion-item>
        <div style="padding-left: 15px;" class="error-box" *ngIf="registerForm.controls['date'].hasError('required') && registerForm.controls['date'].touched">* la date d'enrégistrement est obligatoir!</div>
      <!--/ion-list-->
 
      <!--button ion-button (click)="register()" color="secondary" class="continue-button" [disabled]="!username || !mdpass || !confmdpass">S'enrégistrer</button-->
      <br>
      <button ion-button type="submit" [disabled]="!registerForm.valid" color="secondary" class="continue-button" block>{{'SENREGISTRER' | translate}}</button>
    </form>
    </ion-col>
  </ion-row>
</ion-content>
