// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/


// $background-color:#FCF6C7;

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #9f3302,
  primary-light: #F6ECE8,
  fuma-yellow:  #fbf2a7,
  fuma-yellow-light:  #FCF6C7,
  fuma-yellow-background:#565656,
  fuma-green:     #7DCE82,
  fuma-green-light:#F3FAF3,
  fuma-green-dark:#4b7b4e,
  fuma-purple:#6B4E71,
  fuma-purple-light:#6B4E71,
  light:      #f4f4f4,
  dark:       #222,
  delete: #f53d3d,
  fuma_primary:    #9f3302,
  my_primary:    #387ef5,
  my_secondary:  #32db64,
);

.modal-wrapper{
    position: absolute !important;
    /*overflow: hidden;
    max-width: 100vw;
    border-radius: 2px;*/
    min-width: 98vw !important;
    min-height: 97vh !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    margin: auto !important;
    /*border: 0;
    box-shadow: 0 16px 20px rgba(0,0,0,4);
    background-color: #fafafa;*/
    }

    .modal .backdrop {
      display: block !important;
    }



// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
