<!--
  Generated template for the ModifierUnion page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="fuma_primary">
    <ion-title>modifier-union</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" menuToggle><ion-icon name="settings"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<form [formGroup]="unionForm" (ngSubmit) = "modifier()">

  <ion-item>
    <ion-label floating>Date <span class="error-box">*</span></ion-label>
    <ion-datetime displayFormat="DD/MM/YYYY" formControlName="today" cancelText="Annuler" doneText="Valider" disabled></ion-datetime>
  </ion-item>

  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label floating>Pays <span class="error-box">*</span></ion-label>
        <ion-input *ngIf="union.pays_nom && union.pays != 'AUTRE'" type="text" formControlName="pays_nom" disabled></ion-input>
        <ion-input *ngIf="!union.pays_nom && union.pays != 'AUTRE'" type="text" formControlName="pays" disabled></ion-input>
        <ion-input *ngIf="union.pays == 'AUTRE'" type="text" formControlName="pays_autre" disabled></ion-input>
      </ion-item>
    </ion-col>

    <ion-col>
      <ion-item>
        <ion-label floating>Région<span class="error-box">*</span></ion-label>
        <ion-input *ngIf="union.region_nom && union.region != 'AUTRE'" type="text" formControlName="region_nom" disabled></ion-input>
        <ion-input *ngIf="!union.region_nom && union.region != 'AUTRE'" type="text" formControlName="region" disabled></ion-input>
        <ion-input *ngIf="union.region == 'AUTRE'" type="text" formControlName="region_autre" disabled></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

   <ion-row>
    <ion-col>
      <ion-item>
        <ion-label floating>Departement <span class="error-box">*</span></ion-label>
        <ion-input *ngIf="union.departement_nom && union.departement != 'AUTRE'" type="text" formControlName="departement_nom" disabled></ion-input>
        <ion-input *ngIf="!union.departement_nom && union.departement != 'AUTRE'" type="text" formControlName="departement" disabled></ion-input>
        <ion-input *ngIf="union.departement == 'AUTRE'" type="text" formControlName="departement_autre" disabled></ion-input>
      </ion-item>
    </ion-col>

    <ion-col>
      <ion-item>
        <ion-label floating>Commune<span class="error-box">*</span></ion-label>
        <ion-input *ngIf="union.commune_nom && union.commune != 'AUTRE'" type="text" formControlName="commune_nom" disabled></ion-input>
        <ion-input *ngIf="!union.commune_nom && union.commune != 'AUTRE'" type="text" formControlName="commune" disabled></ion-input>
        <ion-input *ngIf="union.commune == 'AUTRE'" type="text" formControlName="commune_autre" disabled></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-item>
    <ion-label floating>Selectionnez le village <span class="error-box">*</span></ion-label>
    <ion-select formControlName="village" [(ngModel)]="selectedVillageID" cancelText="Annuler" okText="Ok" (ionChange)="chargerAutreNomVillage(selectedVillageID)">
      <ion-option value="" selected disabled>Selectionnez le village</ion-option>
      <ion-option *ngFor="let villag of villages" [value]=villag.id >{{villag.nom}}</ion-option>
    </ion-select>
  </ion-item>
  <div style="padding-left: 15px;" class="error-box" *ngIf="unionForm.controls['village'].hasError('required') && unionForm.controls['village'].touched">* le village est obligatoir!</div>
  
  <ion-item *ngIf="selectedVillageID" [hidden]="selectedVillageID != 'AUTRE'">
    <ion-label floating>Nom village <span class="error-box">*</span></ion-label>
    <ion-input formControlName="village_autre" type="text"  [(ngModel)]="nom_autre_village" ></ion-input>
  </ion-item>
  <div style="padding-left: 15px;" class="error-box" *ngIf="unionForm.controls['village_autre'].hasError('required') && unionForm.controls['village_autre'].touched">* Le nom du village est obligatoire</div>


  <ion-item>
    <ion-label floating>Nom de l'union <span class="error-box">*</span></ion-label>
    <ion-input type="text" formControlName="nom_union"></ion-input>
  </ion-item>
  <div style="padding-left: 15px;" class="error-box" *ngIf="unionForm.controls['nom_union'].hasError('required') && unionForm.controls['nom_union'].touched">* le nom de l'union des est obligatoir!</div>
  
  <ion-item>
    <ion-label floating>Numéro d'aggrément <span class="error-box">*</span></ion-label>
    <ion-input type="text" formControlName="num_aggrement"></ion-input>
  </ion-item>
  <div style="padding-left: 15px;" class="error-box" *ngIf="unionForm.controls['num_aggrement'].hasError('required') && unionForm.controls['num_aggrement'].touched">* le numéro d'aggrément est obligatoir!</div>
  
    <br>
    <button ion-button type="submit" color="my_secondary" [disabled]="!unionForm.valid" block>Sauvegarder</button>
  </form>
  <button ion-button color="my_primary" block (click)="annuler()">Annuler</button>

</ion-content>
