.home {
  .data-loop{
    max-width:80%;
    max-height:350px;
    display:block;
    margin:auto;
    padding-bottom: 10px;
  }
  .ssd-logo{
    width:100%;
    max-width:500px;
    display: block;
    margin: auto;
  }
}
