page-modifier-type-sole {
     .error-box {
        color: red;
    }
     
    .error-border {
        color: red;
    }

    ion-auto-complete {
        width: 100%;
        //z-index: -100px;

    }
}
