
<ion-header>

  <ion-navbar>
    <ion-title>collect</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p>Current Surveys</p>
  <div *ngIf='empty'>Forms will update when there is internet access</div>
<ion-card *ngFor="let form of forms" (click)="loadForm(form)">
  <ion-card-header>
    {{form.doc.title}}
  </ion-card-header>
  <ion-card-content>
    {{form.doc.description}}
  </ion-card-content>
</ion-card>
<button ion-button *ngIf='devMode' (click)="devScripts()">Run Dev Scripts</button>

</ion-content>
