<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{'COLLECT' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <p>Choose a survey to collect data</p>
  <div *ngIf='empty'>Forms will update when there is internet access</div>
  <div class="form-container-long">
    <div class="form" *ngFor="let form of forms" (click)="loadForm(form)">
      <div class="form-title">
        <span>{{form.doc.title}}</span>
      </div>
      <div class="form-description">
        <span>{{form.doc.description}}</span>
      </div>
    </div>
  </div>
  <button ion-button *ngIf='devMode' (click)="devScripts()">Run Dev Scripts</button>
  <!--<iframe id="form-iframe" class="enketo-iframe" [src]="enketoLink" 
  sandbox="allow-forms allow-modals allow-same-origin allow-scripts allow-top-navigation"></iframe>
  <p>form view component below</p>-->
  <form-view [src]="enketoLink" [form]="enketoForm"></form-view>

</ion-content>