<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{'RESEARCH' | translate}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" menuToggle><ion-icon name="settings"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h3>{{'PUBLISHEDRESEARCH' | translate}}</h3>
        <div class="forms-container">
        <div class="form" *ngFor="let res of researchData" (click)="viewResearch(res)">
          <div class="form-title">
            {{res.doc.displayName}}
          </div>
          <ion-card-content>
            {{res.doc.description}}
          </ion-card-content>
        </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h3>{{'LIVEFORMS' | translate}}</h3>
        <div class="forms-container">
          <div class="form" *ngFor="let form of forms" (click)="viewResearch(form)">
            <div class="form-title">
              <span>{{form.doc.title}}</span>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>