<ion-header>

  <ion-navbar color="primary">

    <ion-buttons start>

      <button ion-button icon-only>
        <ion-badge color="fuma-green" item-right>{{forms.length + researchData.length}}</ion-badge>
      </button>
      <button ion-button icon-only color="royal" (click) = "sync()" >
        <ion-icon name="sync"></ion-icon>
      </button>

      <button *ngIf="aProfile == true" ion-button icon-only color="royal" (click)="profile()">
        <ion-icon name="person"></ion-icon>
      </button>

      <button *ngIf="aProfile == false" ion-button icon-only color="royal" (click)="connexion()">
        <ion-icon name="unlock"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{'RESEARCH' | translate}}</ion-title>

    <ion-buttons end>
      
      <button ion-button icon-only color="royal" (click)="option()"><ion-icon name="options"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h3>{{'PUBLISHEDRESEARCH' | translate}}</h3>
        <div class="forms-container">
        <div class="form" *ngFor="let res of researchData" (click)="viewResearch(res)">
          <div class="form-title">
            {{res.doc.displayName}}
          </div>
          <ion-card-content>
            {{res.doc.description}}
          </ion-card-content>
        </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h3>{{'LIVEFORMS' | translate}}</h3>
        <div class="forms-container">
          <div class="form" *ngFor="let form of forms" (click)="viewResearch(form)">
            <div class="form-title">
              <span>{{form.doc.title}}</span>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>