<!--
  Generated template for the RestitutionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="fuma_primary">
    <ion-buttons left>
      <button ion-button icon-only color="royal" (click)="dismiss()"> Fermer <!--ion-icon name="arrow-back"></ion-icon--></button>
    </ion-buttons> 
    <ion-title>restitution</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    
    <ion-card class="info-card">  
      <h2 class="fond-gris"><strong>Statistiques</strong></h2>
        <ion-grid>
          <ion-row> <ion-col class='meta-key'><strong>Nombre producteurs total:</strong></ion-col> <ion-col class='meta-value'> {{producteurs.length}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Nombre producteurs ayant conduit des essais:</strong></ion-col> <ion-col class='meta-value'> {{uniqueMembres.length}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Nombre producteurs ayant conduit deux essais:</strong></ion-col> <ion-col class='meta-value'> {{nbDuexEssaiTotal}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Nombre essais total:</strong></ion-col> <ion-col class='meta-value'> {{nbTotalEssa}} </ion-col> </ion-row>
          <ion-row *ngFor="let st of statistiqueTraitement"> <ion-col class='meta-key'><strong>Nombre essais {{st.nom_entree}}:</strong></ion-col> <ion-col class='meta-value'> {{st.value}} </ion-col> </ion-row> 
          <ion-row> <ion-col class='meta-key'><strong>Nombre essais sans membre:</strong></ion-col> <ion-col class='meta-value'> {{fin.length}} </ion-col> </ion-row>
          
          <ion-row> <ion-col class='meta-key'><strong>Nombre OP total:</strong></ion-col> <ion-col class='meta-value'> {{allOP.length}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Nombre OP ayant fait des essais:</strong></ion-col> <ion-col class='meta-value'> {{opEssai.length}} </ion-col> </ion-row> 
        </ion-grid>

    </ion-card>

    <ion-card  class="info-card">
      <h2 class="fond-gris"><strong>Visualisation {{selectedVar}} par membre</strong></h2>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-label floating>Choisir l'entrée</ion-label>
              <ion-select [(ngModel)]="selectedEntreeMembre" (ionChange)="changerEntree(membresData, selectedVar, selectedEntreeMembre)" cancelText="Annuler" okText="Ok" >
                <ion-option *ngFor="let e of entrees" [value]=e >{{e}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-label floating>Choisir la variable</ion-label>
              <ion-select [(ngModel)]="selectedVar" (ionChange)="changerVar(membresData, selectedVar, selectedEntreeMembre)" cancelText="Annuler" okText="Ok" >
                <ion-option value="PDE">PDE</ion-option>
                <ion-option value="NPL">NPL</ion-option>
                <ion-option value="NPR">NPR</ion-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-scroll scrollX="true" scrollY="true" style="min-height: 60vh"> 
        <!--ion-card-header  style="width: 100vw"-->
        <!--/ion-card-header-->
        <ion-row>
          <ion-col>
            <ng-template  #withFlags1 let-attrs="attrs">
              <span [innerHTML]="attrs.data.matricule_Membre | boldprefix:attrs.keyword"></span> -- <span [innerHTML]="attrs.data.nom_Membre"></span>
            </ng-template>
            <ion-auto-complete style="width: 99%" [dataProvider]="ServiceAutoCompletion" [template]="withFlags1" [options]="{ placeholder : 'Matricule producteur' }" (itemSelected)="selectMembre1($event)" ></ion-auto-complete>  
          
            <div id="visEssai"></div>
          </ion-col>
          <ion-col>
            <ng-template  #withFlags2 let-attrs="attrs">
              <span [innerHTML]="attrs.data.matricule_Membre | boldprefix:attrs.keyword"></span> -- <span [innerHTML]="attrs.data.nom_Membre"></span>
            </ng-template>
            <ion-auto-complete style="width: 99%" [dataProvider]="ServiceAutoCompletion" [template]="withFlags2" [options]="{ placeholder : 'Matricule producteur' }" (itemSelected)="selectMembre2($event)" ></ion-auto-complete>  
        
            <div id="visControle"></div>
          </ion-col>
        </ion-row>
      </ion-scroll>
    </ion-card>

    <ion-card  class="info-card">
      <h2 class="fond-gris"><strong>Visualisation différence {{selectedDiff}} et {{selectedDiff}} de {{selectedEntree}} contrôle par membre</strong></h2>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-label floating>Choisir l'entrée</ion-label>
              <ion-select [(ngModel)]="selectedEntree" (ionChange)="visualiserDifferenceEssaiControle(vegaData, selectedDiff, selectedEntree, selectedMembre1, selectedMembre2)" cancelText="Annuler" okText="Ok" >
                <ion-option *ngFor="let e of entrees" [value]=e >{{e}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-label floating>Choisir la variable</ion-label>
              <ion-select [(ngModel)]="selectedDiff" (ionChange)="visualiserDifferenceEssaiControle(vegaData, selectedDiff, selectedEntree, selectedMembre1, selectedMembre2)" cancelText="Annuler" okText="Ok" >
                <ion-option value="PDE">Différence PDE - Contrôle</ion-option>
                <ion-option value="NPL">Différence NPL - Contrôle</ion-option>
                <ion-option value="NPR">Différence NPR - Contrôle</ion-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-scroll scrollX="true" scrollY="true" style="min-height: 54vh"> 
        <!--ion-card-header  style="width: 100vw"-->
        <!--/ion-card-header-->
        <div id="visDiff"></div>
      </ion-scroll>
    </ion-card>

    <ion-card  class="info-card">
      <h2 class="fond-gris"><strong>Visualisation médiane {{selectedMed}} et {{selectedMed}} contrôle</strong></h2>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-label floating>Choisir l'entrée</ion-label>
              <ion-select [(ngModel)]="selectedEntreeMed" (ionChange)="visualiserMediane(vegaData, selectedMed, selectedEntreeMed, selectedMembre1, selectedMembre2)" cancelText="Annuler" okText="Ok" >
                <ion-option *ngFor="let e of entrees" [value]=e >{{e}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-label floating>Choisir la variable</ion-label>
              <ion-select [(ngModel)]="selectedMed" (ionChange)="visualiserMediane(vegaData, selectedMed, selectedEntreeMed, selectedMembre1, selectedMembre2)" cancelText="Annuler" okText="Ok" >
                <ion-option value="PDE">PDE</ion-option>
                <ion-option value="NPL">NPL</ion-option>
                <ion-option value="NPR">NPR</ion-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      
      <ion-scroll scrollX="true" scrollY="true" style="min-height: 54vh"> 
        <!--ion-card-header  style="width: 100vw"-->
        <!--/ion-card-header-->
        <div id="visMediane"></div>
      </ion-scroll>
    </ion-card>

    <br><br><br>
</ion-content>
