<!--
  Generated template for the DetailChamps page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="fuma_primary">
    <ion-title>detail-champs</ion-title>

    <ion-buttons end>
      <button ion-button icon-only color="royal" menuToggle><ion-icon name="settings"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
 
</ion-header>


<ion-content padding>
 <div *ngIf="!modifierForm">
    <ion-card class="info-card" (dblclick)="editer(champ, true)"> 
      <ion-card-header>
        <strong>Information champs: {{champ.data.nom}}</strong>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row> <ion-col class='meta-key'><strong>Id:</strong></ion-col> <ion-col class='meta-value'> {{champ.data.id_champs}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Nom:</strong></ion-col> <ion-col class='meta-value'> {{champ.data.nom}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Type de sole:</strong></ion-col> <ion-col class='meta-value'> {{champ.data.type_sole}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Latitude:</strong></ion-col> <ion-col class='meta-value'> {{champ.data.latitude}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Longitude:</strong></ion-col> <ion-col class='meta-value'> {{champ.data.longitude}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Superficie:</strong></ion-col> <ion-col class='meta-value'> {{champ.data.superficie}}ha </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Matricule producteur:</strong></ion-col> <ion-col class='meta-value'> {{champ.data.matricule_producteur}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Nom producteur:</strong></ion-col> <ion-col class='meta-value'> {{champ.data.nom_producteur}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Surnom producteur:</strong></ion-col> <ion-col class='meta-value'> {{champ.data.surnom_producteur}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Code union:</strong></ion-col> <ion-col class='meta-value'> {{champ.data.code_union}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Appartenance:</strong></ion-col> <ion-col class='meta-value'> {{champ.data.appartenance}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Date enregistrement:</strong></ion-col> <ion-col class='meta-value'> {{champ.data.today | date: 'dd-MM-yyyy'}}</ion-col> </ion-row>
          
          <!--ion-row> <ion-col class='meta-key'><strong>deviceid:</strong></ion-col> <ion-col class='meta-value'> {{union.data.deviceid}}</ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>imei:</strong></ion-col> <ion-col class='meta-value'> {{union.data.imei}}</ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>phonenumber:</strong></ion-col> <ion-col class='meta-value'> {{union.data.phonenumber}}</ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>start:</strong></ion-col> <ion-col class='meta-value'> {{union.data.start | date: 'dd-MM-yyyy'}} à {{union.data.start | date: 'HH:mm:ss'}}</ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>end:</strong></ion-col> <ion-col class='meta-value'> {{union.data.end | date: 'dd-MM-yyyy'}} à {{union.data.end | date: 'HH:mm:ss'}}</ion-col> </ion-row-->
        </ion-grid>
      </ion-card-content> 
    </ion-card>

    <ion-card class="info-card" (dblclick)="editer(champ, true)"> 
      <ion-card-header>
        <strong>Plus d'informations</strong>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row><ion-col class='meta-key'><strong>Id:</strong></ion-col> <ion-col class='meta-value'>{{champ._id}} </ion-col>   </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>No révision:</strong></ion-col> <ion-col class='meta-value'> {{champ._rev }} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Date création:</strong></ion-col> <ion-col class='meta-value'> {{champ.data.created_at | date: 'dd-MM-yyyy'}} à {{champ.data.created_at | date: 'HH:mm:ss:ms'}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Créateur:</strong></ion-col> <ion-col class='meta-value'> {{champ.data.created_by}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>ID appareil:</strong></ion-col> <ion-col class='meta-value'> {{champ.data.deviceid}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Imei:</strong></ion-col> <ion-col class='meta-value'> {{champ.data.imei}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Numéro téléphone:</strong></ion-col> <ion-col class='meta-value'> {{champ.data.phonenumber}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Date dernière mise à jour:</strong></ion-col> <ion-col class='meta-value'> {{champ.data.updatet_at | date: 'dd-MM-yyyy'}}  à {{champ.data.updatet_at | date: 'HH:mm:ss:ms'}}</ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Dernière mise à jour par:</strong></ion-col> <ion-col class='meta-value'> {{champ.data.updated_by}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>ID appareil:</strong></ion-col> <ion-col class='meta-value'> {{champ.data.update_deviceid}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Imei:</strong></ion-col> <ion-col class='meta-value'> {{champ.data.update_imei}} </ion-col> </ion-row>
          <ion-row> <ion-col class='meta-key'><strong>Numéro téléphone:</strong></ion-col> <ion-col class='meta-value'> {{champ.data.update_phonenumber}} </ion-col> </ion-row>
          <ion-row *ngIf="champ.data.deleted"> <ion-col class='meta-key'><strong>Date suppression:</strong></ion-col> <ion-col class='meta-value'> {{champ.data.deleted_at | date: 'dd-MM-yyyy'}}  à {{champ.data.deleted_at | date: 'HH:mm:ss:ms'}}</ion-col> </ion-row>
          <ion-row *ngIf="champ.data.deleted"> <ion-col class='meta-key'><strong>Supprimé par:</strong></ion-col> <ion-col class='meta-value'> {{champ.data.deleted_by}} </ion-col> </ion-row>
        </ion-grid>
      </ion-card-content> 
    </ion-card>
 </div>

 <div *ngIf="modifierForm">

       
<form [formGroup]="champsForm" (ngSubmit) = "modifierChamps()">

    <ion-item>
      <ion-label floating>Id champs <span class="error-box">*</span></ion-label>
      <ion-input type="text" formControlName="id_champs" [(ngModel)]="id_champs" disabled></ion-input>
    </ion-item>

   <!--ion-item> 
    <ion-label floating>Matricule producteur <span class="error-box">*</span></ion-label>
    <ion-select formControlName="matricule_producteur" [(ngModel)]="selectedProducteur" cancelText="Annuler" (ionChange)="getNomProducteur()" okText="Ok">
      <ion-option value="" selected disabled>Selectionnez le matricule du producteur</ion-option>
      <ion-option *ngFor="let p of producteurs" [value]=p.data.matricule_Membre >{{p.data.matricule_Membre}} - {{p.data.nom_Membre}}</ion-option>
    </ion-select> 
  </ion-item>
  <div style="padding-left: 15px;" class="error-box" *ngIf="champsForm.controls['matricule_producteur'].hasError('required') && champsForm.controls['matricule_producteur'].touched">* le ùatricule du producteur est obligatoir!</div-->

  <ion-item> 
    <ion-label floating>Matricule producteur <span class="error-box">*</span></ion-label>
    <ion-input type="text" formControlName="matricule_producteur" [(ngModel)]="selectedProducteur" disabled></ion-input>
  </ion-item>
  <div style="padding-left: 15px;" class="error-box" *ngIf="champsForm.controls['matricule_producteur'].hasError('required') && champsForm.controls['matricule_producteur'].touched">* le ùatricule du producteur est obligatoir!</div> 

  <ion-item> 
    <ion-label floating>Nom producteur <span class="error-box">*</span></ion-label>
    <ion-input type="text" formControlName="nom_producteur" [(ngModel)]="nom_producteur" disabled></ion-input>
  </ion-item>
  <div style="padding-left: 15px;" class="error-box" *ngIf="champsForm.controls['nom_producteur'].hasError('required') && champsForm.controls['nom_producteur'].touched">* le nom du producteur est obligatoir!</div>
  
  <ion-item> 
    <ion-label floating>Surnom producteur <span class="error-box">*</span></ion-label>
    <ion-input type="text" formControlName="surnom_producteur" [(ngModel)]="surnom_producteur" disabled></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Nom du champs <span class="error-box">*</span></ion-label>
    <ion-input type="text" formControlName="nom" ></ion-input>
  </ion-item>
  <div style="padding-left: 15px;" class="error-box" *ngIf="champsForm.controls['nom'].hasError('required') && champsForm.controls['nom'].touched">* le nom du champs est obligatoir!</div>
  
  <ion-item> 
    <ion-label floating>Modifier le type de sole <span class="error-box">*</span></ion-label>
    <ion-select formControlName="type_sole" cancelText="Annuler" okText="Ok">
      <ion-option value="" selected disabled>Selectionnez le type de sole</ion-option>
      <ion-option *ngFor="let ts of typeSoles" [value]=ts.data.nom >{{ts.data.nom}}</ion-option>
    </ion-select> 
  </ion-item>
  <div style="padding-left: 15px;" class="error-box" *ngIf="champsForm.controls['type_sole'].hasError('required') && champsForm.controls['type_sole'].touched">* le type du sole est obligatoir!</div>

  <ion-item>
    <ion-label floating>Superficie (ha) <span class="error-box">*</span></ion-label>
    <ion-input type="number" formControlName="superficie" ></ion-input>
  </ion-item>
  <div style="padding-left: 15px;" class="error-box" *ngIf="champsForm.controls['superficie'].hasError('required') && champsForm.controls['superficie'].touched">* la superficie est obligatoir!</div>

  <ion-item> 
    <ion-label floating>Appartenance <span class="error-box">*</span></ion-label>
    <ion-select formControlName="appartenance" cancelText="Annuler" okText="Ok">
      <ion-option *ngFor="let st of appartenances" [value]=st >{{st}}</ion-option>
    </ion-select> 
  </ion-item>
  <div style="padding-left: 15px;" class="error-box" *ngIf="champsForm.controls['appartenance'].hasError('required') && champsForm.controls['appartenance'].touched">* l'appartenance du sole est obligatoir!</div>

  <ion-item>
    <ion-label floating>Latitude</ion-label>
    <ion-input type="text" formControlName="latitude"  [(ngModel)]="latitude" ></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label floating>Longitude</ion-label>
    <ion-input type="text" formControlName="longitude" [(ngModel)]="longitude" ></ion-input>
  </ion-item>


    <br>
    <button ion-button type="submit" color="my_secondary" [disabled]="!champsForm.valid" block>Sauvegarder</button>
  </form>
  <button ion-button color="my_primary" block (click)="annuler()">Annuler</button>


 </div>

  <ion-fab bottom right *ngIf="!modifierForm && user && user.roles && global.estAnimataire(user.roles)" >
    <button ion-fab color="fuma-green"><ion-icon name="arrow-dropup"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab mini *ngIf="user && user.roles && global.estManager(user.roles)" (click)="supprimer(champ)" color="delete" ><ion-icon name="trash"></ion-icon></button>
      <button ion-fab mini (click)="editer(champ)" color="my_primary" ><ion-icon name="create"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

  <ion-fab bottom right *ngIf="modifierForm">
    <button ion-fab mini (click)="getPosition()"><ion-icon name="pin"></ion-icon></button>
  </ion-fab>



  <!--ion-fab bottom right>
    <button ion-fab mini (click)="editer(champ)" color="my_primary" ><ion-icon name="create"></ion-icon></button>
  </ion-fab>

  <ion-fab bottom left>
    <button ion-fab mini (click)="supprimer(champ)" color="delete" ><ion-icon name="trash"></ion-icon></button>
  </ion-fab-->


</ion-content>
