<!--
  Generated template for the ConfLocaliteEnquete page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="fuma_primary">
    <ion-title>conf-localite-enquete</ion-title>
    <ion-buttons end>
      <button ion-button icon-right (click)="close()">
        {{'CLOSE' | translate}}
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card *ngIf="confLocaliteEnquete">
    <ion-card-header>
      <h2><strong>Configuration de la localité enquêtée</strong></h2>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item-sliding>
          <ion-item>
            <p><strong>Pays: </strong> <span *ngIf="confLocaliteEnquete.pays.id != 'AUTRE'">{{confLocaliteEnquete.pays.nom}}</span>
              <span
                *ngIf="confLocaliteEnquete.pays.id == 'AUTRE'">{{confLocaliteEnquete.pays_autre}}</span>
            </p>
            <p><strong>Région: </strong> <span *ngIf="confLocaliteEnquete.region.id != 'AUTRE'">{{confLocaliteEnquete.region.nom}}</span>
              <span
                *ngIf="confLocaliteEnquete.region.id == 'AUTRE'">{{confLocaliteEnquete.region_autre}}</span>
            </p>
            <p><strong>Departement: </strong> <span *ngIf="confLocaliteEnquete.departement.id != 'AUTRE'">{{confLocaliteEnquete.departement.nom}}</span>
              <span
                *ngIf="confLocaliteEnquete.departement.id == 'AUTRE'">{{confLocaliteEnquete.departement_autre}}</span>
            </p>
            <p><strong>Commune: </strong> <span *ngIf="confLocaliteEnquete.commune.id != 'AUTRE'">{{confLocaliteEnquete.commune.nom}}</span>
              <span
                *ngIf="confLocaliteEnquete.commune.id == 'AUTRE'">{{confLocaliteEnquete.commune_autre}}</span>
            </p>
          </ion-item>
          <ion-item-options side="left">
            <button ion-button color="my_primary" (click)="modifierConfigurer(confLocaliteEnquete)">
              <ion-icon name="create"></ion-icon>
              Editer
            </button>
          </ion-item-options>

          <ion-item-options side="right">
            <button ion-button color="danger" (click)="supprimer(confLocaliteEnquete)">
              <ion-icon name="trash"></ion-icon>
              Supprimer
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <div *ngIf="!confLocaliteEnquete">
    <div class="message">La configuration de la localité enquêtée n'est pas encore définie!</div>
    <ion-fab bottom right>
      <button ion-fab mini (click)="configurer()" *ngIf="!confLocaliteEnquete" color="my_primary"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
  </div>

  <ion-fab bottom right *ngIf="confLocaliteEnquete">
    <button ion-fab mini (click)="modifierConfigurer(confLocaliteEnquete)" color="my_primary"><ion-icon name="create"></ion-icon></button>
  </ion-fab>


</ion-content>