page-loading {
  #login {
    background: #363c3d /*url("../../assets/images/fuma.png") */no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    //max-height:80vh
}

p{
    text-align:center
}

.img-container{
    display: flex;
    justify-content: center
}

ion-spinner * {
  width: 28px;
  height: 28px;
  stroke: #444;
  fill: #222;
}
img{
    max-height:100vh
}

.create-account {
    color:seagreen;
    text-decoration: underline;
    background: none;
  }

  
    .scroll-content {
      display: table !important;
      width: 100% !important;
      height: 100% !important;
  
      form {
        display: table-cell;
        vertical-align: middle;
  
        .header {
          padding-bottom: 20px;
  
          img {
            display: block;
            width: 80%;
            margin: 0 auto;
          }
        }
  
        .button.button-light.active, .button.button-light.activated {
          color: #fff;
          opacity: inherit;
        }
      }
    }
 
}
