page-profile-user {
    .aligneDate{
        text-align: right;
    }
    .text_liste{
        font-size: 12px;
    }

    img{
        object-fit: cover
    }
    ion-thumbnail{
        margin:2px
    }

    .info-card{
        background:rgba(255,255,255,0.5); 
        margin:12px 0 0 0;
        width:100%;
        // height:100%;    
    }
    .message{
        background:map-get($colors, fuma-green-dark);
        color:map-get($colors, fuma-green-light);
        width:100%
    }
    .badger-counter-item{
        background-color: rgba(0,0,0,0);
        border-bottom-width: 0;
    }
}
