<!--
  Generated template for the Profile page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="fuma_primary">
    <ion-buttons left>
      <button ion-button icon-only color="royal" (click)="dismiss()"> Fermer <!--ion-icon name="arrow-back"></ion-icon--></button>
    </ion-buttons>
    <ion-title>{{'PROFILE' | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="user">
    <h4 style="text-align: center; color: seagreen">
      Informations utilisateur
    </h4>
    <ion-card class="info-card" (dblclick)="editer(user)">
      <!--ion-card-header>
        <strong>Informations opération</strong>
      </ion-card-header-->
      <!--ion-card-content-->
      <ion-list>
        <ion-item>
          <h2><strong>Nom utilisateur:</strong> {{user.name}} </h2>
          <h2><strong>Nom:</strong> {{user.nom}} </h2>
          <h2><strong>Prénom:</strong> {{user.prenom}} </h2>
          <!--h2><strong>{{'NOMUTILISATEUR' | translate}}:</strong> {{user.name}} </h2-->
          <h2><strong>{{'EMAIL' | translate}}:</strong> {{user.email}} </h2>
          <h2><strong>{{'SEX' | translate}}:</strong> <span *ngIf="user.sex == 'H'">Homme</span> <span *ngIf="user.sex == 'F'">Femme</span> </h2>
          <h2><strong>Roles/droits:</strong> <span *ngFor="let role of user.roles; let i = index">{{role}}<span *ngIf="i < user.roles.length - 1">, </span></span></h2>
          <h2><strong>Codes unions autorisées:</strong> <span *ngFor="let cu of user.codes_unions; let i = index">{{cu}}<span *ngIf="i < user.codes_unions.length - 1">, </span></span></h2>
          
          <h2><strong>{{'DATEENREGISTREMENT' | translate}}:</strong> {{user.date | date: 'dd-MM-yyyy'}}</h2>
          
        </ion-item>
      </ion-list>
      <!--/ion-card-content-->
    </ion-card>

    <!--ion-fab bottom right>
    <button ion-fab mini (click)="editer(user)" ><ion-icon name="create"></ion-icon></button>
  </ion-fab-->

  <ion-fab bottom right >
    <button ion-fab color="fuma-green"><ion-icon name="arrow-dropup"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab (click)="editer(user, 'cpwd')" color="my_primary"><strong>CPWD</strong></button>
      <!--button ion-fab (click)="editer(user, 'cun')" color="my_primary"><strong>CUN</strong></button-->
      <button ion-fab mini (click)="editer(user)" color="my_primary"><ion-icon name="create"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
  </div>
</ion-content>
