<ion-header>

  <ion-navbar color="primary">
     <ion-buttons left>
      <button ion-button icon-only color="royal" (click)="dismiss()"> Fermer <!--ion-icon name="arrow-back"></ion-icon--></button>
    </ion-buttons> 
    <ion-title>{{'ADMIN' | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!--div *ngIf="user && user.roles && global.estManager(user.roles)">
    <p>{{ 'TOTALPROFILES' | translate }}: {{profiles.length}}</p>
    <p>{{'PENDINGAPPROVAL' | translate}}: {{pendingProfiles.length}}</p>
    <button ion-button color="fuma-green-dark" (click)="approveProfiles()">{{'APPROVEALL' | translate}}</button>
  </div-->

    <!--ion-card (click)="changeLangue()">
      <ion-item style="text-align: center">Changer la langue
      </ion-item>
    </ion-card>

  <ion-card (click)="confLocaliteEnquetee()">
    <ion-item style="text-align: center">Configuration de la localité enquêtée
    </ion-item>
  </ion-card-->

  <ion-card (click)="infoDB()">
    <ion-item style="text-align: center">Changer info DB
    </ion-item>
  </ion-card>
  
	<ion-card *ngIf="user && user.roles && global.estAnimataire(user.roles)" (click)="infoStructure()">
	  <ion-item style="text-align: center">Info structure / organisation
	  </ion-item>
  </ion-card>
  
  <ion-card (click)="updateEssaiToNewForm()">
    <ion-item style="text-align: center">Update essai
    </ion-item>
  </ion-card>

   <ion-card *ngIf="user && user.roles && global.estAdmin(user.roles)" (click)="ajouterDesignDoc()">
    <ion-item style="text-align: center">Ajouter Serveur Design Doc
    </ion-item>
  </ion-card>

  <ion-card *ngIf="user && user.roles && global.estManager(user.roles)" (click)="ajouterLoalDesignDoc()">
    <ion-item style="text-align: center">Ajouter/Mise à jour local Design Doc
    </ion-item>
  </ion-card>

  <!--ion-card *ngIf="user && user.roles && global.estManager(user.roles)" (click)="removeNouveauFilter()">
    <ion-item style="text-align: center">Supprimer nouveau filter
    </ion-item>
  </ion-card-->

  <!--ion-card *ngIf="user && user.roles && global.estManager(user.roles)" (click)="removeAncienFilter()">
    <ion-item style="text-align: center">Supprimer ancien filter
    </ion-item>
  </ion-card-->

  <ion-card *ngIf="user && user.roles && global.estManager(user.roles)" (click)="gestionPays()">
    <ion-item style="text-align: center">Geston des pays
    </ion-item>
  </ion-card>
 
  <ion-card *ngIf="user && user.roles && global.estManager(user.roles)" (click)="gestionRegions()">
    <ion-item style="text-align: center">Gestion des régions
    </ion-item>
  </ion-card>

  <ion-card *ngIf="user && user.roles && global.estManager(user.roles)" (click)="gestionDepartements()" >
    <ion-item style="text-align: center">Gestion des departments
    </ion-item>
  </ion-card>

  <ion-card *ngIf="user && user.roles && global.estManager(user.roles)" (click)="gestionCommunes()">
    <ion-item style="text-align: center">Gestion des communes
    </ion-item>
  </ion-card>

  <ion-card *ngIf="user && user.roles && global.estManager(user.roles)" (click)="gestionVillages()">
    <ion-item style="text-align: center">Gestion des villages
    </ion-item>
  </ion-card>

  <ion-card *ngIf="user && user.roles && global.estManager(user.roles)" (click)="calculNbOPUnion()">
    <ion-item style="text-align: center">Calculer nombre d'OP par unions
    </ion-item>
  </ion-card>

  <ion-card *ngIf="user && user.roles && global.estManager(user.roles)" (click)="calculNbMembreOP()">
    <ion-item style="text-align: center">Calculer nombre de membres par OP
    </ion-item>
  </ion-card>

  <!--ion-card (click)="ajouterCodeunionDansPhoto(membres)">
    <ion-item style="text-align: center">Ajouter Code union pour photo
    </ion-item>
  </ion-card-->


  
    <!--ion-card (click)="ramenerMembreDansLaBonneOP(membres)">
    <ion-item style="text-align: center">ramener Membre Dans La Bonne OP
    </ion-item>
  </ion-card>

  <ion-card (click)="ajouterCodeUnionPourOps(unions, ops)">
    <ion-item style="text-align: center">ajouter Code Union Pour Ops
    </ion-item>
  </ion-card>

  <ion-card (click)="ajouterCodeUnionPourMembres(ops, membres)">
    <ion-item style="text-align: center">ajouter Code Union Pour Membres
    </ion-item>
  </ion-card>


  <ion-card (click)="ajouterCodeUnionPourEssais(membres)">
    <ion-item style="text-align: center">ajouter Code Union Pour Essais
    </ion-item>
  </ion-card>

   <ion-card (click)="ajouterCodeUnionPourChamps(membres)">
    <ion-item style="text-align: center">ajouter Code Union Pour Champs
    </ion-item>
  </ion-card-->

  <!--ion-card (click)="completer_controle_essai()">
    <ion-item style="text-align: center">Completer données controle essais
    </ion-item>
  </ion-card>

  <ion-card (click)="reorganiser_coordonnees()">
    <ion-item style="text-align: center">Réorganiser coordonnées
    </ion-item>
  </ion-card>

  <ion-card (click)="mise_a_jour_code_union_op()">
    <ion-item style="text-align: center">Mise à jour code union pour OP
    </ion-item>
  </ion-card>

  <ion-card (click)="mise_a_jour_mbr()">
    <ion-item style="text-align: center">Mise à jours membres
    </ion-item>
  </ion-card>

  <ion-card (click)="fusionnerEssais()">
    <ion-item style="text-align: center">Fusionner les essais
    </ion-item>
  </ion-card-->


  <ion-card *ngIf="user && user.roles && global.estAdmin(user.roles)" (click)="compacteLoacalDB()">
    <ion-item style="text-align: center">Compresser la base de données locale
    </ion-item>
  </ion-card>

  <ion-card *ngIf="user && user.roles && global.estAdmin(user.roles)" (click)="compacteRemoteDB()">
    <ion-item style="text-align: center">Compresseer la base donnnées serveur
    </ion-item>
  </ion-card>

  <ion-card *ngIf="user && user.roles && global.estManager(user.roles)" (click)="viderCorbeille()">
    <ion-item style="text-align: center"  color="delete">Vider corbeille
    </ion-item>
  </ion-card>

  <ion-card *ngIf="user && user.roles && global.estManager(user.roles)" (click)="reset()">
    <ion-item style="text-align: center"  color="delete">Reset Db
    </ion-item>
  </ion-card>

  <!--ion-card (click)="culture()">
    <ion-item style="text-align: center">Cultures
    </ion-item>
  </ion-card>
  <ion-card (click)="variete()">
    <ion-item style="text-align: center">Variété
    </ion-item>
  </ion-card-->

  <!--ion-card (click)="connexion()">
    <ion-item style="text-align: center">Connexion
    </ion-item>
  </ion-card>

  <ion-card (click)="register()">
    <ion-item style="text-align: center">Register
    </ion-item>
  </ion-card>

  <ion-card (click)="profile()">
    <ion-item style="text-align: center">Profile
    </ion-item>
  </ion-card>

  <ion-card (click)="deconnexion()">
    <ion-item style="text-align: center">Déconnexion
    </ion-item>
  </ion-card-->

   <!--ion-card (click)="gestionTypeSole()">
    <ion-item style="text-align: center">Gestion type de sole
    </ion-item>
  </ion-card>

  <ion-card (click)="gestionChamps()">
    <ion-item style="text-align: center">Gestion champs
    </ion-item>
  </ion-card>

  <ion-card (click)="gestionTraitement()">
    <ion-item style="text-align: center">Gestion traitement
    </ion-item>
  </ion-card>

  <ion-card (click)="gestionEssai()">
    <ion-item style="text-align: center">Gestion Essai
    </ion-item>
  </ion-card-->

  <!--ion-card (click)="gestionUnion()">
    <ion-item style="text-align: center">Gestion unions
    </ion-item>
  </ion-card>

  <ion-card (click)="gestionOP()">
    <ion-item style="text-align: center">Gestion OP
    </ion-item>
  </ion-card-->

  <!--ion-card (click)="gestionMembre()">
    <ion-item style="text-align: center">Gestion Membres OP
    </ion-item>
  </ion-card-->
</ion-content>
